<ul class='asset-chooser' id='{{ ilk }}-chooser'>
  {% for asset in assets %}

    <li id='asset{{ asset.id }}' name='asset'
        class='asset autosave {% if asset.selected %}selected{% endif %}'
        data-asset_id='{{ asset.id }}'
        data-selected='{% if asset.selected %}yes{% endif %}'
    >
      <div class='asset-image'
           title='{{ asset.name }} {{ asset.name_ol|default_if_none:"" }}'
      >
        <img src='{{ asset.image.pinky_size }}'
             alt='{{ asset.name }} {{ asset.name_ol|default_if_none:"" }}'>
      </div>

    </li>
  {% endfor %}
</ul>
