<ul class='asset-chooser' id='shipping-option-chooser'>
  {% for shipping_option in shipping_options %}

    <li id='shipping-option{{ shipping_option.id }}' name='shipping_option'
        class='asset autosave {% if shipping_option.selected %}selected{% endif %}'
        data-shipping_option_id='{{ shipping_option.id }}'
        data-selected='{% if shipping_option.selected %}yes{% endif %}'
    >

      <div class='asset-image' title='{{ shipping_option.name }}'>
        <img src='{{ shipping_option.image.pinky_size }}' alt='{{ shipping_option.name }}'>
      </div>

    </li>
  {% endfor %}
</ul>
