{% extends "base.html" %}
{% block css %}
  <style>
    .hidden_fields, #asset_forms, .file-fields{display: none;}
    .asset{float: left;}
    .description{height: 5em;}

    #artisan_formset, #product_formset, #tool_formset, #material_formset{
      border: 5px solid gray;
    }
    .asset ul{list-style: none; text-align: center}
    .asset ul li{padding: 0}
    .asset ul li.asset_image{
      width: 200px;
      height: 200px;
      padding: 3px;
      margin: 0 auto 10px;
      border: 2px solid #F0F0F0;
    }
  </style>
{% endblock css%}

{% block javascript %}
  <script src="{{ STATIC_URL }}javascript/seller/account_edit.js"></script>
{% endblock javascript%}

{% block content %}
  {% load url from future %}
  <h1 id='title'>Seller Account</h1>

  <form action="" method="post">{% csrf_token %}
    <div id='seller_form'>
      <table>{{ seller_form.as_table }}</table>
      <!--<button type="submit">OK!</button>-->
    </div>
  </form>

  {% load image_tags %}

  <div id='asset_forms'>
    <div class='asset'>
      <ul>
        <li class='asset_image'>
          {% image asset_form.image.value %}
          <div class='image_form'>
            {{ image_form.as_form_html|safe }}
          </div>
        </li>
        <li>
          <form>
            <div class='hidden_fields'>
              {{ asset_form.ilk }}
              {{ asset_form.image }}
              {{ asset_form.DELETE }}
            </div>
            <ul>
              <li>{{ asset_form.name }}</li>
              <li>{{ asset_form.description }}</li>
              {% if 'admin_id' in request.session %}
                <li class='asset_category'>
                  {{ asset_form.category }}
                </li>
              {% endif %}
            </ul>
          </form>
        </li>
      </ul>
    </div>
    <input type='hidden' id='image_ajax_url' value='{% url 'seller:save image' %}'>
    <input type='hidden' id='csrf_token' value='{{ csrf_token }}'>
  </div>

  <ul id='asset_tabs'>
    {% for asset_ilk in asset_ilks %}
      <li id='{{ asset_ilk }}_tab' class='asset_tab'>
        <a href='#{{ asset_ilk }}_tab'>{{ asset_ilk|title }}{{ 2|pluralize }}</a>
      </li>
    {% endfor %}
  </ul>

  {% for asset_ilk in asset_ilks %}
    <div id='{{ asset_ilk }}_container' class='asset_container'>
    </div>
  {% endfor %}

{% endblock content %}
