{% extends "base.html" %}
{% block css %}
  <link href='{{ STATIC_URL }}css/seller/account_edit.css' rel='stylesheet'>
  <link href='{{ STATIC_URL }}css/seller/asset.css' rel='stylesheet'>
{% endblock css%}

{% block javascript %}
  <script src='{{ STATIC_URL }}vendor/blueimp-file-upload/js/vendor/jquery.ui.widget.js'></script>
  <script src='{{ STATIC_URL }}vendor/blueimp-file-upload/js/jquery.iframe-transport.js'></script>
  <script src='{{ STATIC_URL }}vendor/blueimp-file-upload/js/jquery.fileupload.js'></script>
  <script src='{{ STATIC_URL }}js/seller/account_edit.js'></script>
  <script src='{{ STATIC_URL }}js/seller/asset.js'></script>
{% endblock javascript%}

{% block content %}
  {% load url from future %}

  <h1 id='title'>Seller Account</h1>

  <form action="" method="post">{% csrf_token %}
    <div id='seller_form'>
      <table>{{ seller_form.as_table }}</table>
      <button type="submit">OK!</button>
    </div>
  </form>

  {% load inclusion_tags %}

  <div id='asset_forms'>
    {% asset_tag image_form asset_form %}

    {% for asset in assets %}
      {% asset_tag image_form asset_form asset %}
    {% endfor %}

    <input type='hidden' id='image_ajax_url' value='{% url 'seller:save image' %}'>
    <input type='hidden' id='asset_ajax_url' value='{% url 'seller:save asset' %}'>
  </div>

  <ul id='asset_tabs'>
    {% for asset_ilk in asset_ilks %}
      <li id='{{ asset_ilk }}_tab' class='asset-tab'>
        <a href='#{{ asset_ilk }}_tab'>{{ asset_ilk|title }}{{ 2|pluralize }}</a>
      </li>
    {% endfor %}
  </ul>

  {% for asset_ilk in asset_ilks %}
    <div id='{{ asset_ilk }}_container' class='asset-container'>
    </div>
  {% endfor %}

{% endblock content %}
