{% load url from future %}
{% load static %}
{% load account_inclusion_tags %}

<div id='asset-{{ asset.ilk }}{{ asset.rank }}' class='asset
  {% if not asset %}empty{% endif %}
'>
  <ul>
    <li class='asset-media'>
      {% image_upload_tag image_form asset=asset %}
    </li>
    <li class='asset-form'>
      <form onsubmit='return false;'>
        <div class='hidden-fields'>
          {{ asset_form.ilk }}
          {{ asset_form.rank }}
          {{ asset_form.image_url }}
          {{ asset_form.DELETE }}
        </div>
        <div class='asset-fields'>
          <ul>
            <li class='lang lang-us'>
              {{ asset_form.name }}
              <i class='delete-asset symbol-remove red'></i>
            </li>
            <li class='lang lang-ol input-append'>
              {{ asset_form.name_ol }}
              <i class='delete-asset symbol-remove red'></i>
            </li>
            <li class='lang lang-us'>
              {{ asset_form.description }}
            </li>
            <li class='lang lang-ol'>
              {{ asset_form.description_ol }}
            </li>
            <li class='asset-category'>
              {{ asset_form.category }}
            </li>
            <li class='asset-phone input-append'>
              {{ asset_form.phone }}
              <i class='symbol-phone black add-on'></i>
            </li>
          </ul>
        </div>
      </form>
    </li>
  </ul>
</div>
