{% load account_inclusion_tags %}
<div id='asset-{{ asset_form.asset_id.value }}' class='asset'>
  <ul>
    <li class='asset-media'>
      <div class='image'>
        {% if asset.image %}
          <img src="{{ asset.image.thumb_size }}" width="300" />
        {% else %}
          <img data-src="" width="300" height="225" />
        {% endif %}
      </div>
      <div class='progress-holder'>
        <div class="progress">
          <div class="bar" style="width: 0%;"></div>
        </div>
      </div>
      <div class='image-form'>
        <form>
          <div class='hidden-fields'>
            {{ image_form.timestamp }}
            {{ image_form.signature }}
            {{ image_form.api_key }}
            {{ image_form.format }}
            {{ image_form.transformation }}
            {{ image_form.tags }}
            <input class='image-input' type='hidden' id='asset_ilk' name='asset_ilk'>
          </div>
          <span class='file-wrapper'>
            {{ image_form.file }}
            <span class='file-button btn'><i class="symbol-camera"></i></span>
          </span>
        </form>
      </div>
    </li>
    <li class='asset-form'>
      <form>
        <div class='hidden-fields'>
          {{ asset_form.asset_id }}
          {{ asset_form.ilk }}
          {{ asset_form.image_url }}
          {{ asset_form.DELETE }}
        </div>
        <div class='asset-fields'>
          <ul>
            <li>
              {{ asset_form.name }}
              <i class='delete-asset symbol-remove red'></i>
            </li>
            <li>{{ asset_form.description }}</li>
            <li class='asset-category'>
              {{ asset_form.category }}
            </li>
            <li class='asset-phone'>
              {{ asset_form.phone }}
              <i class='symbol-phone  black'></i>
            </li>
          </ul>
        </div>
      </form>
    </li>
  </ul>
</div>
