{% extends "base.html" %}

{% block title %}
  {{ block.super }} Edit
{% endblock title %}

{% block css %}
  <link href='{{ STATIC_URL }}seller/css/account_edit.css' rel='stylesheet'>
  <link href='{{ STATIC_URL }}seller/css/asset.css' rel='stylesheet'>
{% endblock css%}

{% block javascript %}
  <script src='{{ STATIC_URL }}vendor/blueimp-file-upload/js/vendor/jquery.ui.widget.js'></script>
  <script src='{{ STATIC_URL }}vendor/blueimp-file-upload/js/jquery.iframe-transport.js'></script>
  <script src='{{ STATIC_URL }}vendor/blueimp-file-upload/js/jquery.fileupload.js'></script>
  <script src='{{ STATIC_URL }}seller/js/account_edit.js'></script>
  <script src='{{ STATIC_URL }}seller/js/asset.js'></script>
{% endblock javascript%}

{% block content %}
  {% load url from future %}
  {% load account_inclusion_tags %}

  <div class='row-fluid'>
    <div class='span12'>
      <h1 id='seller-title' >
        <span id='seller-page-link' class='btn btn-small'>
          <a href="{% url 'store' seller.id %}">seller public page icon</a>
        </span>
        {{ seller.name }}
        <span id='acct-details-show' class='btn btn-small'>
          <a>show/hide details icon</a>
        </span>
      </h1>
    </div>
  </div>

  <div id='seller-account' class='row-fluid'>
    <div class='span4'>

      <ul>
        <li class='seller-media'>
          <div class='image'>
            <!-- insert image or placeholder -->
            {% image_tag seller.image.id %}
          </div>
          <div class='progress-holder'>
            <div class="progress">
              <div class="bar" style="width: 0%;"></div>
            </div>
          </div>
          <div class='image-form'>
            <form>
              <div class='hidden-fields'>
                {{ image_form.timestamp }}
                {{ image_form.signature }}
                {{ image_form.api_key }}
                {{ image_form.format }}
                {{ image_form.transformation }}
                {{ image_form.tags }}
                <input class='image-input' type='hidden' id='asset_ilk' name='asset_ilk'>
              </div>
              <span class='file-wrapper'>
                {{ image_form.file }}
                <span class='file-button btn'><i class="icon-camera"></i></span>
              </span>
            </form>
          </div>
        </li>
      </ul>

    </div><!--end first span -->

    <form id='seller-form' action="" method="post">{% csrf_token %}
      <input type='hidden' id='seller_ajax_url' value='{% url 'seller:save seller' %}'>

      <div class='span3'>
        <ul class='hidden-fields'>
          <li>{{ seller_form.image_url }}</li>
        </ul>
        <ul class='seller-details'>
          <li>{{ seller_form.name }}</li>
          <li>{{ seller_form.city }}</li>
          <li>{{ seller_form.country }}</li>
          <li>{{ seller_form.coordinates }}</li>
          <li>{{ seller_form.currency }}</li>
        </ul>
      </div>

      <div class='span5'>
        <ul>
          <li>{{ seller_form.email }}</li>
          <li>{{ seller_form.phone }}</li>
          <li>{{ seller_form.bio }}</li>
        </ul>
        <button id='seller-form-submit' type="submit" class='btn'>
          Submit Form Icon
        </button>
      </div>
    </form>

  </div>

  <div id='asset-forms'>
    {% asset_tag image_form asset_form %}

    {% for asset in assets %}
      {% asset_tag image_form asset_form asset %}
    {% endfor %}

    <input type='hidden' id='asset_ajax_url' value='{% url 'seller:save asset' %}'>
  </div>

  <ul id='asset-tabs' class='nav nav-tabs'>
    {% for asset_ilk in asset_ilks %}
      <li id='{{ asset_ilk }}_tab' class='asset-tab'>
        <a>{{ asset_ilk|title }}{{ 2|pluralize }}</a>
      </li>
    {% endfor %}
  </ul>

  {% for asset_ilk in asset_ilks %}
    <div id='{{ asset_ilk }}_container' class='asset-container'>
    </div>
  {% endfor %}

{% endblock content %}
