{% extends "seller_base.html" %}
{% load url from future %}

{% block title %}
  {{ block.super }} Edit
{% endblock title %}

{% block css %}
  <link href='{{ STATIC_URL }}seller/css/account_edit.css' rel='stylesheet'>
  <link href='{{ STATIC_URL }}seller/css/asset.css' rel='stylesheet'>
  <link href='{{ STATIC_URL }}css/flags.css' rel='stylesheet'>
{% endblock css%}

{% block javascript %}
  <script src='{{ STATIC_URL }}vendor/blueimp-file-upload/js/vendor/jquery.ui.widget.min.js'></script>
  <script src='{{ STATIC_URL }}vendor/blueimp-file-upload/js/jquery.iframe-transport.min.js'></script>
  <script src='{{ STATIC_URL }}vendor/blueimp-file-upload/js/jquery.fileupload.min.js'></script>
  <script src='{{ STATIC_URL }}seller/js/account_edit.min.js'></script>
  <script src='{{ STATIC_URL }}seller/js/asset.min.js'></script>
{% endblock javascript%}

{% block admin_nav %}
  <ul class='inline pull-left'>
    <li>
      <div id='language-selector' class='btn-group'>
        <button class='btn language-btn btn-success' data-lang='ol'>
          <img src="{{ STATIC_URL }}images/flags/{{ seller.country.code }}.png">
        </button>
        <button class='btn language-btn' data-lang='us'>
          <img src="{{ STATIC_URL }}images/flags/US.png">
        </button>
      </div>
    </li>
  </ul>
{% endblock admin_nav %}

{% block content %}
  {% load account_inclusion_tags %}

  <div class='row-fluid'>
    <div class='span12'>
      <h1 id='seller-title' >
        <a href="{% url 'store' seller.id %}"
           class='symbol-name green' title='seller public page'></a>
        {% if seller.account.name %}
          {{ seller.account.name }}
        {% endif %}
      </h1>
    </div>
  </div>

  <div id='seller-account' class='row-fluid'>
    <div class='pull-left'>

      <ul>
        <li class='seller-media'>
          <div class='image'>
            <!-- insert image or placeholder -->
            {% image_tag seller.image.id %}
          </div>
          <div class='progress-holder'>
            <div class="progress progress-striped">
              <div class="bar" style="width: 0%;"></div>
            </div>
          </div>
          <div class='image-form'>
            <form>
              <div class='hidden-fields'>
                {{ image_form.timestamp }}
                {{ image_form.signature }}
                {{ image_form.api_key }}
                {{ image_form.format }}
                {{ image_form.transformation }}
                {{ image_form.tags }}
                <input class='image-input' type='hidden' id='asset_ilk' name='asset_ilk'>
              </div>
              <span class='file-wrapper'>
                {{ image_form.file }}
                <span class='file-button btn'><i class="symbol-camera"></i></span>
              </span>
            </form>
          </div>
        </li>
      </ul>

    </div>

    <input type='hidden' id='upload-url' value='{{ CLOUDINARY.upload_url }}'>
    <input type='hidden' id='download-url' value='{{ CLOUDINARY.download_url }}'>

    <form id='seller-form' action="" method="post">{% csrf_token %}
      <input type='hidden' id='save-seller-url' value='{% url 'seller:save seller' %}'>

      <div class='pull-left'>
        <ul class='hidden-fields'>
          <li>{{ seller_form.image_url }}</li>
        </ul>
        <ul class='seller-details'>
          <li class='input-prepend'>
            <i class='add-on symbol-email black' title='email'></i>
            {{ seller_form.email }}
          </li>
          <li class='input-prepend'>
            <i class='add-on symbol-phone black' title='phone number'></i>
            {{ seller_form.phone }}
          </li>
          <li class='input-prepend'>
            <i class='add-on symbol-city black' title='city'></i>
            {{ seller_form.city }}
          </li>
          <li class='input-prepend'>
            <i class='add-on symbol-country black' title='country'></i>
            {{ seller_form.country }}
          </li>
          <li class='input-prepend'>
            <i class='add-on symbol-location black' title='GPS coordinates'></i>
            {{ seller_form.coordinates }}
          </li>
          <li class='input-prepend'>
            <i class='add-on symbol-money black' title='currency'></i>
            {{ seller_form.currency }}
          </li>
        </ul>
      </div>

      <div class='pull-left'>
        <ul>
          <li class='input-prepend'>
            <i class='add-on symbol-profile black' title='name'></i>
            {{ seller_form.name }}
          </li>
          <li class='lang lang-us input-prepend'>
            <i class='add-on symbol-description black' title='bio'></i>
            {{ seller_form.bio }}
          </li>
          <li class='lang lang-ol input-prepend'>
            <i class='add-on symbol-description black' title='bio'></i>
            {{ seller_form.bio_ol }}
          </li>
        </ul>

        <button type="submit" id='seller-form-submit'
          class='symbol-go white'></button>
      </div>

    </form>

  </div>

  <div id='asset-forms'>
    {% asset_tag image_form asset_form %}

    {% for asset in assets %}
      {% asset_tag image_form asset_form asset %}
    {% endfor %}

    <input type='hidden' id='save-asset-url' value='{% url 'seller:save asset' %}'>
    <input type='hidden' id='delete-asset-url' value='{% url 'seller:delete asset' %}'>
  </div>

  <ul id='asset-tabs' class='nav nav-tabs text-center'>
    {% for asset_ilk in asset_ilks %}
      <li id='{{ asset_ilk }}_tab' class='asset-tab'>
        <a>
          <i class='symbol-{{ asset_ilk }}{{ 2|pluralize }} blue'
             title='{{ asset_ilk|title }}{{ 2|pluralize }}'>
          </i>
        </a>
      </li>
    {% endfor %}
  </ul>

  {% for asset_ilk in asset_ilks %}
    <div id='{{ asset_ilk }}_container' class='asset-container'>
    </div>
  {% endfor %}

{% endblock content %}
