{% extends "seller_base.html" %}
{% load url from future %}

{% block title %}
  {{ block.super }} Edit
{% endblock title %}

{% block css %}
  <link href='{{ STATIC_URL }}seller/css/account_edit.css' rel='stylesheet'>
  <link href='{{ STATIC_URL }}seller/css/asset.css' rel='stylesheet'>
  <link href='{{ STATIC_URL }}seller/css/image_upload.css' rel='stylesheet'>
{% endblock css%}

{% block javascript %}
  <script src='{{ STATIC_URL }}vendor/blueimp-file-upload/js/vendor/jquery.ui.widget.min.js'></script>
  <script src='{{ STATIC_URL }}vendor/blueimp-file-upload/js/jquery.iframe-transport.min.js'></script>
  <script src='{{ STATIC_URL }}vendor/blueimp-file-upload/js/jquery.fileupload.min.js'></script>
  <script src='{{ STATIC_URL }}seller/js/account_edit.min.js'></script>
  <script src='{{ STATIC_URL }}seller/js/asset.min.js'></script>
{% endblock javascript%}

{% block admin_nav %}
  <ul class='inline pull-left'>
    <li>
      <div id='language-selector' class='btn-group'>
        <button class='btn language-btn btn-success' data-lang='ol'>
          <img src="{{ STATIC_URL }}images/flags/{{ seller.country.code }}.png">
        </button>
        <button class='btn language-btn' data-lang='us'>
          <img src="{{ STATIC_URL }}images/flags/US.png">
        </button>
      </div>
    </li>
  </ul>
{% endblock admin_nav %}

{% block content %}
  {% load account_inclusion_tags %}

  <div class='row-fluid'>
    <div class='span12'>
      <h1 id='seller-title' >
        <a href="{% url 'store' seller.id %}"
           class='symbol-profile green' title='seller public page'></a>
        {% if seller.account.name %}
          {{ seller.account.name }}
        {% endif %}
      </h1>
    </div>
  </div>

  <div id='seller-account' class='row-fluid'>
    <!-- the location to upload photos to -->
    <input type='hidden' id='upload-url' value='{{ CLOUDINARY.upload_url }}'>
    <!-- to give cloudinary so they can tell our server when upload is complete -->
    <input type='hidden' id='upload-complete-url'
           value="{% url 'seller:complete upload' %}">
    <!-- for JS to check upload completion and get thumb_url -->
    <input type='hidden' id='upload-check-url'
           value="{% url 'seller:check image upload' %}">

    <input type='hidden' id='save-asset-url' value='{% url 'seller:save asset' %}'>
    <input type='hidden' id='delete-asset-url' value='{% url 'seller:delete asset' %}'>

    <div class='pull-left asset'>
      <ul>
        <li class='asset-media'>
          {% image_upload_tag seller=seller %}
        </li>
      </ul>
      <ul class='hidden-fields'>
        <input id='id_ilk' type='hidden' value='seller'>
        <input id='id_rank' type='hidden' value='0'>
      </ul>
    </div>

    <form id='seller-form' action="" method="post" onsubmit='return false;'>
      {% csrf_token %}

      <div class='pull-left'>
        <ul class='seller-details'>

          <li class='input-prepend'>
            <i class='add-on symbol-profile black' title='name'></i>
            {{ seller_form.name }}
          </li>
          <li class='lang lang-ol input-prepend'>
            <i class='add-on symbol-description black' title='bio'></i>
            {{ seller_form.bio_ol }}
          </li>

          {% if 'admin_id' in request.session %}
            <li class='lang lang-us input-prepend'>
              <i class='add-on symbol-description black' title='bio'></i>
              {{ seller_form.bio }}
            </li>
            <li class='input-prepend'>
              <i class='add-on symbol-country black' title='country'></i>
              {{ seller_form.country }}
            </li>
            <li class='input-prepend'>
              <i class='add-on symbol-city black' title='city'></i>
              {{ seller_form.city }}
            </li>
            <li class='input-prepend'>
              <i class='add-on symbol-location black' title='GPS coordinates'></i>
              {{ seller_form.coordinates }}
            </li>
          {% endif %}

        </ul>
      </div>

      <div class='pull-left'>
        <ul>

          <li class='input-prepend'>
            <i class='add-on symbol-name black' title='username'></i>
            {{ seller_form.username }}
          </li>

          <li class='input-prepend'>
            <i class='add-on symbol-email black' title='email'></i>
            {{ seller_form.email }}
          </li>
          <li class='input-prepend'>
            <i class='add-on symbol-phone black' title='phone number'></i>
            {{ seller_form.phone }}
          </li>

          {% if 'admin_id' in request.session %}
            <li class='input-prepend'>
              <i class='add-on black' title='bank name'>$</i>
              {{ seller_form.bank_name }}
            </li>
            <li class='input-prepend'>
              <i class='add-on black' title='bank account number'>#</i>
              {{ seller_form.bank_account }}
            </li>
          {% endif %}

        </ul>

        <button type="submit" id='seller-form-submit'
          class='symbol-go white'
          onclick="form.submit();"></button>
      </div>

    </form>
  </div>

  <ul id='asset-tabs' class='nav nav-tabs text-center'>
    {% for asset_ilk in asset_ilks %}
      <li id='{{ asset_ilk }}_tab' class='asset-tab'>
        <a>
          <i class='symbol-{{ asset_ilk }}{{ 2|pluralize }} blue'
             title='{{ asset_ilk|title }}{{ 2|pluralize }}'>
          </i>
        </a>
      </li>
    {% endfor %}
  </ul>

  {% for asset_ilk in asset_ilks %}
    <div id='{{ asset_ilk }}_container' class='asset-container'>
    </div>
  {% endfor %}

  <div id='asset-forms'>
    <!--a blank asset form to copy from for new assets-->
    {% asset_tag asset_form %}

    <!--existing assets-->
    {% for asset in assets %}
      {% asset_tag asset_form asset %}
    {% endfor %}
  </div>

{% endblock content %}
