{% load static %}

<div id='image-{{ilk}}{{rank}}-upload-div' class='image-upload-div'>

  <div id='image-{{ilk}}{{rank}}' class='image'>
    <img src="{{ image.thumb_size|default_if_none:'' }}"
         width="300" height="225" />
  </div>

  <div id='spinner-{{ilk}}{{rank}}' class='spinner-div'></div>

  <div id='progress-{{ilk}}{{rank}}' class="progress progress-striped">
    <div id='progress-bar-{{ilk}}{{rank}}' class="bar" style="width: 0%;"></div>
  </div>

  <div id='image-forms-{{ilk}}{{rank}}' class='image-forms'>
    <form id='data-form-{{ilk}}{{rank}}' class='data-form'
          method='post' action='{% url "seller:image form data" %}'>

      <input type='hidden' name='ilk' class='ilk'
             id='image-{{ilk}}{{rank}}-ilk'
             value='{{ ilk }}'>

      <input type='hidden' name='rank' class='rank'
             id='image-{{ilk}}{{rank}}-rank'
             value='{{ rank }}'>

    </form>

    <form id='upload-form-{{ilk}}{{rank}}' class='upload-form' onsubmit='return false;'>
      <span class='file-wrapper'>

        <input type='file' name='file' class='image-input'
               id='image-input-{{ilk}}{{rank}}'
               accept='*'
               capture='camera'>

        <span class='file-button btn symbol-camera black'></span>
      </span>
    </form>
  </div>
</div>
