{% load url from future %}
{% load static %}

<div class='image-upload-div'>
  <div class='image'>
    <img src="{{ image_url|default_if_none:'' }}"
         width="300" height="225" />
  </div>

  <div id='spinner{{ image_form.rank.value }}' class='spinner-div'></div>

  <div class="progress progress-striped">
    <div class="bar" style="width: 0%;"></div>
  </div>

  <div class='image-form'>
    <form class='data-form' method='post' action='{% url "seller:image form data" %}'>
      <div class='hidden-fields'>
        {{ image_form.ilk }}
        {{ image_form.rank }}
        <input type='hidden' class='image-save autosave' value=''
          id='image-save'
          name='image-save'
          data-ilk='{{ image_form.ilk.value }}'
          data-rank='{{ image_form.rank.value }}'
          >
      </div>
    </form>

    <form onsubmit='return false;'>
      <span class='file-wrapper'>
        {{ image_form.file }}
        <span class='file-button btn symbol-camera black'></span>
      </span>
    </form>
  </div>
</div>
