#header{border-bottom: none;}

/*LANGUAGE*/
#language-selector{
  margin: 0;
}
.language{
  padding: 5px;
  line-height: 0;
}

.lang-ol{}
.lang-us{display: none;}

/*END LANGUAGE*/

#asset-tabs{
  margin: 20px 0 10px;
}
#asset-tabs li{
  float: none;
  display: inline-block;
}
.asset-tab{
  cursor: pointer;
}

#seller-account ul{
  list-style: none;
}

#seller-account ul li:not(.lang){
  display: block;
}

#seller-form input, #seller-form select{
  max-width: 15.8em;
}
#seller-form textarea{
  min-height: 8em;
  width: 80%;
}
#seller-form li i{
  width: 1em;
}

#seller-form-submit{
}

#reset-password{cursor: pointer}

#seller-account i.add-on, #seller-account a.add-on{
  font-size: 18pt;
}

#seller-form button{
  font-size: 2.5em;
  line-height: normal;
  height: 2em;
  width: 255px;
  background-color: green;
  border-radius: 0.5em;
  margin: 0 0 0 25px;
}
