.hidden-fields, #asset-forms, .file-fields{display: none;}
.description{height: 5em;}

.asset{float: left;}

.asset ul{
  list-style: none;
  text-align: center;
}
.asset-fields ul{
  margin: auto;
}

.asset-fields > ul > li > input{
  width: 245px;
}
.asset-fields > ul > li > textarea, select{
  width: 280px;
}

.image{
  width: 300px;
  height: 225px;
  padding: 3px;
  margin: 0 auto 10px;
  border: 2px solid #F0F0F0;
}

.delete-asset{cursor: pointer;}

.soon-dead{opacity: 0.3;}

/* IMAGES */
.image-upload-div{
  height: 250px;
}
.image-upload-div div{
  margin: 0 auto;
}
