.hidden-fields{display: none;}
.description{height: 5em;}

.image{
  width: 300px;
  height: 225px;
  padding: 3px;
  margin: 0 auto 10px;
  border: 2px solid #F0F0F0;
}

.photo{
  width: 300px;
  height: 225px;
}

/* hide the "choose file input" behind button
 * http://viget.com/inspire/custom-file-inputs-with-a-bit-of-jquery
 */
.photo-form {
  position: relative;
  top: -80px;
  left: 210px;
  width: 90px;
  padding: 0;
  margin: 0;
}
.file-wrapper {
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  position: relative;
}
.file-wrapper .file-button {
  background: rgb(112, 130, 201);
  cursor: pointer;
  display: inline-block;
  padding: 5px 10px;
  border: 3px solid #F0F0F0;
}
.file-wrapper input {
  cursor: pointer;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  filter: alpha(opacity=1);
  -moz-opacity: 0.01;
  opacity: 0.01;
  font-size: 100px;
}
/* end file button hiding */

.progress {
  position: relative;
  left: 20px;
  top: -50px;
  width: 180px;
}
.bar {
    height: 18px;
    background: green;
}

.symbol-camera{
  font-size: 50px;
}
