.hidden-fields{ display: none;}

ul {
  list-style: none;
}
input{
  max-width: 150px;
}

.section-number {
  margin: 80px 10px 10px;
  font-size: 400%;
  line-height: 100%;
  background: #DDD;
}

/* PHOTOS */
.photo-uploader{}

/* ASSET CHOOSERS */
.asset-chooser{
  margin: 0 10px 10px;
}
.asset-chooser > .asset{
  padding: 15px;
  width: 103px;
  display: inline-block;
}
.asset.selected {
  background-color: #0F0;
}
.asset-image{
  width: 100px;
  height: 75px;
  background-color:; #DDD;
  border: solid 1px #999;
}
.asset-name{
  text-align: center;
}

#measurements-section li{
  display: list-item;
}

/* SUMMARY */
.summary-photo{
  vertical-align: middle;
}
.summary-photo > img{
  background-color: #DDD;
  width: 100px;
  height: 75px;
  border: none;
}
#summary-show-more{
  text-decoration: underline;
  cursor: pointer;
}
.summary-detail{
  display: none;
}
.summary-submit{
  width: 100px;
  height: auto;
  text-align: center;
  vertical-align: middle;
}


/* input fields */
#price-section li *, #measurements-section li *, #summary-section li *{
  min-height: 40px;
  font-size: 30px;
}
#measurements-section li .add-on:last-child{
  width: 2em;
  line-height: normal;
}
