.hidden-fields{ display: none;}

ul {
  list-style: none;
}
input{
  max-width: 150px;
}

/* PHOTOS */
.photo-uploader{}

/* ASSET CHOOSERS */
.asset-chooser{
  margin: 10px;
}
.asset-chooser > .asset{
  padding: 15px;
}
.asset.selected {
  background-color: #0F0;
}
.asset-image{
  width: 100px;
  height: 75px;
  background-color: #DDD;
  border: solid 1px #999;
}
.asset-name{
  text-align: center;
}

#measurements-section li{
  display: list-item;
}

/* SUMMARY */
.summary-photo{
  vertical-align: middle;
}
.summary-photo > img{
  background-color: #DDD;
  width: 100px;
  height: 75px;
  border: none;
}
#summary-show-more{
  text-decoration: underline;
  cursor: pointer;
}
.summary-detail{
  display: none;
}
.summary-submit{
  width: 100px;
  height: auto;
  text-align: center;
  vertical-align: middle;
}


/* input fields */
#price-section li *, #measurements-section li *, #summary-section li *{
  min-height: 40px;
  font-size: 30px;
}

.symbol{
  line-height: 40px;
  padding-left: 40px;
}
.symbol.width {
  background: url(http://s3.amazonaws.com/anou/images/eldorado/finance/052.png) center left no-repeat;
}
.symbol.length {
  background: url(http://s3.amazonaws.com/anou/images/eldorado/finance/056.png) center left no-repeat;
}
.symbol.height {
  background: url(http://s3.amazonaws.com/anou/images/eldorado/finance/054.png) center left no-repeat;
}
.symbol.weight {
  background: url(http://s3.amazonaws.com/anou/images/eldorado/layout/035.png) center left no-repeat;
}
.symbol.money {
  background: url(http://s3.amazonaws.com/anou/images/eldorado/finance/042.png) center left no-repeat;
}
.symbol.shipping {
  background: url(http://s3.amazonaws.com/anou/images/eldorado/transport/003.png) center left no-repeat;
}
.symbol.fee {
  background: url(http://s3.amazonaws.com/anou/images/eldorado/finance/001.png) center left no-repeat;
}
.symbol.total {
  background: url(http://s3.amazonaws.com/anou/images/eldorado/basic/058.png) center left no-repeat;
}
.symbol.USD {
  background: url(http://s3.amazonaws.com/anou/images/eldorado/finance/047.png) center left no-repeat;
}
