
.hidden-fields{display: none;}

ul {
  list-style: none;
}
input{
  max-width: 150px;
}

#header{
  border-bottom: none;
}

#product-edit-form{
  max-width: 600px;
  float: right;
}

#floating-photo{
  position: fixed;
  top: 100px;
  left: 150px;
}

.section table{
  margin: 1.25em auto;
}
.section input{
  height: 1em;
  font-size: 3em;
  width: 3em;
  text-align: center;
}
.section table i, .section table .units {
  font-size: 4em;
  padding: 0 .2em;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.section-number {
  margin: 80px 10px 10px;
  font-size: 600%;
  line-height: 100%;
  color: #9595A0;
}
.section-number.first{
  margin: 0 10px 10px;
}

/* PHOTOS */
.photo-upload-div{
  height: 250px;
}
.photo-upload-div div{
  margin: 0 auto;
}

/* ASSET CHOOSERS */
.asset-chooser{
  margin: 0 10px 10px;
}
.asset-chooser > .asset{
  padding: 15px;
  width: 103px;
  display: inline-block;
}
.asset.selected {
  background-color: #0F0;
  border-radius: 20px;
  overflow: hidden;
}
.asset-image{
  width: 100px;
  height: 75px;
  background-color: #DDD;
  border: solid 1px #999;
  border-radius: 10px;
  overflow: hidden;
}
.asset-name{
  text-align: center;
}

#measurements-section li{
  display: list-item;
}

/* input fields */
#price-section li *, #measurements-section li *, #summary-section li *{
  min-height: 40px;
  font-size: 30px;
}
#measurements-section li .add-on:last-child{
  width: 2em;
  line-height: normal;
}

.exit-button button{
  opacity: 0.01;
}

/* SUMMARY */
.summary-info{
  height: 80px;
  font-size: 130%;
  z-index: 5;
  position: relative;
  background-color: rgba(255, 255, 255, 0.4);
}
.summary-info .total-cost{
  cursor: pointer;
}
.summary-image{
  position: relative;
  top: -80px;
  z-index: 0;
}

.summary-info .number{
  font-size: 2em;
  font-weight: 900;
  line-height: 1.2em;
}
.summary-image img{
  background-color: #EEE;
  width: 300px;
  height: 225px;
  border: none;
}
button.symbol-go{
  font-size: 1.5em;
  line-height: normal;
  height: 1.8em;
  min-width: 2em;
  background-color: green;
  border-radius: 0.5em;
}
#summary-section button{
  font-size: 2.5em;
  width: 310px;
  position: relative;
  top: -75px;
  margin: 0.5em;
}

.extra{
  display: none;
}

/*Confirmation*/
#confirmation{
  text-align: center;
  display: none;
}
#confirmation .product-id{
  position: relative;
  z-index: 5;
  background-color: rgba(255, 255, 255, 0.5);
  height: 4em;
  padding: 0.5em;
}
#confirmation .product-id-tag i{
  font-size: 4em;
  line-height: normal;
}
#confirmation .product-id-number{
  font-size: 3.5em;
  font-weight: 900;
  color: #000;
  position: relative;
  top: -0.8em;
}
#confirmation .image{
  position: relative;
  top: -75px;
  z-index: 0;
}
#confirmation .image img{
  background-color: #EEE;
  width: 300px;
  height: 225px;
  border: none;
}

.attention {
  background-color: rgba(245, 0, 0, 0.3);
}
