.hidden-fields, #asset_forms, .file-fields{display: none;}
.asset{float: left;}
.description{height: 5em;}

.asset ul{list-style: none; text-align: center}
.asset-fields ul{margin: auto;}
.image{
  width: 200px;
  height: 200px;
  padding: 3px;
  margin: 0 auto 10px;
  border: 2px solid #F0F0F0;
}

/* hide choose file button behind button
 * http://viget.com/inspire/custom-file-inputs-with-a-bit-of-jquery
 */
.asset-media {
  height: 220px;
}
.image-form {
  position: relative;
  top: -66px;
  left: 62px;
}
.file-wrapper {
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  position: relative;
}
.file-wrapper .file-button {
  background: rgb(112, 130, 201);
  cursor: pointer;
  display: inline-block;
  padding: 10px 20px;
}
.file-wrapper input {
  cursor: pointer;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  filter: alpha(opacity=1);
  -moz-opacity: 0.01;
  opacity: 0.01;
  font-size: 100px;
}
/*.bar {
    height: 18px;
    background: green;
}*/
