{% extends "admin_base.html" %}


{% block css %}
  <style>
    .page-title{float: left;}

    #sms-form{float: left; padding: 21m;}
    #sms-form #id_to_number{width: 7em;}
    #sms-form #id_message{width: 22em; height: 2em;}
    #sms-form #id_order{width: 3.5em;}
    #sms-form i{font-size: 16pt}

    .incoming{background-color: rgb(218, 253, 218);}
    .outgoing{background-color: rgb(225, 225, 252);}
  </style>
{% endblock css %}

{% block logo %}
  <i class='symbol-SMS black'></i>
{% endblock logo %}

{% block content %}

<form id='sms-form' action="{% url 'admin:send sms'%}" method="post">{% csrf_token %}
  <ul class='inline' style="white-space: nowrap">
    <li class='input-prepend'>
      <i class='add-on symbol-phone black' title='phone number'></i>
      {{ form.to_number }}
    </li>
    <li class='input-prepend'>
      <i class='add-on symbol-orders black' title='order number'></i>
      {{ form.order }}
    </li>
    <li>
      <button type='submit' class='btn btn-large symbol-go green' title='send'></button>
    </li>
  </ul>
  <ul class='inline'>
    <li>{{ form.message }}</li>
  </ul>
</form>
<br>
<table class='table table-hover table-condensed'>

  {% for sms in sms_messages %}
    <tr class='{% if sms.incoming %}incoming{% else %}outgoing{% endif %}'>

      <td>{{ sms.created_at|date:"m/d H:i" }}</td>

      {% if sms.to_number in anou_phones %}
        <td style='text-align: center;'>IN</td>
      {% else %}
        <td style='text-align: center;'>OUT</td>
      {% endif %}

      <td>
        {% if sms.seller %}
          <i class='symbol-name' title='{{ sms.seller.name }}'></i>
        {% endif %}
      </td>
      <td>{{ sms.phone_number }}</td>

      <td>{{ sms.message|linebreaksbr }}</td>

      <td class='{% if sms.auto_reply %}outgoing{% endif %}'>
        {% if sms.auto_reply %}{{ sms.auto_reply }}{% endif %}
      </td>

    </tr>
  {% endfor %}

</table>
{% endblock content %}
