{% extends "admin_base.html" %}

{% block content %}

<h3>ALL SMS MESSAGES</h3>

<table class='table table-hover table-condensed'>
  <thead>
    <td>DATE&nbsp;&nbsp;TIME</td>
    <td>INCOMING/OUTGOING</td>
    <td></td>
    <td>PHONE</td>
    <td>MESSAGE</td>
    <td>ORDER#</td>
    <td>AUTO-REPLY</td>
  </thead>

  {% for sms in sms_messages %}
    <tr>
      <td>{{ sms.created_at|date:"m/d H:i" }}</td>

      {% if sms.to_number == anou_phone %}
        <td style='text-align: center;'>INCOMING</td>
      {% else %}
        <td style='text-align: center;'>OUTGOING</td>
      {% endif %}

      <td>
        <i class='symbol-name'
           title='{% if sms.seller %}{{ sms.seller.name }}{% else %}?{% endif %}'>
        </i>
      </td>
      <td>{{ sms.phone_number }}</td>

      <td>{{ sms.message }}</td>
      <td>
        {% if sms.order %}{{ sms.order.id }}{% endif %}
      </td>

      <td>
        {% if sms.auto_reply %}{{ sms.auto_reply }}{% endif %}
      </td>

    </tr>
  {% endfor %}

</table>

<p class='text-center' style='text-decoration: underline; font-size: 20pt;'>
  see Tom for more
</p>

{% endblock content %}
