waitress==0.8.9
Django==1.7.1
dj-database-url==0.3.0
dj-static==0.0.6
gunicorn==19.1.1
psycopg2==2.5.1
static==0.4
wsgiref==0.1.2
django-storages==1.1.6
boto==2.34.0
numpy==1.9.1
pycrypto==2.6.1
cloudinary
newrelic
python-binary-memcached
django-bmemcached
requests
virtualenv==1.8.2
raven>=3