Django==1.4
MySQL-python==1.2.3
PIL==1.1.7
South==0.7.6
ajaxuploader==0.2.4
boto==2.8.0
distribute==0.6.28
dj-database-url==0.2.1
django-storages==1.1.6
easy-thumbnails==1.2
gunicorn==0.17.2
numpy==1.6.2
psycopg2==2.4.5
pycrypto==2.6
simplejson==3.1.2
virtualenv==1.8.2
cloudinary
