<html><body style="width: 100%; max-width: 600px;">
<table width="100%" cellpadding="0" cellspacing="0" align="center"><tr><td>

<table width="95%" cellpadding="0" cellspacing="0" align="center" style="padding-top:10px">
  <tr>
    <td>
      <a href="http://www.theanou.com">
        <img src="http://s3.amazonaws.com/anou/images/Anou_logo_80x50.png"
            alt="Anou" style="display:block;">
      </a>
    </td>
    <td align="right"
        style="font-family:'Trebuchet MS',Helvetica,sans-serif;font-size:16px;color:#666666;">
      {% block snippet %}
        A message for you from Anou!
      {% endblock snippet %}
    </td>
  </tr>
  <tr><td style="height:2px;padding-top:10px;" colspan="2" height="2">
    <hr style="color:#407BD9;">
  </td></tr>
  <tr>

    <td colspan="2"
        style="padding-top:26px;padding-bottom:4px;" >
      <span style="font-family:'Trebuchet MS',Helvetica,sans-serif;font-size:22px;color:#000;font-weight:bold;">
        {% block headline %}{% endblock headline %}
      </span>
    </td>
  </tr>

  <tr>
    <td colspan="2" style="padding-top:4px;padding-bottom:18px;">
      <span style="font-family:'Trebuchet MS',Helvetica,sans-serif;font-size:16px;color:#333333;">
        {% block tagline %}{% endblock tagline %}
      </span>
    </td>
  </tr>

  <tr>
    <td colspan="2" style="padding-top:20px;padding-bottom:26px;
    border-top-style:solid;border-top-color:#f2f2f2;border-top-width:1px;
    border-bottom-style:solid;border-bottom-color:#f2f2f2;border-bottom-width:1px;">
      <span style="font-family:'Trebuchet MS',Helvetica,sans-serif;font-size:16px;color:#333333;">
        {% block body %}{% endblock body %}
      </span>
    </td>
  </tr>

  <tr>
    <td colspan="2" style="padding-top:20px;padding-bottom:26px;">
      <span style="font-family:'Trebuchet MS',Helvetica,sans-serif;font-size:16px;color:#333333;">
        {% block closing %}{% endblock closing %}
      </span>
    </td>
  </tr>
</table>

<table width="100%;" bgcolor="#f7f7f7" cellpadding="0" cellspacing="0"><tr><td>
  <table width="95%" cellpadding="0" cellspacing="0" align="center" style="padding-top:24px;padding-bottom:27px;font-size:14px;color:#999;line-height:17px;"><tr><td>

  <span style="display:block;padding-bottom:8px;font-family:'Trebuchet MS',Helvetica,sans-serif;font-size:14px;color:#777777;">

    Connect with Us:<br>
    <a href="https://www.facebook.com/thean0u">on Facebook</a>
    <br>
    <a href="http://www.theanou.com/blog">on our Blog</a>
    <br>
    <a href="http://www.theanou.com/about">Learn More About Us</a>

  </span>

</td></tr></table>
</td></tr></table>

</td></tr></table>
</body></html>
