{% extends "base.html" %}

{% block title %}
  Seller
{% endblock title %}

{% block header %}
  <div id='base-logo' class='pull-left'>
    <a href="{% url 'home' %}">
      <img src="{{ STATIC_URL }}images/Anou_logo_80x50.png" alt="Anou Homepage">
    </a>
  </div>

  {% if 'admin_id' in request.session %}
    {% block admin_nav %}{% endblock admin_nav %}
  {% endif %}

  <div id='base-navigation'>
    <ul class='pull-right'>

      {% if 'admin_id' in request.session %}
        <li>
          <a id='admin-dashboard'
             href="{% url 'admin:home' %}"
             class='symbol-admin-dashboard blue'
             title='Admin Dashboard'>
          </a>
        </li>
      {% endif %}

      <li>
        <a href="{% url 'seller:home' %}"
           class='symbol-go anou-blue' title='artisan account'>
        </a>
      </li>

    </ul>
  </div>
{% endblock header %}

{% block google_analytics_tracking_id %}UA-43146187-4{% endblock %}

