{% extends "base.html" %}
{% load url from future %}

{% block title %}
  {{ block.super }} Seller
{% endblock title %}

{% block header %}
  <div id='base-logo' class='pull-left'>
    <a href="{% url 'home' %}">
      <img src="{{ STATIC_URL }}images/Anou_logo_80x50.png" alt="Anou logo">
    </a>
  </div>
  <div id='base-navigation'>
    <ul class='pull-right'>

      <li>
        <a href="{% url 'admin:logout' %}"
           class='symbol-logout red' title='logout'>
        </a>
      </li>

      <li>
        <a href="{% url 'seller:management home' %}"
           class='symbol-blue-arrow anou-blue' title='artisan account'>
        </a>
      </li>

    </ul>
  </div>
  <div id='messages' class='pull-left'>
    {% if messages %}
      <ul>
        {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
{% endblock header %}

{% block content %}
  {% load inventory_inclusion_tags %}


  <div id='seller-title' class='row-fluid'>

    <div class='span3'>
      <img src="{{ seller.image.thumb }}">
    </div>

    <div class='span9'>
      {% if seller %}
        <h2 id='seller-title'>
          <a href="{% url 'store' seller.id %}"
             class='symbol-profile green' title='seller public page'></a>
          {{ seller.name }}
          <a href="{% url 'seller:edit' %}"
             class='symbol-assets green' title='edit account'></a>
        </h2>
      {% endif %}

      <div id='management-nav'>
        <ul class='nav nav-tabs'>
          <li class='{% block new_product_active %}{% endblock %}'>
            <a href="{% url 'seller:inventory create' %}"
               class='symbol-product-add green' title='Add Product'></a>
          </li>
          <li class='{% block catalog_active %}{% endblock %}'>
            <a href="{% url 'seller:management catalog' %}"
               class='symbol-catalog green' title='Product Catalog'></a>
          </li>
          <li class='{% block orders_active %}{% endblock %}'>
            <a href="{% url 'seller:management orders' %}"
               class='symbol-product-check green' title='Sold Products'></a>
          </li>
          <li class='{% block inventory_active %}{% endblock %}'>
            <a href="{% url 'seller:management home' %}"
               class='symbol-products green' title='Current Products'></a>
          </li>
        </ul>
      </div>

    </div>

  </div>

  {% block seller_page_content %}
  {% endblock seller_page_content %}

{% endblock content %}
