
.thumbnail{
  padding: 1em 0em 1em 1em;
  margin: 1em 0;
}
#items .details ul{
  list-style: none;
}
#summary ul, #mini-summary ul{
  list-style: none;
}

#items .details li, #summary li, #mini-summary li{
  font-size: 1.2em;
  line-height: 1.2em;
}

#items .details .price, #summary{
  font-weight: 700;
}
#items .details .remove a{
  text-decoration: underline;
}

#information .well{
  margin: 1em;
}

fieldset legend{
  margin: 0;
}
.help-inline{
  display: none;
}

.required:not(.saved) {
  border-color: #0088cc !important;
}

#email-suggestion{
  display: none;
}
#suggested-email{
  cursor: pointer;
}

#id_address_name, #id_address1, #id_address2{width: 250px;}
#id_city, #id_postal_code{width: 150px;}
#id_state, #id_country{width: 100px;}
#id_notes, #id_receipt{width: 250px;}

#submit-div .admin-checkout-error, #submit-div .admin-checkout-success{
  display: none;
}
