body{min-width: 620px;}/* for the wepay iframe */

.thumbnail{
  padding: 1em 0em 1em 1em;
  margin: 1em 0;
}
#items .details ul{
  list-style: none;
  padding: 1em 1em 0 1em;
}
#summary ul, #mini-summary ul{
  list-style: none;
  padding: 0 0 0 1em;
}

/*#customer-info.part2, #payment.part3, #cart-shortcut{*/
  /*display: none;*/
/*}*/

#items .details li, #summary li, #mini-summary li{
  font-size: 1.7em;
  line-height: 1.5em;
  text-align: right;
}

#items .details .price, #summary{
  font-weight: 700;
}
#items .details .remove a{
  text-decoration: underline;
}

#information .well{
  margin: 1em;
}

#checkout-form .wepay-widget-input{
  height: 2em;
}

#checkout-form{
  margin-top: 50px;
  text-align: center;
}
fieldset legend{
  margin: 0;
}
.help-inline{
  display: none;
}

#email-suggestion{
  display: none;
}
#suggested-email{
  cursor: pointer;
}

#payment{
  border: dotted 2px grey;
  width: 620px;
  text-align: center;
  margin: 15px 0;
}
#wepay-payment{
  margin: 8px;
}

#manual-checkout-form #address-div{margin: 5% 0;}

#id_address_name, #id_address1, #id_address2{width: 350px;}
#id_city, #id_postal_code{width: 250px;}
#id_state, #id_country{width: 100px;}
#id_notes, #id_receipt{width: 350px;}

#submit-div{padding: 2em 0;}
#submit-div .admin-checkout-error, #submit-div .admin-checkout-success{
  display: none;
}
