@media (max-width: 980px) {
  #body{margin-top:0px;}
}
#header{border: none;}

.left-navigation li{
  padding: 0.1em 0;
  max-width: 160px;
}
.left-navigation li a{
  padding: 0.5em 1.5em 0.5em 0;
  font-size: 24pt;
}

.top-navigation li{
  padding: 2em .5em;
}

/* SUBSCRIBE FORM */
#subscribe-text{line-height: 2em;}
#subscribe-form{margin: 1em;}
#subscribe-email, #subscribe-name{padding: 1em;}

#subscribe-buttons button:nth-child(2),
#subscribe-buttons button:nth-child(3),
#subscribe-buttons button:nth-child(4){display: none;}

.help-inline{display: none;}
#email-suggestion{display: none;}
#suggested-email{cursor: pointer;}

/* SEARCH TOOLBAR */
#search-toolbar{
  background-color: rgba(0,0,0,0.3);
  padding: 10px 10px 0;
  margin: 0;
}

/* PRODUCT CONTAINER */
#product-container{
  width: 100%;
}
#product-container .product{
  cursor: pointer;
  margin: 1em 0;
}

.product a{
  text-decoration: none;
}
.product .title{
  z-index: 5;
  height: 0em;
  text-align: center;
}

.product .title .name{
  padding: 0.5em 0 0;
  font-size: 18pt;
}
.product .title .city{
  padding:  0 0 0.5em;
  font-size: 12pt;
}
.product .title .name, .product .title .city{
  margin: 0 auto;
  color: rgba(0,0,0,0.9);
  background-color: rgba(200,200,200,0.5);
  max-width: 100%;
}
.hover-show{display: none;}

.product .photo{
  z-index: -1;
  position: relative;
  top: 0em;
  text-align: center;
}

.product .photo img{
  border-radius: 4px;
}

.product .artisan{
  height: 5em;
  position: relative;
  top: -5em;
}
.product .artisan img{
  height: 5em;
  display: none;
}
