@media (max-width: 980px) {
  #body{margin-top:0px;}
}

.left-navigation li{
  padding: 0.1em 0;
  max-width: 160px;
}
.left-navigation li a{
  padding: 0.5em 1.5em 0.5em 0;
  font-size: 24pt;
}

.top-navigation li{
  padding: 2em .5em;
}

#search-toolbar{
  background-color: rgba(0,0,0,0.3);
  padding: 10px 10px 0;
  margin: 0;
}

/* Product Container */
#product-container{
  width: 100%;
  margin: 4em 0 0;
}
#product-container .product{
  cursor: pointer;
}

.product .title{
  z-index: 5;
  height: 0em;
  text-align: center;
}
.product .title h3{
  margin: 0 auto;
  padding: 0.5em 0;
  font-size: 18pt;
  color: rgba(0,0,0,0.9);
  background-color: rgba(200,200,200,0.5);
  max-width: 300px;
}

.product .photo{
  z-index: -1;
  position: relative;
  top: 0em;
  text-align: center;
}

.product .artisan{
  height: 4em;
  position: relative;
  top: -4em;
}
.product .artisan img{
  height: 4em;
  display: none;
}
