@media (max-width: 980px) {
  #body{margin-top:0px;}
}

.left-navigation li{
  padding: 0.1em 0;
  max-width: 160px;
}
.left-navigation li a{
  padding: 0.5em 1.5em 0.5em 0;
  font-size: 24pt;
}

.top-navigation li{
  padding: 2em .5em;
}

#anou-carousel{
  margin: 0 0 10px;
}


#search-toolbar{
  background-color: rgba(0,0,0,0.3);
  padding: 10px 10px 0;
  margin: 0;
}

.carousel-caption > a, p, h1, h2, h3, h4, h5, h6{
  color: #BBB;
  text-align: center;
}

/* Product Container */
#product-container{
  width: 100%;
  margin: 10px 0 0;
}
#product-container .product{
  cursor: pointer;
}

.right-side, .left-side{
  max-width: 300px;
}

.product{
  margin: 2% 1% -7em;
  line-height: normal;
}

.product .title{
  z-index: 5;
  height: 3em;
  text-align: center;
}
.product .title p{
  padding: 0.5em 0;
  font-size: 16pt;
  color: rgba(0,0,0,0.7);
  background-color: rgba(200,200,200,0.5);
}

.product .photo{
  z-index: -1;
  position: relative;
  top: -3em;
}

.extra{
  /*display: none;*/
  position: relative;
  top: -7em;
  height: 4em;
}
.extra img{
  max-height: 4em;
}

.extra .details{
  text-align: center;
}
