
#product div{
  text-align: center;
}

#photos{
  max-width: 800px;
  margin: auto;
}
#pinkies{
  background-color: rgba(0,0,0,0.2);
  max-height: 85px;
}
#pinkies .thumbnails li{
  max-width: 100px;
  padding: 5px 5px 5px 0;
  margin: 0;
}
#pinkies .thumbnails li:first-child{
  padding-left: 5px;
  max-width: 105px;
}
#pinkies .thumbnail{
  opacity: 1;
  border: none;
  box-shadow: 0 0 0 0;
  padding: 0;
  margin: 0;
}
#pinkies .thumbnail:hover{
  opacity: 0.7;
  cursor: pointer;
}

#buying-table{
  width: 100%;
  text-align: left;
}

#buying-table .price{
  width: 50%;
  font-size: 2.5em;
  line-height: 1em;
  font-weight: 600;
  text-align: right;
  padding: 0 0.5em;
}
#buying-table .price-qualifier{
  font-size: 1.0em;
  font-weight: 600;
}

#buy-button{
  width: 90%;
  padding: 0.3em 0.3em;
  font-size: 3em;
  line-height: 1em;
}

#artisan > *{
  margin: 0;
  padding: 0;
}
#artisan-image{
  width: 100%;
  padding-bottom: 0.5em;
}
#artisan-name{
  margin: -0.4em 0;
}
#store-name{
  margin: -0.5em 0 0;
}

#ratings, #actions, #artisan{
  padding: 0.5em;
  margin-top: 0em;
  margin-bottom: 0em;
}

#seller{
  margin: 2.5em;
}
#seller p{
  text-align: justify;
}
#seller .title i{
  font-size: 0.5em;
}

.utilities-disclaimer{
  text-align: center;
  text-decoration: underline;
  margin: 2em 0;
}

.read-more{
  text-decoration: underline;
  cursor: pointer;
}

.utility-image-space{
  min-width: 100px;
  vertical-align: top;
}

.long-description, .large-utility-image{
  display: none;
}

.product{
  cursor: pointer;
}
.product .title{
  z-index: 5;
  height: 0em;
  text-align: center;
}
.product .title h3{
  margin: 0 auto;
  padding: 0.5em 0;
  font-size: 18pt;
  color: rgba(0,0,0,0.9);
  background-color: rgba(200,200,200,0.5);
  max-width: 300px;
}
.product .photo{
  z-index: -1;
  position: relative;
  top: 0em;
  text-align: center;
}
.product-row{
  margin-top: 2em;
}