
#info-left ul{
  list-style: none;
  text-align: center;
}

#artisan-profiles .thumbnail{
  max-width: 300px;
  border: none;
  box-shadow: 0 0 0 0;
  margin: auto;
}
.artisan{
  max-width: 300px;
  margin: 2em auto;
}
.artisan .title{
  position: relative;
  top: -4em;
  height: 0;
}
.artisan .title .name{
  height: 2em
}

#info-left #store-bio, .artisan-description{
  text-align: justify;
}

.read-more{
  text-decoration: underline;
  cursor: pointer;
}

.utility-image-space{
  min-width: 100px;
  vertical-align: top;
}

.long-description, .large-utility-image{
  display: none;
}

.product{
  cursor: pointer;
  margin-top: 2em;
}
.product a{
  text-decoration: none;
}
.product .title{
  z-index: 5;
  height: 0em;
  text-align: center;
  max-width: 375px;
  margin: 0 auto;
}

.product .title .name{
  padding: 0.5em 0 0.1em;
  font-size: 28pt;
}@media (max-width: 980px){
  .product .title .name{font-size: 22pt;}
}@media (max-width: 768px){
  .product .title .name{font-size: 26pt;}
}@media (max-width: 450px){
  .product .title .name{font-size: 20pt;}
}

.product .title .city{
  padding:  0 0 0.5em;
  font-size: 14pt;
}@media (max-width: 980px){
  .product .title .city{font-size: 12pt;}
}

.product .title .name, .product .title .city, .artisan .title .name{
  margin: 0 auto;
  color: rgba(0,0,0,0.9);
  background-color: rgba(200,200,200,0.5);
  max-width: 100%;
}

.hover-show{display: none;}

.product .photo, .artisan .photo{
  z-index: -1;
  position: relative;
  top: 0em;
  text-align: center;
}
.product-row{
  margin-top: 2em;
}

#past-inventory h3 {
  margin: 50px 0 0;
  text-decoration: underline;
}
