
#info-left ul{
  list-style: none;
  text-align: center;
}

#artisan-profiles .thumbnail{
  max-width: 300px;
  border: none;
  box-shadow: 0 0 0 0;
  margin: auto;
}
#artisan-profiles .title{
  position: relative;
  top: -3.5em;
}

#info-left #store-bio, .artisan-description{
  text-align: justify;
}

.read-more{
  text-decoration: underline;
  cursor: pointer;
}

.utility-image-space{
  min-width: 100px;
  vertical-align: top;
}

.long-description, .large-utility-image{
  display: none;
}

.product{
  cursor: pointer;
  margin-top: 2em;
}
.product .title, .artisan .title{
  z-index: 5;
  height: 0em;
  text-align: center;
}
.title h3{
  margin: 0 auto;
  padding: 0.5em 0;
  font-size: 18pt;
  color: rgba(0,0,0,0.9);
  background-color: rgba(200,200,200,0.5);
  max-width: 300px;
}

.artisan .title h3{
  padding: 0;
  font-size: 16pt;
}

.product .photo, .artisan .photo{
  z-index: -1;
  position: relative;
  top: 0em;
  text-align: center;
}
.product-row{
  margin-top: 2em;
}
