{% extends "public-base.html" %}

{% block title %}
  Angular Hello World
  {{ block.super }}
{% endblock title %}

{% block description %}
{% endblock description %}

{% block javascript %}
{% endblock javascript %}

{% block css %}
{% endblock css %}

{% block header_link_1 %}
  <li><a class='title' href="{% url 'home' %}">Store</a></li>
{% endblock header_link_1 %}

{% block header_link_2 %}
  <li><a class='title' href="http://helloanou.wordpress.com">Blog</a></li>
{% endblock header_link_2 %}

{% block content %}
{{ block.super }}

{% endblock content %}
