{% extends "base.html" %}

{% block angular %}
  <script src="{{STATIC_URL}}vendor/cloudinary/js/angular.cloudinary.js"></script>
  <script src="{{STATIC_URL}}js/angular/market/directives.js"></script>
  <script src="{{STATIC_URL}}js/angular/market/controllers.js"></script>
  <script src="{{STATIC_URL}}js/angular/market/app.js"></script>
{% endblock angular %}

{% block javascript %}
  <script type='text/javascript' src="{{ STATIC_URL }}public/js/public.js?v=0"></script>
{% endblock javascript %}

{% block css %}
  <link href="{{ STATIC_URL }}public/css/public.css?v=0" rel='stylesheet'>
{% endblock css %}

{% block header %}{{ block.super }}
{% endblock header %}

{% block banner %}
  <div id='banner' class='container-fluid'>
    <img ng-src="{{ STATIC_URL }}images/banner-photos/berber-tapis-web.jpg" class='img-responsive'>
    <div class='gradient'></div>
  </div>

  <div id='breadcrumbs' class='container'>
    <div class='row'>
      <div class='col-xs-6'>
        <ol class='breadcrumb'>
          <li><a href="#">Home</a></li>
          <li class='active'>Rugs and Carpets</li>
        </ol>
      </div>
    </div>
  </div>
{% endblock banner %}

{% block body %}
{% verbatim %}

  <div id='body' class='container'>

    <div id='market-base'
         class='component row'
         ng-controller="MarketController as market">

      <block ng-repeat='block in market.blocks'
             class='component'
             type='{{block.type}}'
             ng-class="{'col-xs-6': block.size == 'single',
                        'col-md-4': block.size == 'single',
                        'col-md-8': block.size == 'double',
                        'col-md-12': block.size == 'triple'}">

        <listing ng-if="block.type == 'listing'"></listing>
        <category ng-if="block.type == 'category'"></category>
        <store ng-if="block.type == 'store'"></store>

      </block>

      </div>
    </div>

  </div><!--end body-->
{% endverbatim %}
{% endblock body %}

{% block footer %}
  <ul class='inline'>
    <li>&copy;2014 <a href='http://www.theanou.com'>Anou</a></li>
    <li><a href="//www.facebook.com/TheAn0u" rel="publisher">Facebook</a></li>
    <li><a href="//plus.google.com/+Theanou" rel="publisher">Google+</a></li>
    <li><a href="//www.pinterest.com/helloanou/" rel="publisher">Pinterest</a></li>
  </ul>
{% endblock footer %}
