{% extends "base.html" %}

{% block javascript %}
  <script type='text/javascript' src="{{ STATIC_URL }}public/js/public.js?v=0"></script>
{% endblock javascript %}

{% block css %}
  <link href="{{ STATIC_URL }}public/css/public.css?v=0" rel='stylesheet'>
{% endblock css %}

{% block header %}{{ block.super }}
{% endblock header %}

{% block banner %}
  <div id='banner' class='container-fluid'>
    <img ng-src="{{ STATIC_URL }}images/banner-photos/berber-tapis-web.jpg" class='img-responsive'>
    <div class='gradient'></div>
  </div>

  <div id='breadcrumbs' class='container'>
    <div class='row'>
      <div class='col-xs-6'>
        <ol class='breadcrumb'>
          <li><a href="#">Home</a></li>
          <li class='active'>Rugs and Carpets</li>
        </ol>
      </div>
    </div>
  </div>
{% endblock banner %}

{% block body %}
{% verbatim %}

  <div id='body' class='container'>

    <div id='market-base' class='row'
         ng-controller="MarketController as market">

      <component ng-repeat='component in market.components' type="{{component.type}}">
        <listing ng-if="component.type == 'listing'"></listing>
        <category ng-if="component.type == 'category'"></category>
        <store ng-if="component.type == 'store'"></store>
      </component>

      </div>
    </div>


    <div id='market-base'
         ng-controller="OldMarketController as market">

      <category-grid></category-grid>
    </div>

    <div id='category-base'
         ng-controller="CategoryController as category">

      <listing-grid></listing-grid>
    </div>

    <!--<div id='store-base'
         ng-controller="StoreController as store">

      <store-grid></store-grid>
    </div>-->

  </div><!--end body-->
{% endverbatim %}
{% endblock body %}

{% block footer %}
  <ul class='inline'>
    <li>&copy;2014 <a href='http://www.theanou.com'>Anou</a></li>
    <li><a href="//www.facebook.com/TheAn0u" rel="publisher">Facebook</a></li>
    <li><a href="//plus.google.com/+Theanou" rel="publisher">Google+</a></li>
    <li><a href="//www.pinterest.com/helloanou/" rel="publisher">Pinterest</a></li>
  </ul>
{% endblock footer %}
