{% extends "base.html" %}
{% load url from future %}

{% block title %}
  {{ product.name }} by {{ product.seller.name }}
{% endblock title %}

{% block javascript %}
  <script type="text/javascript" src="{{ STATIC_URL}}public/js/product.js"></script>
{% endblock javascript %}

{% block css %}
  <link href="{{ STATIC_URL }}public/css/product.css" rel="stylesheet">
{% endblock css %}

{% block content %}
  <div id='product' class='row-fluid'>
    <div class='span8'>
      <div id='photos' class='carousel slide'>
        <ol class='carousel-indicators'>

        </ol>
        <!-- Carousel items -->
        <div class='carousel-inner'>
          {% for photo in product.photos %}
            <div class='item {% if forloop.first %}active{% endif %}'>
              <img src='{{ photo.product_size }}' alt='product photo {{ photo.rank }}'>
              <!--<div class='carousel-caption'></div>-->
            </div>
          {% endfor %}
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#photos" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#photos" data-slide="next">&rsaquo;</a>
      </div>

      <div id='pinkies' class='hidden-phone'>
        <ul class='thumbnails'>
          {% for photo in product.photos %}
            <li>
              <img class='thumbnail {% if forloop.first %}active{% endif %}'
                   data-target='#photos' data-slide-to='{{ forloop.counter0 }}'
                   src='{{ photo.pinky_size }}'>
            </li>
          {% endfor %}
        </ul>
      </div>

    </div>
    <!--
    <div id='ratings' class='span4 well well-small'>
      {% for rating in '123' %}
        <div class='rating'>
          {% for star in '12345' %}
            <i class="icon-star-empty"></i>
          {% endfor %}
          <span class='rating-subject'>Rating Subject</span>
        </div>
      {% endfor %}
    </div>
    -->

    <div id='actions' class='span4'>
      <table id='buying-table'>
        <tr>
          <td rowspan=2 class='price'>${{ product.display_price }}</td>
          <td class='price-qualifier'>free shipping.</td>
        </tr>
        <tr>
          <td class='price-qualifier'>free returns.</td>
        </tr>
      </table>
      <a href="{% url 'cart-add' product.id %}" id='buy-button' class='btn btn-primary btn-success'>
        Add To Cart
      </a>
    </div>

    <div id='artisan' class='span4'>
      <img id='artisan-image' src='{{ product.artisans.0.image.thumb_size }}'>
      <p>handmade by</p>
      <h3 id='artisan-name'>{{ product.artisans.0.name }}</h3>
      <p id='artisan-bio'>{{ product.artisans.0.description|truncatewords:"20" }}</p>
    </div>

  </div>

  <div id='utilities' class='row-fluid'>
    <ul class='thumbnails'>
      {% for utility in product.utilities %}
        <li class='span{{product.utilities_bootstrap_span_length}}'>
          <div class='utility thumbnail'>
            {% if utility.image %} <img src='{{ utility.image.thumb_size }}'> {% endif %}
            {% if utility.name %}  <h4>{{ utility.name }}</h4>           {% endif %}
            {% if utility.description %}
              <p>{{ utility.description|truncatewords:"20" }}</p>
            {% endif %}
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>

  <!--
  <div id='seller'>
    {% if product.seller.image %}<img src='{{ product.seller.image.thumb_size }}'>{% endif %}
    <h1 class='title'>
      {{ product.artisans.0.name }}
      <i>is a member of</i>
      {{ product.seller.name }}
    </h1>
    <p>{{ product.seller.bio }}</p>
  </div>
  -->

{% endblock content %}
