{% extends "base.html" %}
{% load url from future %}
{% load cache %}

{% cache 86400 public_product_header product.id product.is_approved product.is_sold %}

{% block title %}{# 70 chars or less #}
  {{ product.title }} | Fair Trade {{ product.seller.country.name }} Anou
{% endblock title %}

{% block description %}{# 160 chars or less #}
  {{ product.title_description }}
{% endblock description %}

{%block open_graph_type%}product{%endblock%}
{%block open_graph_url%}{{ product.get_absolute_url }}{%endblock%}
{%block open_graph_title%}{{ product.standard_title }}{%endblock%}
{%block open_graph_description%}{{ product.description }}{%endblock%}
{%block open_graph_image%}{{ product.photos.0.original }}{%endblock%}
{%block open_graph_price%}{{ product.display_price }}{%endblock%}
{%block open_graph_upc%}{{ product.id }}{%endblock%}
{%block open_graph_availability%}{% if product.is_sold or not product.is_approved %}out of stock{% else %}in stock{% endif %}{%endblock%}

{% block additional_meta_tags %}
  <meta property="product:price:amount"           content="{{ product.display_price }}" />
  <meta property="product:price:currency"         content="USD" />
  <meta property="product:shipping_cost:amount"   content="{{ product.display_shipping_price }}" />
  <meta property="product:shipping_cost:currency" content="USD" />
{% endblock additional_meta_tags %}

{% block javascript %}
  <script type="text/javascript" src="{{ STATIC_URL }}public/js/product.min.js?v=3"></script>
{% endblock javascript %}

{% block css %}
  <link href="{{ STATIC_URL }}public/css/product.css?v=3" rel="stylesheet">
{% endblock css %}
{% endcache public_product_header %}

{% block header_link_1 %}
  {{ block.super }}
{% endblock header_link_1 %}
{% block header_link_2 %}
  {{ block.super }}
  {% if 'admin_id' in request.session %}
    <li><button id='unapprove' class='btn btn-warning'
            data-approve-url="{% url 'admin:approve product' %}"
            data-product-id="{{ product.id }}">
      {% if product.approved_at %}
        Unapprove Product
      {% else %}
        Unapproved.
      {% endif %}
    </button></li>
    <li><a href="{% url 'admin:rebuild productpage' product.id %}">
      <button class='btn'>Refresh-Cache</button>
    </a></li>
  {% endif %}
{% endblock header_link_2 %}

{% block content %}
{% cache 86400 public_product_content product.id product.is_approved product.is_sold product.is_recently_sold %}

  <!-- CUSTOM ORDER REQUEST FORM -->
  <div id='custom-order' class='well'>
    <div class='row-fluid'>
      <div class='span12 form-horizontal'>

        <!-- hidden elements -->
        <input id='custom-order-url' type='hidden'
               value="{% url 'custom order request'%}">
        <input id='custom-order-product-id'
               name='custom-order-product-id'
               type='hidden' value='{{ product.id }}'>

        <div class='control-group'>
          <div class='controls'>
            <h4>Custom Order Request</h4>
          </div>
        </div>

        <div id='size-form'>
          <div class='control-group'>
            <label class='control-label'>Length</label>
            <div class='controls form-inline'>
              <div class='input-append'>
                <input id='custom-order-length-A' class='input-mini'
                       name='custom-order-length-A' type='tel'
                       placeholder=''>
                <i class='add-on'>ft</i>
              </div>
              <div class='input-append'>
                <input id='custom-order-length-B' class='input-mini'
                       name='custom-order-length-B' type='tel'
                       placeholder=''>
                <i class='add-on'>in</i>
              </div>
              <!--<span class='change-size-units'>use meters</span>
              <span class='change-size-units'>use feet</span>-->
            </div>
          </div>

          <div class='control-group'>
            <label class='control-label'>Width</label>
            <div class='controls form-inline'>
              <div class='input-append'>
                <input id='custom-order-width-A' class='input-mini'
                       name='custom-order-width-A' type='tel'
                       placeholder=''>
                <i class='add-on'>ft</i>
              </div>
              <div class='input-append'>
                <input id='custom-order-width-B' class='input-mini'
                       name='custom-order-width-B' type='tel'
                       placeholder=''>
                <i class='add-on'>in</i>
              </div>
            </div>
          </div>
        </div>

        <div id='quantity-form' class='control-group'>
          <label class='control-label'>Quantity</label>
          <div class='controls'>
            <input id='custom-order-quantity' class='input-mini'
                   name='custom-order-quantity' type='number'>
          </div>
        </div>

        <div id='description-form' class='control-group'>
          <label class='control-label'>Changes</label>
          <div class='controls'>
            <textarea id='custom-order-description'
                      name='custom-order-description' rows='5'
                      placeholder='(eg. color, style)'
            ></textarea>
          </div>
        </div>

        <div class='control-group size'>
          <div class='controls form-inline'>
            <button class='btn change-size'
                    event-action='edit request' event-category='custom-order'
                    event-label='size'>
              Change Size
            </button>
            <button class='btn change-quantity'
                    event-action='edit request' event-category='custom-order'
                    event-label='quantity'>
              Order 2 or More
            </button>
            <button class='btn change-description'
                    event-action='edit request' event-category='custom-order'
                    event-label='description'>
              Change Something Else
            </button>
          </div>
        </div>

        <div class='control-group'>
          <label class='control-label'>Contact</label>
          <div class='controls'>
          <input id='custom-order-email' class='input-large'
                 name='custom-order-email' type='text'
                 placeholder='email address'>
          </div>
        </div>

        <div class='control-group'>
          <div class='controls'>
            <button id='custom-order-submit-button' class='btn btn-success'
                    event-action='submit request' event-category='custom-order'>
              Send Request
            </button>

            <button id='custom-order-success' class='btn btn-info disabled'>
              Sent! Check your email for confirmation.
            </button>

            <button id='custom-order-fail' class='btn btn-warning disabled'>
              Oops! Something went wrong.
              Sorry, please email <u>hello@theanou.com</u> with your request.
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- PRODUCT PRIMARY CONTENT -->
  <div id='product' class='row-fluid' itemscope itemtype="http://schema.org/Product">
    <div class='span8'>

      <div id='product-title'>
        <div id='pinterest-button'>
          <a href="{{ product.pinterest_url }}"
             data-pin-do="buttonPin" data-pin-config="none">
            <img src="//assets.pinterest.com/images/pidgets/pin_it_button.png" />
          </a>
        </div>

        <h1 itemprop="name">
          {{ product.name|title }}
          by
          <a href="{{ product.seller.get_absolute_url }}">
            {{ product.seller.name|title }}
          </a>
        </h1>
      </div>

      <div id='photos' class='carousel slide'>
        <ol class='carousel-indicators'></ol>
        <!-- Carousel items -->
        <div class='carousel-inner'>
          {% for photo in product.photos.all %}
            <div class='item {% if forloop.first %}active{% endif %}'>
              <img src='{{ photo.product_size }}'
                   alt='{{ product.title }}'
                   {% if forloop.first %}itemprop="image"{% endif %}>
              <!--<div class='carousel-caption'></div>-->
            </div>
          {% endfor %}
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#photos" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#photos" data-slide="next">&rsaquo;</a>
      </div>

      <div id='pinkies' class='visible-desktop'>
        <ul class='thumbnails'>
          {% for photo in product.photos.all %}
            <li>
              <img class='thumbnail {% if forloop.first %}active{% endif %}'
                   data-target='#photos' data-slide-to='{{ forloop.counter0 }}'
                   src='{{ photo.pinky_size }}'>
            </li>
          {% endfor %}
        </ul>
      </div>

      <div id='product-description'>
        <p itemprop="description">
          {% if product.description %}
            {{ product.description }}
          {% else %}
            {{ product.title_description }}
          {% endif %}
        </p>

        {% if product.english_dimensions %}
          <p>
            <span class='title'>Approx. Size</span>
            <span class='nowrap'>{{ product.english_dimensions }}</span>
            <span class='title'>or</span>
            <span class='nowrap'>{{ product.metric_dimensions }}</span>
          </p>
        {% endif %}
      </div>

    </div>

    <div id='actions' class='span4'>

      {% comment %}
      Load all of this in with ajax after page load.
      That way we can custom display based on login/past use
      instead of messing with product page cache.

      <div id='rating' class='well well-small'>
        {% for category in rating_categories %}
          Category Name<br>
          {% for rating_number in '12345' %}
            <i class="rating-star icon-star-empty"
               data-rating-value='{{ rating_number }}'
               ></i>
          {% endfor %}
          <span class='rating-subject'>{{ category }}</span>
          <br>
        {% endfor %}
      </div>
      {% endcomment %}

      <table id='buying-table'>
        <tr itemprop="offers" itemscope itemtype="http://schema.org/Offer">
          <td rowspan=2 class='price title-font' itemprop="price">
            ${{ product.display_price }}
          </td>
          <td class='price-qualifier nowrap title-font'>Free Shipping</td>
        </tr>
        <tr>
          <td class='price-qualifier nowrap title-font'>Free Returns</td>
        </tr>
      </table>

      {% if product.is_sold or not product.is_approved %}
        <a id='buy-button' class='btn btn-danger disabled'>
          <h2>
            {% if product.is_recently_sold %}
              Oh shoot, someone just bought it!
            {% elif product.is_sold %}
              Sold
            {% else %}
              Sorry, unavailable at this time
            {% endif %}
          </h2>
        </a>
      {% else %}
        <br>
        <a id='buy-button' class='btn btn-primary btn-success'
           href="{% url 'cart-add' product.id %}">
          <h2>Add To Cart</h2>
        </a>
      {% endif %}

      <a id='custom-order-button' class='btn btn-info'
         event-action='begin request' event-category='custom-order'>
        <h2>Request Custom Order</h2>
      </a>
    </div>

    <div id='artisan' class='span4'>
      <img id='artisan-image' src='{{ product.artisan.image.thumb_size }}'
           alt='{{ product.artisan.title }}'>
      {% if product.artisan.name %}
        <p>handmade by</p>
        <h3 id='artisan-name'>{{ product.artisan.name|title }}</h3>
        <p>at</p>
      {% else %}
        <p>handmade at</p>
      {% endif %}
      <h3 id='store-name'>
        <a href="{{ product.seller.get_absolute_url }}">
          {{ product.seller.name|title }}
        </a>
      </h3>
      <p id='artisan-bio'>
        {% if product.artisan.description %}
          <span class='short-description'>
            {{ product.artisan.description|truncatewords:20 }}
          </span>
          {% ifnotequal product.artisan.description|truncatewords:20|length product.artisan.description|length %}
            <small class='read-more'>show more</small>
            <span class='long-description'>
              {{ product.artisan.description }}
            </span>
          {% endifnotequal %}
        {% endif %}
      </p>
    </div>
  </div>

<!-- UTILITIES -->

  {% if product.utilities %}
    <div class='row-fluid'><div class='span12'>
      <h4 class='utilities-disclaimer copy-font'>
        This Original Item was Handmade using
        the Local Materials and Tools Below
      </h4>
    </div></div>
  {% endif %}

  <div id='utilities'><div class='row-fluid'>
    {% for utility in product.utilities %}
      <div class='utility span6'>
        <table>
          <tr>
            <td class='utility-image-space'>
              {% if utility.image %}
                <img class='small-utility-image' src='{{ utility.image.pinky_size }}'
                     alt='{{ utility.title }}'>
              {% endif %}
            </td>
            <td>
              {% if utility.name %}
                <h4>{{ utility.name }}</h4>
              {% endif %}

              {% if utility.description %}
                <p class='utility-description'>
                  <span class='short-description'>
                    {{ utility.description|truncatewords:15 }}
                  </span>
                  {% ifnotequal utility.description|truncatewords:15|length utility.description|length %}
                    <small class='read-more'>show more</small>
                    <span class='long-description'>
                      {{ utility.description }}
                    </span>
                  {% endifnotequal %}
                </p>
              {% endif %}
            </td>
          </tr>
        </table>
      </div>
      {% cycle "" "</div><div id='utilities' class='row-fluid'>"%}
    {% endfor %}
  </div></div>
  <hr>

{% endcache public_product_content %}

{% cache 86400 public_product_extras product.id %}

  {% load home_inclusion_tags %}
  <div id='store'>
    <h1 class='text-center'>
      <a href="{{ product.seller.get_absolute_url }}">
        <small>more from</small> {{ product.seller.name }}
      </a>
      {% if product.seller.image %}
        <img src='{{ product.seller.image.pinky_size }}'
             alt='{{ product.seller.title }}'>
      {% endif %}
    </h1>

    <div class='product-row row-fluid'>
      {% for product in product.get_related_products %}

        <div class='span4 product-area {% cycle "pos1" "pos2" "pos3" %}'>
          {% product_tag product %}
        </div>

        {% cycle "" "" "</div><div class='product-row row-fluid'>" %}
      {% endfor %}
    </div>
  </div>

{% endcache public_product_extras %}
{% endblock content %}
