{% extends "base.html" %}
{% load url from future %}

{% block title %}
  {{ store.name }}
{% endblock title %}

{% block javascript %}
  <script type="text/javascript" src="{{ STATIC_URL }}public/js/store.min.js"></script>
{% endblock javascript %}

{% block css %}
  <link href="{{ STATIC_URL }}public/css/store.css" rel="stylesheet">
{% endblock css %}

{% block content %}
  <div id='store' class='row-fluid'>
    <div id='info-left' class='span4'>
      <ul>
        {% if store.image %}
          <li>
            <a href="{% url 'store' store.id %}">
              <img src='{{ store.image.thumb_size }}' title='{{ store.name }} logo'>
            </a>
          </li>
        {% endif %}

        <li><h1>{{ store.name }}</h1></li>

        <li id='bio'>
          <a class='read-more visible-phone' data-show='store-bio'>
            read about {{ store.name }}
          </a>
          <p id='store-bio' class='hidden-phone'>
            <span class='short-description'>
              {{ store.bio|truncatewords:"40" }}
            </span>
            <small class='read-more'>read more</small>
            <span class='long-description'>
              {{ store.bio }}
            </span>
          </p>
        </li>

        <li><h1>Artisans</h1></li>

        <li id='artisans'>
          <a data-show='artisan-profiles' class='visible-phone'>
            meet artisans
          </a>

          <div id='artisan-profiles' class='hidden-phone'>
            {% for artisan in store.artisans %}
              <div class='artisan-profile artisan'>
                {% if artisan.image %}
                  <img class='artisan-image' src='{{ artisan.image.thumb_size }}'>
                {% endif %}
                {% if artisan.name %}
                  <div class='title'>
                    <h3 class='name' >{{ artisan.name }}</h3>
                  </div>
                {% endif %}
                {% if artisan.description %}
                  <div class='description'>
                    <a class='read-more' data-show='artisan-bio-{{ artisan.id }}'>
                      about {% if artisan.name %}{{ artisan.name }}{% endif %}
                    </a>
                    <p id='artisan-bio-{{ artisan.id }}'
                       class='artisan-description hidden'>

                      <span class='short-description'>
                        {{ artisan.description|truncatewords:"30" }}
                      </span>
                      <small class='read-more'>read more</small>
                      <span class='long-description'>
                        {{ artisan.description }}
                      </span>

                    </p>
                  </div>
                {% endif %}
              </div>
            {% endfor %}
          </div>
        </li>

      </ul>
    </div>

    <div id='products' class='span8'>
      {% load home_inclusion_tags %}

      <div class='product-row row-fluid'>
        {% for product in products %}

          <div class='span6 product-area {% cycle "pos1" "pos2" %}'>
            {% product_tag product 'sans_artisan' %}
          </div>

          {% cycle "" "</div><div class='product-row row-fluid'>" %}
        {% endfor %}
      </div>

    </div>
  </div>


{% endblock content %}
