{% extends "base.html" %}
{% load url from future %}
{% load cache %}

{% cache 86400 public_store_header store.id store.updated_at %}

{% block title %}
  {{ store.title }} | Fair Trade Anou
{% endblock title %}

{% block description %}
  {{ store.title_description }}
{% endblock description %}

{%block open_graph_type%}store{%endblock%}
{%block open_graph_url%}http://www.theanou.com{{ store.get_absolute_url }}{%endblock%}
{%block open_graph_title%}{{ store.name }}{%endblock%}
{%block open_graph_description%}{{ store.bio|truncatewords:40 }}{%endblock%}
{%block open_graph_image%}{{ store.image.thumb_size }}{%endblock%}

{% block javascript %}
  <script type="text/javascript" src="{{ STATIC_URL }}public/js/store.min.js"></script>
{% endblock javascript %}

{% block css %}
  <link href="{{ STATIC_URL }}public/css/store.css" rel="stylesheet">
{% endblock css %}
{% endcache public_store_header %}

{% block header_link_1 %}
  {{ block.super }}
{% endblock header_link_1 %}
{% block header_link_2 %}
  {{ block.super }}
  {% if 'admin_id' in request.session %}
    <li><a href="{% url 'admin:rebuild storepage' store.id %}">
      <button class='btn'>Refresh-Cache</button>
    </a></li>
  {% endif %}
{% endblock header_link_2 %}

{% cache 86400 public_store_content store.id store.updated_at %}
{% block content %}
  <div id='store' class='row-fluid'>
    <div id='info-left' class='span4'>
      <ul>
        {% if store.image %}
          <li>
            <a href="{{ store.get_absolute_url }}">
              <img src='{{ store.image.thumb_size }}' alt='{{ store.title }}'>
            </a>
          </li>
        {% endif %}

        <li><h1>{{ store.name }}</h1></li>

        <li id='bio'>
          <a class='read-more visible-phone' data-show='store-bio'>
            read about {{ store.name }}
          </a>
          <p id='store-bio' class='hidden-phone'>
            {% if store.bio %}
              <span class='short-description'>
                {{ store.bio|truncatewords:40 }}
              </span>
              {% ifnotequal store.bio|truncatewords:40|length store.bio|length %}
                <small class='read-more'>show more</small>
                <span class='long-description'>
                  {{ store.bio }}
                </span>
              {% endifnotequal %}
            {% endif %}
          </p>
        </li>

        <li><h1>Artisans</h1></li>

        <li id='artisans'>
          <a data-show='artisan-profiles' class='visible-phone'>
            meet artisans
          </a>

          <div id='artisan-profiles' class='hidden-phone'>
            {% for artisan in store.artisans %}
              <div class='artisan-profile artisan'>
                {% if artisan.image %}
                  <img class='artisan-image' src='{{ artisan.image.thumb_size }}'
                       alt='{{ artisan.title }}'>
                {% endif %}
                {% if artisan.name %}
                  <div class='title'>
                    <h3 class='name' >{{ artisan.name }}</h3>
                  </div>
                {% endif %}
                {% if artisan.description %}
                  <div class='description'>
                    <a class='read-more' data-show='artisan-bio-{{ artisan.id }}'>
                      about {% if artisan.name %}{{ artisan.name }}{% endif %}
                    </a>
                    <p id='artisan-bio-{{ artisan.id }}'
                       class='artisan-description hidden'>

                      <span class='short-description'>
                        {{ artisan.description|truncatewords:30 }}
                      </span>
                      {% ifnotequal artisan.description|truncatewords:30|length artisan.description|length %}
                        <small class='read-more'>show more</small>
                        <span class='long-description'>
                          {{ artisan.description }}
                        </span>
                      {% endifnotequal %}

                    </p>
                  </div>
                {% endif %}
              </div>
            {% endfor %}
          </div>
        </li>

      </ul>
    </div>

    <div id='products' class='span8'>
      {% load home_inclusion_tags %}

      <div id='faceboook' class='text-center'>
        <div class="fb-like hidden-phone"
             data-href="http://www.theanou.com{{ store.get_absolute_url }}"
             data-width="400" data-layout="standard"
             data-show-faces="false" data-send="true">
        </div>
      </div>

      <input id='load-products-url' type='hidden' value='{% url 'load products' %}'>

      <div class='product-row row-fluid lazy-load'>
        {% for product in products %}

          <div  class='span6 product-area {% cycle "pos1" "pos2" %}
                  {% if forloop.counter0 < 4 %}
                    loaded
                  {% else %}
                    unloaded
                  {% endif %}'
                data-order='{{ forloop.counter0 }}'
                data-product-id='{{ product.id }}'>

            {% if forloop.counter0 < 4 %}
              {% product_tag product %}
            {% endif %}
          </div>

          {% if forloop.counter|divisibleby:2 %}
      </div>
      <div class='product-row row-fluid lazy-load'>
          {% endif %}

        {% endfor %}

        {% if not products.count|divisibleby:2 %}
      </div>
        {% endif %}

      <div id='past-inventory' class='row-fluid'>
        <div class='span12'>
          <h3 class='text-center'>Previously Made Products</h3>
        </div>
      </div>

      <div class='product-row row-fluid lazy-load'>
        {% for product in sold_products %}
          <div  class='span6 product-area {% cycle "pos1" "pos2" %} unloaded'
                data-order='{{ forloop.counter0 }}'
                data-product-id='{{ product.id }}'>
          </div>
          {% if forloop.counter|divisibleby:2 %}
      </div>
      <div class='product-row row-fluid lazy-load'>
          {% endif %}

        {% endfor %}

        {% if not products.count|divisibleby:2 %}
      </div>
        {% endif %}

      </div>

    </div>
  </div>

{% endblock content %}
{% endcache public_store_content %}
