{% extends "base.html" %}
{% block css %}
  <link href='{{ STATIC_URL }}css/seller/product_edit.css' rel='stylesheet'>
{% endblock css%}

{% block javascript %}
  <script src='{{ STATIC_URL }}vendor/blueimp-file-upload/js/vendor/jquery.ui.widget.js'></script>
  <script src='{{ STATIC_URL }}vendor/blueimp-file-upload/js/jquery.iframe-transport.js'></script>
  <script src='{{ STATIC_URL }}vendor/blueimp-file-upload/js/jquery.fileupload.js'></script>
  <script src='{{ STATIC_URL }}js/seller/product_edit.js'></script>
{% endblock javascript%}

{% block content %}
  {% load url from future %}
  {% load inclusion_tags %}

  <div id='product-edit-form'>
    <form action="" method="post">{% csrf_token %}
      <div id='hidden-fields'>
        {{ product_form.product_id }}
        {{ product_form.assets }}
        {{ product_form.images }}
        {{ product_form.color }}
        {{ product_form.shipping_option }}
      </div>
      <ul>
        <li>{% asset_chooser_tag "product" %}</li>

        <li>
          <div id='images'>

          </div>
        </li>

        <li>{{ product_form.price }}</li>

        <li>{% asset_chooser_tag "tool" %}</li>
        <li>{% asset_chooser_tag "material" %}</li>
        <li>{% asset_chooser_tag "artisan" %}</li>

        <li>{{ product_form.width }}</li>
        <li>{{ product_form.height }}</li>
        <li>{{ product_form.length }}</li>
        <li>{{ product_form.weight }}</li>

        <li>{% shipping_option_chooser_tag %}</li>

        <li>
          <div id='summary'>
            <table>
              <tr>
                <td></td>
                <td></td>
              </tr>
            </table>
            <button type="submit">OK!</button>
          </div>
        </li>
      </ul>
    </form>
  </div>
{% endblock content %}
