{% extends "base.html" %}
{% block css %}
  <link href='{{ STATIC_URL }}css/seller/product_edit.css' rel='stylesheet'>
{% endblock css%}

{% block javascript %}
  <script src='{{ STATIC_URL }}vendor/blueimp-file-upload/js/vendor/jquery.ui.widget.js'></script>
  <script src='{{ STATIC_URL }}vendor/blueimp-file-upload/js/jquery.iframe-transport.js'></script>
  <script src='{{ STATIC_URL }}vendor/blueimp-file-upload/js/jquery.fileupload.js'></script>
  <script src='{{ STATIC_URL }}js/seller/product_edit.js'></script>
{% endblock javascript%}

{% block content %}
  {% load url from future %}
  {% load inclusion_tags %}

  <form action="" method="post">{% csrf_token %}
    <div id='product_form'>
      <table>{{ product_form.as_table }}</table>
      <button type="submit">OK!</button>
    </div>
  </form>

{% endblock content %}
