{% spaceless %}
{% verbatim %}
  <div class='row'>

    <div class='col-xs-6 col-md-4 listing'
         ng-repeat='listing in category.listings'>

      <a href="#/product/{{listing.pk}}"><!--{{listing.url}}-->
        <img class='img-responsive img-rounded'
             ng-src="{{listing.photos[0]}}"
             alt="{{listing.title}}"
             >

        <div class='actions'>
          <div class='gradient img-rounded'>
            <button class='love icon-heart-empty white btn btn-default pull-left'
            ></button>

            <span class='price white pull-right'>
              ${{listing.usd_price}}
            </span>
          </div>
        </div>

      </a>
    </div>

    <!--<cl-image public-id="{{listing.photos[0]}}" height="150" width="150" crop="fill"/>
    </cl-image>-->

  </div>

  <div class="text-center">
    <ul class="pagination pagination-centered">
      <li class='disabled'><a href="#">&laquo;</a></li>
      <li class='active'><a href="#">1<span class="sr-only">(current)</span></a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">&raquo;</a></li>
    </ul>
  </div>

{% endverbatim %}
{% endspaceless %}
