{% extends "base.html" %}
{% load url from future %}

{% block javascript %}
  <script type="text/javascript" src="{{ STATIC_URL}}js/public/store.js"></script>
{% endblock javascript %}

{% block css %}
  <link href="{{ STATIC_URL }}css/public/store.css" rel="stylesheet">
{% endblock css %}

{% block content %}
  <div id='store' class='row-fluid'>
    <div id='info-left' class='span4'>
      <ul>
        {% if store.image.thumb %}
          <li>
            <img src='{{ store.image.thumb }}'>
          </li>
        {% endif %}
        <li>
          <h1>{{ store.name }}</h1>
        </li>
        <li>
          <ul id='seller-data' class='info-list'>
            {% if store.country %}
              <!--<li>
                <i class="icon-globe"></i>
                {{ store.country.name }}
              </li>-->
            {% endif %}
          </ul>
        </li>
        <li id='bio'>
          <a data-show='store-bio' class='visible-phone'>
            read bio
          </a>
          <p id='store-bio' class='well hidden-phone'>{{ store.bio }}</p>
        </li>
        <li id='artisans'>
          <a data-show='artisan-profiles' class='visible-phone'>
            meet artisans
          </a>
          <div id='artisan-profiles' class='hidden-phone'>
            {% for artisan in store.artisans %}
              <div class='artisan-profile thumbnail'>
                {% if artisan.image %}
                  <img class='artisan-image' src='{{ artisan.image.thumb }}'>
                {% endif %}
                {% if artisan.name %}
                  <div class='title'>
                    <p class='artisan-name' >{{ artisan.name }}</p>
                  </div>
                {% endif %}
                {% if artisan.description %}
                  <div class='description'>
                    <a data-show='artisan-bio-{{ artisan.id }}'>
                      read bio
                    </a>
                    <p id='artisan-bio-{{ artisan.id }}'
                       class='artisan-description well hidden'>
                      {{ artisan.description }}
                    </p>
                  </div>
                {% endif %}
              </div>
            {% endfor %}
          </div>
        </li>
      </ul>
    </div>

    <div id='products' class='offset1 span7'>

      <ul class='thumbnails'>
        {% for product in products %}
          <li class='span6'>
            <a href="{% url 'product' product.id %}" class='thumbnail'>

              <div class='title'><p>{{ product.name }}</p></div>

              <div class='photo'>
                <img src='{{ product.photos.0.thumb }}'>
              </div>

              <div class='extra extra-photos row-fluid hidden-phone'>
                <div class='first-extra-photo span4 pinky'>
                  <img src='{{ product.photos.1.pinky }}'>
                </div>
                <div class='second-extra-photo span4 pinky'>
                  <img src='{{ product.photos.2.pinky }}'>
                </div>
                <div class='third-extra-photo span4 pinky'>
                  <img src='{{ product.photos.3.pinky }}'>
                </div>
              </div>

            </a
          </li>
          {% cycle "" "</ul><ul class='thumbnails'>" %}
        {% endfor %}
      </ul>

    </div>
  </div>


{% endblock content %}
