body {
  padding-top: 20px;
  padding-bottom: 40px;
  background-color: #fffefa;
}

#header, #main, #footer {
  max-width: 1200px;
  margin: 0px auto;
}

#base-logo {
  padding: 0 2em;
}

#base-navigation li {
  padding: 0.2em .02em;
  font-size: 35px;
}

i{font-style: normal;}

a, a:hover, a:active, a:focus{
  outline: 0;
}

#header-separator, #footer-separator {
  margin: 2em;
}

.nav .symbol{
  line-height: 14px;
}

.symbol.blue-arrow {
  background: rgba(255, 255, 255, 0)
              url(http://s3.amazonaws.com/anou/images/blue_arrow.png)
              center left no-repeat;
  background-size: 60px 60px;
  font-size: 60px;
  padding-left: 60px;
}
.symbol.cart {
  background: rgba(255, 255, 255, 0)
              url(http://s3.amazonaws.com/anou/images/eldorado/basic/045.png)
              center left no-repeat;
  background-size: 40px 40px;
  font-size: 35px;
  padding-left: 40px;
}


#header{
  background-color: #fffefa;
  border-bottom: 2px solid rgb(220,220,240);
}
#base-logo{
  padding: 3px;
}

#body{
  margin-top: 40px;
}
