body {
  padding-top: 20px;
  padding-bottom: 40px;
  background-color: #fffefa;
}

h1, h2, h3, h4, h5, .title {
	font-family: Savu-Condensed, sans-serif;
	font-weight: normal;
	font-style: normal;
}

p, li, span, .copy-font {
	font-family: 'Merriweather', serif;
	font-weight: normal;
	font-style: normal;
}

i{font-style: normal; font-size: 24pt;}
a, a:hover, a:active, a:focus{outline: 0;}
.trim{text-rendering: optimizeSpeed;}

#body{
  margin-top: 50px;
}

#header, #main, #footer {
  max-width: 1200px;
  margin: 0px auto;
}

#header{
  background-color: #fffefa;
  border-bottom: 2px solid rgb(220,220,240);
}
#header *{
  vertical-align: baseline;
}

#base-logo {
  padding: 0 1em 0 0;
  margin: 3px;
}

#base-navigation ul {
  list-style: none;
  margin: 0;
}
#base-navigation li, #base-navigation li:hover, #base-navigation li:active {
  padding: 0.5em 0.5em 0;
  display: inline-block;
  line-height: 45px;
}
#base-navigation a, #base-navigation a:hover, #base-navigation a:active {
  color: #333;
  font-size: 2em;
  text-decoration: none;
}
#base-navigation a:hover {
  color: #888;
}

/* SYMBOLS AND COLORS */
[class*="symbol-"]:hover {
  text-decoration: none !important;
  /*opacity: 0.7;*/
}
[class*="symbol-"].black:hover {opacity: 1 !important;}
.anou-blue  {color: rgb(65, 123, 217)   !important;}
.blue       {color: #417bd9             !important;}
.black      {color: #333                !important;}
.gray       {color: #888                !important;}
.white      {color: #fffefa             !important;}
.red        {color: rgb(179, 50, 0)     !important;}
.gold       {color: rgb(209, 176, 0)    !important;}
.green      {color: rgb(37, 153, 0)     !important;}
.orange     {color: rgb(231, 166, 0)    !important;}
.gold       {color: rgb(245, 180, 0)    !important;}

.color-rating1  {color: rgb(164, 0,   0)    !important;}
.color-rating2  {color: rgb(254, 0,   0)    !important;}
.color-rating3  {color: rgb(255, 83,  83)   !important;}
.color-rating4  {color: rgb(126, 198, 132)  !important;}
.color-rating5  {color: rgb(1,   142, 11)   !important;}

.right-to-left{
  float: right !important;
}
