body {
  padding-top: 20px;
  padding-bottom: 40px;
  background-color: #fffefa;
}

#header, #main, #footer {
  max-width: 1200px;
  margin: 0px auto;
}

#logo {
  padding: 0 2em;
}

#navigation li {
  padding: 2em .5em;
}

#header-separator, #footer-separator {
  margin: 2em;
}

#footer .container div div {
  text-align: center;
}
