.thumbnail {
  border: none;
  box-shadow: none;
  margin-bottom: -60px;
}

.thumbnail img, .thumbnail-title {
  text-decoration: underline;
  cursor: pointer;
}

.thumbnail .title, .thumbnail .caption {
  padding: .5em;
}
.thumbnail .title {
  font-size: 1.4em;
  text-align: center;
  background-color: rgba(90,90,90,0.2);
}
.thumbnail .caption {
  font-size: 1em;
}
.thumbnail .actions {
  text-align: center;
  padding: 0 .2em;
}

.thumbnail .actions .price {
  cursor: default;
}

.title {
  font-size: 2em;
  padding-left: 6px;
  text-decoration: underline;
  cursor: pointer;
  color: #172b4d;
}
