{% extends "seller_base.html" %}
{% load edit_product_inclusion_tags %}

{% block title %}edit {{ product.id }}{% endblock title %}

{% block viewport %}
  <!-- prevent pinch/zoom on mobile --->
  <meta id='page-viewport' name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
{% endblock viewport %}

{% block css %}
  <link href='{{ STATIC_URL }}seller/css/product_edit.css' rel='stylesheet'>
  <link href='{{ STATIC_URL }}seller/css/photo_upload.css' rel='stylesheet'>
{% endblock css%}

{% block javascript %}
  {% if product.is_sold %}
    <script src='{{ STATIC_URL }}seller/js/edit_sold_product.min.js'></script>
  {% else %}
    <script src='{{ STATIC_URL }}seller/js/edit_product.min.js'></script>
    <script src='{{ STATIC_URL }}vendor/blueimp-file-upload/js/vendor/jquery.ui.widget.min.js'></script>
    <script src='{{ STATIC_URL }}vendor/blueimp-file-upload/js/jquery.iframe-transport.min.js'></script>
    <script src='{{ STATIC_URL }}vendor/blueimp-file-upload/js/jquery.fileupload.min.js'></script>
    <script src='{{ STATIC_URL }}seller/js/product_photo_upload.min.js'></script>
  {% endif %}
{% endblock javascript%}

{% block content %}
  <input type='hidden' id='edit-product-url' value="{% url 'seller:edit product' product.id %}">
  <input type='hidden' id='product-id' value='{{ product.id }}'>

  <!-- the location to upload photos to -->
  <input type='hidden' id='upload-url' value='{{ CLOUDINARY.upload_url }}'>
  <!-- to give cloudinary so they can tell our server when upload is complete -->
  <input type='hidden' id='upload-complete-url'
         value="{% url 'seller:complete upload' %}">
  <!-- for JS to check upload completion and get thumb_url -->
  <input type='hidden' id='upload-check-url'
         value="{% url 'seller:check photo upload' %}">

  <div id='product-edit-form' class='text-center'>
    <input type='hidden' id='product-id' name='product-id' value='{{ product.id }}'>

    <!-- PRODUCT TYPE CHOOSER -->
    <div id='product-chooser-section' class='section'>
      <div class='section-number first'>1</div>
      {% asset_chooser_tag product "product" %}
    </div>

    <!-- PHOTO UPLOADING -->
    <div id='photos-section' class='section'>
      <div class='section-number'>2</div>

      <div id='photos' class='text-center'>
        {% for rank in '12345' %}
          {% photo_upload_tag product rank %}
        {% endfor %}
      </div>
    </div>

    <!-- PRICE -->
    <div id='price-section' class='section'>
      <div class='section-number'>3</div>
      <table><tr>
        <td><i class='symbol-money'></i></td>
        <td>
          <input type='tel' id='price' name='price' class='autosave has-exit-button'
                  min='1' max='30000' step='1'
                  value='{{ product.price|default_if_none:"" }}'>
        </td>
        <td><span class='units'>Dh</span></td>
        <td class='exit-button'>
          <button class='symbol-go white'></button>
        </td>
      </tr></table>
    </div>

    <!-- COLOR CHOOSER -->
    <div id='color-chooser-section' class='section'>
      <div class='section-number'>4</div>
      {% color_chooser_tag product %}
    </div>

    <!-- TOOL CHOOSER -->
    <div id='tool-chooser-section' class='section'>
      <div class='section-number'>5</div>
      {% asset_chooser_tag product "tool" %}
    </div>

    <!-- MATERIAL CHOOSER -->
    <div id='material-chooser-section' class='section'>
      <div class='section-number'>6</div>
      {% asset_chooser_tag product "material" %}
    </div>

    <!-- ARTISAN CHOOSER -->
    <div id='artisan-chooser-section' class='section'>
      <div class='section-number'>7</div>
      {% asset_chooser_tag product "artisan" %}
    </div>

    <!-- MEASUREMENTS -->
    <div id='measurements-section' class='section'>
      <div class='section-number'>8</div>

      <table id='weight-table'><tr>
        <td><i class='symbol-weight black'></i></td>
        <td>
          <input type='tel' id='weight' name='weight' class='autosave has-exit-button'
                  min='1' max='30000' step='1'
                  value='{{ product.weight|default_if_none:"" }}'>
        </td>
        <td><span class='units'>g&nbsp;&nbsp;</span></td>
        <td class='exit-button'>
          <button class='symbol-go white'></button>
        </td>
      </tr></table>

      <table><tr>
        <td><i class='symbol-width black'></i></td>
        <td>
          <input type='tel' id='width' name='width' class='autosave has-exit-button'
                  min='1' max='30000' step='1'
                  value='{{ product.width|default_if_none:"" }}'>
        </td>
        <td><span class='units'>cm</span></td>
        <td class='exit-button'>
          <button class='symbol-go white'></button>
        </td>
      </tr></table>

      <table><tr>
        <td><i class='symbol-height black'></i></td>
        <td>
          <input type='tel' id='height' name='height' class='autosave has-exit-button'
                  min='1' max='30000' step='1'
                  value='{{ product.height|default_if_none:"" }}'>
        </td>
        <td><span class='units'>cm</span></td>
        <td class='exit-button'>
          <button class='symbol-go white'></button>
        </td>
      </tr></table>

      <table><tr>
        <td><i class='symbol-length black'></i></td>
        <td>
          <input type='tel' id='length' name='length' class='autosave has-exit-button'
                  min='1' max='30000' step='1'
                  value='{{ product.length|default_if_none:"" }}'>
        </td>
        <td><span class='units'>cm</span></td>
        <td class='exit-button'>
          <button class='symbol-go white'></button>
        </td>
      </tr></table>
    </div><!-- END MEASUREMENTS -->

    <!-- SHIPPING CHOOSER -->
    <div id='shipping-option-chooser-section' class='section'>
      <div class='section-number'>9</div>
      {% shipping_option_chooser_tag product %}
    </div>

    <!-- SUMMARY -->
    <div id='summary-section' class='section row-fluid'>
      <div class='section-number'>10</div>

      <div class='summary-info'>

        <div class='total-cost'>
          <span id='summary-total' class='number'>
            {% if product.seller_paid_amount %}{{ product.seller_paid_amount }}{% endif %}
          </span>
          <i class='' title='total cost'>Dh</i>
        </div>

        <div class='costs-detail extra'>
          <span id='summary-shipping' class='number'>
            {% if product.shipping_cost %}{{product.shipping_cost}}{% endif %}
          </span>
          <i class='symbol-shipping' title='shipping cost'></i>
          <span class='number'>+</span>
          <span id='summary-price' class='number'>
            {% if product.price %}{{product.price}}{% endif %}
          </span>
          <i class='' title='product cost'>Dh</i>
        </div>

      </div>

      <div class='summary-image'>
        <img src="{{ product.photo.thumb_size }}"/>
      </div>

      <button id='activate' name='activate' class='symbol-go white autosave'>
      </button>

    </div><!-- END SUMMARY -->

  </div><!-- end #product-edit-form -->

  <!-- FLOATING PHOTO -->
  <div id='floating-photo' class='visible-desktop pull-right'>
    <div class='image'>
      <img src="{{ product.photo.thumb_size }}"/>
    </div>
  </div>

  <!-- CONFIRMATION -->
  <div id='confirmation'>
    <div class='product-id'>
      <div class='product-id-tag'>
        <i class='symbol-opentag black' title='product id'></i>
      </div>
      <div class='product-id-number'>
        {{ product.id }}
      </div>
    </div>

    <div class='image'>
      <img src="{{ product.photo.thumb_size }}"/>
    </div>
  </div><!--END CONFIRMATION -->

{% endblock content %}
