{% load static %}

<div id='photo-{{ rank }}-upload-div' class='photo-upload-div'>

  <div id='photo-{{rank}}' class='photo'>
    <img src="{{ photo.thumb_size|default_if_none:'' }}"
         width='300' height='225' />
  </div>

  <div id='spinner-{{ rank }}' class='spinner-div'></div>

  <div id='progress-{{ rank }}' class="progress progress-striped">
    <div id='progress-bar-{{ rank }}' class="bar" style="width: 0%;"></div>
  </div>

  <div id='photo-forms-{{ rank }}' class='photo-forms'>
    <form id='data-form-{{ rank }}' class='data-form'
          method='post' action='{% url "seller:photo form data" %}'>

      <input type='hidden' name='product' class='product'
             id='photo-{{ rank }}-product'
             value='{{ product.id }}'>

      <input type='hidden' name='rank' class='rank'
             id='photo-{{ rank }}-rank'
             value='{{ rank }}'>

    </form>

    <form id='upload-form-{{ rank }}' class='upload-form'>
      <span class='file-wrapper'>

        <input type='file' name='file' class='photo-input'
               id='photo-input-{{ rank }}'
               accept='*'
               capture='camera'>

        <span class='file-button btn symbol-camera{{ rank }} black'></span>
      </span>
    </form>
  </div>
</div>
