<div id='requirement-image-upload'
     class='requirement-image {% if not image %}empty{% endif %} upload-div'
     data-image_id='{{ image.id }}'
     data-commission_id="{{ commission.id }}">

  <div id='image-{{ commission.id }}' class='image'>
    <img src="{{ image.thumb_size|default_if_none:'' }}"
         width="300" height="225" />
  </div>

  <div id='spinner-{{ commission.id }}' class='spinner-div'></div>

  <div id='progress-{{ commission.id }}' class="progress progress-striped">
    <div id='progress-bar-{{ commission.id }}' class="bar" style="width: 0%;"></div>
  </div>

  <div id='image-forms-{{ commission.id }}' class='upload-forms'>

    <input type="hidden" id="image-or-photo" name="image_or_photo"
           value="image">

    <input type="hidden" name="commission-image-url"
           id="requirement-image-upload-url"
           value="{% url "commission:commission image" %}">

    <form id='data-form-{{ commission.id }}' class='data-form'
          method='post' action='{% url "commission:commission image" %}'>

      <input type='hidden' name='commission_id' class='commission-id'
             id='commission-id'
             value='{{ commission.id }}'>

      <input type='hidden' name='image_id' class='image-id'
             id='image-{{ image.id }}-id'
             value='{{ image.id }}'>
    </form>

    <form id='upload-form-{{ commission.id }}' class='upload-form' onsubmit='return false;'>
      <span class='file-wrapper'>

        <input type='file' name='file' class='image-input'
               id='image-input-{{ commission.id }}'
               accept='*'
               capture='camera'>

        <span class='file-button btn symbol-camera black'></span>
      </span>
    </form>

  </div>
</div>
