{% extends "seller_base.html" %}
{% load url from future %}

{% block title %}edit {{ product.id }}{% endblock title %}

{% block viewport %}
  <meta id='page-viewport' name="viewport" content="width=350" />
{% endblock viewport %}

{% block css %}
  <link href='{{ STATIC_URL }}seller/css/product_edit.css' rel='stylesheet'>
  <link href='{{ STATIC_URL }}seller/css/photo_upload.css' rel='stylesheet'>
{% endblock css%}

{% block javascript %}
  <script src='{{ STATIC_URL }}vendor/blueimp-file-upload/js/vendor/jquery.ui.widget.js'></script>
  <script src='{{ STATIC_URL }}vendor/blueimp-file-upload/js/jquery.iframe-transport.js'></script>
  <script src='{{ STATIC_URL }}vendor/blueimp-file-upload/js/jquery.fileupload.js'></script>
  <script src='{{ STATIC_URL }}vendor/blueimp-file-upload/js/load-image.js'></script>
  <script src='{{ STATIC_URL }}seller/js/product_edit.js'></script>
{% endblock javascript%}

{% block new_product_active %}active{% endblock %}

{% block content %}
  {% load inventory_inclusion_tags %}

  <input type='hidden' id='product-ajax-url' value='{% url 'seller:save product' %}'>

  <div id='product-edit-form' class='text-center'>

    <div id='product-chooser-section' class='section'>
      <div class='section-number first'>1</div>
      {% asset_chooser_tag request product "product" %}
    </div>

    <div id='photos-section' class='section'>
      <div class='section-number'>2</div>

      <div id='photos' class='text-center'>
        {% for photo in product.photos %}
          {% photo_upload_tag photo_form product photo=photo %}
        {% endfor %}
        {% for rank in add_ranks_range %}
          {% photo_upload_tag photo_form product rank=rank %}
        {% endfor %}
      </div>

    </div>

    <form action="" method="post">{% csrf_token %}
      <div class='hidden-fields'>
        {{ product_form.product_id }}
        {{ product_form.assets }}
        {# product_form.photos #}
        {{ product_form.colors }}
        {{ product_form.shipping_options }}
      </div>

      <div id='price-section' class='section'>
        <div class='section-number'>3</div>
        <ul>
          <li class='input-prepend'>
            <span class='add-on'><i class='symbol-dirham black'></i></span>
            {{ product_form.price }}
          </li>
        </ul>
      </div>

      <div id='color-chooser-section' class='section'>
        <div class='section-number'>4</div>
        {% color_chooser_tag product %}
      </div>

      <div id='tool-chooser-section' class='section'>
        <div class='section-number'>5</div>
        {% asset_chooser_tag request product "tool" %}
      </div>

      <div id='material-chooser-section' class='section'>
        <div class='section-number'>6</div>
        {% asset_chooser_tag request product "material" %}
      </div>

      <div id='artisan-chooser-section' class='section'>
        <div class='section-number'>7</div>
        {% asset_chooser_tag request product "artisan" %}
      </div>

      <div id='measurements-section' class='section'>
        <div class='section-number'>8</div>
        <ul>
          <li class='input-prepend input-append'>
            <span class='add-on'><i class='symbol-weight black'></i></span>
            {{ product_form.width  }}
            <span class='add-on'>cm</span>
          </li>
          <li class='input-prepend input-append'>
            <span class='add-on'><i class='symbol-weight black'></i></span>
            {{ product_form.height }}
            <span class='add-on'>cm</span>
          </li>
          <li class='input-prepend input-append'>
            <span class='add-on'><i class='symbol-weight black'></i></span>
            {{ product_form.length }}
            <span class='add-on'>cm</span>
          </li>
          <li class='input-prepend input-append'>
            <span class='add-on'><i class='symbol-weight black'></i></span>
            {{ product_form.weight }}
            <span class='add-on'>g</span>
          </li>
        </ul>
      </div>

      <div id='shipping-option-chooser-section' class='section'>
        <div class='section-number'>9</div>
        {% shipping_option_chooser_tag request product %}
      </div>

      <div id='summary-section' class='section row-fluid'>
        <div class='section-number'>10</div>

        <div class='summary-photo span2'>
          <img src=''>
        </div>

        <div class='summary-values span3'>
          <ul>
            <li class='input-prepend'>
              <span class='add-on'><i class='symbol-dirham black'></i></span>
              <input type='text' id='summary-price' disabled>
            </li>
            <li class='input-prepend summary-detail'>
              <span class='add-on'><i class='symbol-shipping black'></i></span>
              <input type='text' id='summary-shipping-cost' disabled>
            </li>
            <li class='input-prepend summary-detail'>
              <span class='add-on'><i class='symbol-percent black'></i></span>
              <input type='text' id='summary-anou-fee' disabled>
            </li>
            <li class='input-prepend summary-detail'>
              <span class='add-on'><i class='symbol-sum black'></i></span>
              <input type='text' id='summary-total' disabled>
            </li>
            <li class='input-prepend summary-detail'>
              <span class='add-on'><i class='symbol-currency-exchange black'></i></span>
              <input type='text' id='summary-USD' disabled>
            </li>
            <li id='summary-show-more'>show more</li>
          </ul>
        </div>

        <div class='summary-submit span1'>
          <button class='btn' type="submit">OK!</button>
        </div>
      </div>
    </form>
  </div>
{% endblock content %}
