{% extends "seller_base.html" %}
{% load url from future %}

{% block title %}edit {{ product.id }}{% endblock title %}

{% block viewport %}
  <meta id='page-viewport' name="viewport" content="width=350" />
{% endblock viewport %}

{% block css %}
  <link href='{{ STATIC_URL }}seller/css/product_edit.css' rel='stylesheet'>
  <link href='{{ STATIC_URL }}seller/css/photo_upload.css' rel='stylesheet'>
{% endblock css%}

{% block javascript %}
  <script src='{{ STATIC_URL }}vendor/blueimp-file-upload/js/vendor/jquery.ui.widget.js'></script>
  <script src='{{ STATIC_URL }}vendor/blueimp-file-upload/js/jquery.iframe-transport.js'></script>
  <script src='{{ STATIC_URL }}vendor/blueimp-file-upload/js/jquery.fileupload.js'></script>
  <script src='{{ STATIC_URL }}vendor/blueimp-file-upload/js/load-image.js'></script>
  <script src='{{ STATIC_URL }}seller/js/product_edit.js'></script>
{% endblock javascript%}

{% block new_product_active %}active{% endblock %}

{% block content %}
  {% load inventory_inclusion_tags %}

  <input type='hidden' id='product-ajax-url' value="{% url 'seller:save product' %}">
  <input type='hidden' id='product-id' value='{{ product.id }}'>

  <div id='product-edit-form' class='text-center'>

    <div class='hidden-fields'>
      {{ product_form.product_id }}
      {{ product_form.assets }}
      {# product_form.photos #}
      {{ product_form.colors }}
      {{ product_form.shipping_options }}
    </div>

    <div id='product-chooser-section' class='section'>
      <div class='section-number first'>1</div>
      {% asset_chooser_tag request product "product" %}
    </div>

    <div id='photos-section' class='section'>
      <div class='section-number'>2</div>

      <div id='photos' class='text-center'>
        {% for photo in product.photos %}
          {% photo_upload_tag photo_form product photo=photo %}
        {% endfor %}
        {% for rank in add_ranks_range %}
          {% photo_upload_tag photo_form product rank=rank %}
        {% endfor %}
      </div>
    </div><!--end photos section-->

    <div id='price-section' class='section'>
      <div class='section-number'>3</div>
      <table><tr>
        <td><i class='symbol-currency'></i></td>
        <td>{{ product_form.price }}</td>
        <td><span class='units'>Dh</span></td>
        <td class='exit-button'>
          <button class='symbol-blue-arrow white hidden-desktop'></button>
        </td>
      </tr></table>
    </div><!--end price section-->

    <div id='color-chooser-section' class='section'>
      <div class='section-number'>4</div>
      {% color_chooser_tag product %}
    </div><!--end color section-->

    <div id='tool-chooser-section' class='section'>
      <div class='section-number'>5</div>
      {% asset_chooser_tag request product "tool" %}
    </div><!--end tool section-->

    <div id='material-chooser-section' class='section'>
      <div class='section-number'>6</div>
      {% asset_chooser_tag request product "material" %}
    </div><!--end material section-->

    <div id='artisan-chooser-section' class='section'>
      <div class='section-number'>7</div>
      {% asset_chooser_tag request product "artisan" %}
    </div><!--end artisan section-->

    <div id='measurements-section' class='section'>
      <div class='section-number'>8</div>

      <table id='weight-table'><tr>
        <td><i class='symbol-weight black'></i></td>
        <td>{{ product_form.weight}}</td>
        <td><span class='units'>g&nbsp;&nbsp;</span></td>
        <td class='exit-button'>
          <button class='symbol-blue-arrow white hidden-desktop'></button>
        </td>
      </tr></table>

      <table><tr>
        <td><i class='symbol-width black'></i></td>
        <td>{{ product_form.width }}</td>
        <td><span class='units'>cm</span></td>
        <td class='exit-button'>
          <button class='symbol-blue-arrow white hidden-desktop'></button>
        </td>
      </tr></table>

      <table><tr>
        <td><i class='symbol-height black'></i></td>
        <td>{{ product_form.height }}</td>
        <td><span class='units'>cm</span></td>
        <td class='exit-button'>
          <button class='symbol-blue-arrow white hidden-desktop'></button>
        </td>
      </tr></table>

      <table><tr>
        <td><i class='symbol-length black'></i></td>
        <td>{{ product_form.length }}</td>
        <td><span class='units'>cm</span></td>
        <td class='exit-button'>
          <button class='symbol-blue-arrow white hidden-desktop'></button>
        </td>
      </tr></table>
    </div><!--end measurements section-->

    <div id='shipping-option-chooser-section' class='section'>
      <div class='section-number'>9</div>
      {% shipping_option_chooser_tag request product %}
    </div><!--end shipping option section-->

    <div id='summary-section' class='section row-fluid'>
      <div class='section-number'>10</div>

      <div class='summary-info'>

        <div class='total-cost'>
          <span class='number'>{{ product.seller_paid_amount }}</span>
          <i class='' title='total cost'>Dh</i>
        </div>

        <div class='costs-detail extra'>
          <span class='number'>{{product.shipping_cost}}</span>
          <i class='symbol-shipping' title='shipping cost'></i>
          <span class='number'>+</span>
          <span class='number'>{{product.price}}</span>
          <i class='' title='product cost'>Dh</i>
        </div>

      </div>

      <div class='summary-image'>
        <img src="{{ product.photos.0.thumb }}"/>
      </div>

      <button id='submit' class='symbol-blue-arrow white'></button>
    </div><!--end summary section-->

  </div>

  <div id='confirmation'>
    <div class='product-id'>

      <div class='product-id-tag'>
        <i class='symbol-longtag black' title='product id'></i>
      </div>
      <div class='product-id-number'>
        10{{ product.id }}
      </div>

    </div><!-- end #product-edit-form -->

    <div class='image'>
      <img src="{{ product.photos.0.thumb }}"/>
    </div>
  </div><!--end confirmation div-->

{% endblock content %}
