<div class='photo-upload-div'>
  <div class='photo'>
    {% if photo_url %}
      <img src="{{ photo_url }}" width="300" />
    {% else %}
      <img data-src="holder.js/300x225" width="300" />
    {% endif %}
  </div>

  <div class="progress progress-striped">
    <div class="bar" style="width: 0%;"></div>
  </div>

  <div class='photo-form'>
    <form>
      <div class='hidden-fields'>
        {{ photo_form.timestamp }}
        {{ photo_form.signature }}
        {{ photo_form.api_key }}
        {{ photo_form.format }}
        {{ photo_form.transformation }}
        {{ photo_form.tags }}
        {{ photo_form.product }}
        {{ photo_form.rank }}
        <input type='hidden' class='photo-id-save autosave' value=''
               id='photo{{ photo_form.rank.value }}'
               name='photo{{ photo_form.rank.value }}'
               data-product_id='{{ product_id }}'
               data-attribute='photo'
               data-photo_id='{{ photo_id|default_if_none:'' }}'
               data-rank='{{ photo_form.rank.value }}'
               >
      </div>
      <span class='file-wrapper'>
        {{ photo_form.file }}
        <span class='file-button btn symbol-camera'></span>
      </span>
    </form>
  </div>
</div>
