<div id='remove-product{{ product.id }}' class='remove-product'>
  <a href="{% url 'seller:inventory remove' product.id %}">
    <i class='symbol-remove red' title='remove product from inventory'></i>
  </a>
</div>

<div class='product-image'>
  <a href='{% url 'seller:edit product' product.id %}'>
    <img id='product{{ product.id }}-image' src="{{ product.photo.thumb_size }}"
         style="width: 300; height: 225;"/>
  </a>
</div>

<div class='details text-center'>
  <div class='part1 ratings'>

    <i class='
      {% if product.ratings.Appeal and 0 < product.ratings.Appeal and product.ratings.Appeal < 4 %}
        symbol-sad
      {% else %}symbol-happy
      {% endif %}
      color-rating{{ product.ratings.Appeal }}' title='appeal'></i>

    <i class='symbol-camera color-rating{{ product.ratings.Photography }}' title='photography'></i>
    <i class='symbol-money color-rating{{ product.ratings.Price }}' title='price'></i>

  </div>

  <div class='part2 product-id'>

    <div class='product-id-tag'>
      <i class='symbol-solidtag color-rating{{ product.rating }}' title='product id'></i>
    </div>
    <div class='product-id-number'>{{ product.id }}</div>

  </div>
</div>
