{% load url from future %}
<div id='remove-product{{ product.id }}' class='remove-product'>
  <a href="{% url 'seller:inventory remove' product_id=product.id %}">
    <i class='symbol-close red' title='remove product from inventory'></i>
  </a>
</div>

<div class='product-image'>
  <img id='product{{ product.id }}-image'
       src="{{ product.first_photo.thumb }}"/>
</div>

<div class='details text-center'>
  <div class='part1'>
    <div class='ratings'>
      {% if rating.product > 3 %}
        <i class='symbol-tag color-rating{{ rating.product }}' title='likeability'></i>
      {% else %}
        <i class='symbol-tag color-rating{{ rating.product }}' title='likeability'></i>
      {% endif %}
      <i class='symbol-tag color-rating{{ rating.picture }}' title='picture quality'></i>
      <i class='symbol-tag color-rating{{ rating.price }}' title='price accuracy'></i>
    </div>
  </div>

  <div class='part2'>
    <div class='product-id'>
      <span>100{{ product.id }}</span>
      <i class='symbol-tag color-rating{{ rating.overall }}' title='product id'></i>
    </div>
  </div>
</div>