{% load url from future %}

<div class='product-id'>
  <div class='product-id-tag text-center'>

      <i class='
        {% if product.order.is_seller_paid %}symbol-solidtag gold
        {% else %}symbol-opentag black
        {% endif %}
      ' title='product id'></i>
  </div>
  <div class='product-id-number text-center'>
    {{ product.id }}
  </div>
</div>

<div class='details text-center'>
  <div class='costs'>
    <ul>
      <li class='total-cost extra'>
        <span class='number'>{{ product.order.seller_paid_amount|floatformat:'0' }} Dh</span>
      </li>

      <li class='costs-detail extra'>
        <span class='number'>{{ product.order.shipping_charge|floatformat:'0' }}</span>
        <i class='symbol-shipping' title='shipping cost'></i>
        <span class='number'>+</span>
        <span class='number'>{{ product.order.products_charge|floatformat:'0' }}</span>
      </li>

      <li class='status extra'>
        <!--<i class='symbol-shipping {% if product.order.is_received %}green{% else %}red{% endif %}'
           title='product arrived'></i>-->

        <i class='symbol-SMS-shipping {% if product.order.is_shipped %}green{% else %}red{% endif %}'
           title='product shipped'></i>

        <i class='symbol-SMS {% if product.order.is_seller_confirmed %}green{% else %}red{% endif %}'
           title='product confirmed'></i>
      </li>
    </ul>
  </div>
</div>

<div class='product-image'>
  <img id='product{{ product.id }}-image'
       src="{{ product.photo.thumb_size }}"/>
</div>
