{% extends "base.html" %}
{% load url from future %}
{% load home_inclusion_tags %}

{% block javascript %}
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
  <script src="{{ STATIC_URL}}vendor/shapeshift/js/jquery.shapeshift.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL}}js/public/home.js"></script>
{% endblock javascript %}

{% block css %}
  <link href="{{ STATIC_URL }}css/public/home.css" rel="stylesheet">
{% endblock css %}

{% block header %}
  <div class='content'>

    <span id='top-of-page-marker'>&nbsp</span>
    <div id='scroll-controller' style='display:none;'
         data-spy='scroll' data-target='#scroll-controller' data-offset='400'
    >
      <a id='#top-of-page' href='#top-of-page-marker'></a>
      <a id='#rest-of-page' href='#product-container'></a>
    </div>

    <div id='full-nav'>
      <div class='hidden-phone'>{% home_header_tag request "full" %}</div>
      <div class='visible-phone'>{% home_header_tag request "mobile" %}</div>
    </div>
    <div id='mini-nav' style='display:none;'>
      {% home_header_tag request "mini" %}
    </div>

{% endblock header %}


{% block content %}
  <div id='main' class='content'>

    <div id='search-toolbar'>
      <div class='row-fluid'>
        <div class='span4'><input type='text' value='search'></div>
        <div class='span5'>
          <a href='' class='btn'>Carpets</a>
          <a href='' class='btn'>Baskets</a>
          <a href='' class='btn'>Necklaces</a>
          <a href='' class='btn'>Bracelets</a>
        </div>
        <div class='span3'><input type='text' value='search'></div>
      </div>
    </div>
    <div id='product-container'></div>

  </div>
{% endblock content %}
