{% load url from future %}


<div class='product row-fluid' data-url="{% url 'product' product.id %}">
  <div class='span12 left-side'>

    <div class='title title-photo'><p>{{ product.name }}</p></div>

    <div class='photo'>
      <img src='{{ photo_0.thumb }}'>
    </div>

    <div class='extra extra-photos row-fluid hidden-phone'>
      <div class='span4'><img src='{{ photo_1.pinky }}'></div>
      <div class='span4'><img src='{{ photo_2.pinky }}'></div>
      <div class='span4'><img src='{{ photo_3.pinky }}'></div>
    </div>

  </div>
  <div class='right-side hidden-phone'>

    <div class='extra title title-artisan'><p>by {{ product.artisan_name }}</p></div>

    <div class='extra artisan-image'>
      <img src='{{ product.artisan_image }}'>
    </div>

    <div class='extra details'>
      <ul class='inline'>
        <li>
          <a href="{% url 'store' product.seller_id %}">
            more from {{product.seller_name}}
          </a>
        </li>
        {% for detail in product.details %}
          <li class='badge badge-info'>{{ detail }}</li>
        {% endfor %}
      </ul>
    </div>

  </div>
</div>
