{% extends "admin_base.html" %}
{% load url from future %}

{% block css %}
  <style>
    td{min-width: 50px;}
    .name{text-align: right;}
    .name, .login i{font-size: 18pt;}
    .phone i{font-size: 12pt;}
  </style>
{% endblock css %}

{% block content %}

<h3>Seller Accounts</h3>

<table class='table table-hover'>
  {% for account in seller_accounts %}

    <tr>
      <td>
        <a href="{% url 'admin:account edit' account.id %}">Edit</a>
      </td>

      <td class='name'>
        {% if account.name %}{{ account.name }}{% else %}-name-{% endif %}
      </td>

      <td class='login'>
        <a href="{{ account.cheat_login_url }}"><i class='symbol-go anou-blue'></i></a>
      </td>

      <td class='phone'>
        <i class='symbol-phone'></i>
        {{ account.phone }}
      </td>

      <td>{{ account.username }}</td>
      <td>{{ account.email }}</td>
    </tr>

  {% endfor %}

</table>

{% endblock content %}
