{% extends "admin_base.html" %}
{% load url from future %}

{% block css %}
  <style>
    thead td{text-decoration: underline;}
  </style>
{% endblock css %}

{% block content %}

<h1>All Accounts</h1>

<table>
  <thead>
    <td></td>
    <td>Type</td>
    <td>Name</td>
    <td>Username</td>
    <td>Email</td>
    <td>Phone</td>
  </thead>

  {% for account in accounts %}
    <tr>
      <td>
        {% if not account.is_admin %}
          <a href="{{ account.cheat_login_url }}">Login</a>
        {% endif %}
      </td>
      <td>
        {% if account.is_admin %}admin{% else %}seller{% endif %}
      </td>
      <td>
        <a href="{% url 'admin:account edit' account.id %}">
          {% if account.name %}{{ account.name }}{% else %}[no name]{% endif %}
        </a>
      </td>
      <td>
        {{ account.username }}
      </td>
      <td>
        {{ account.email }}
      </td>
      <td>
        {{ account.phone }}
      </td>
    </tr>
  {% endfor %}

</table>

{% endblock content %}
