{% extends "admin_base.html" %}
{% load url from future %}

{% block css %}
  <style>
    #edit-account-form ul li{display: block;}
    #edit-account-form i{font-size: 18pt;}
    #submit-button{font-size: 24pt;}
  </style>
{% endblock css %}

{% block logo %}
  <i class='symbol-profile black'></i>
{% endblock logo %}

{% block content %}
  <form id='edit-account-form' action="/" method="post">{% csrf_token %}

    <ul class='unstyled'>
      <li class='input-prepend'>
        <i class='add-on symbol-name black' title='name'></i>
        {{form.name}}
      </li>

      <li class='input-prepend input-append'>
        <i class='add-on symbol-phone black' title='phone'></i>
        {{ form.phone }}
        <a href="{% url 'admin:reset password' seller.account.id %}"
           class='add-on symbol-password red'
           title='reset password' onclick='return false'></a>
      </li>

      <li class='input-prepend'>
        <i class='add-on symbol-profile black' title='username'></i>
        {{ form.username }}
      </li>

      <li class='input-prepend'>
        <i class='add-on symbol-email black' title='email'></i>
        {{ form.email }}
      </li>

      <li class='input-prepend'>
        <i class='add-on black' title='bank name'>$</i>
        {{ form.bank_name }}
      </li>

      <li class='input-prepend'>
        <i class='add-on black' title='bank account'>#</i>
        {{ form.bank_account }}
      </li>
    </ul>

    <button id='submit-button'
            class='btn btn-large symbol-go green'
            type='submit' />

  </form>
{% endblock content %}
