{% extends "base.html" %}
{% load url from future %}

{% block title %}
  {{ block.super }} Seller
{% endblock title %}

{% block css %}
  <style>
    #header{
      border-bottom: none;
    }
    input{max-width: 150px;}
    ul{list-style: none;}
    form{
      text-align: center;
    }

    table{
      margin: 0 auto;
    }
    table td{
      height: 4em;
      vertical-align: middle;
    }
    input{
      height: 1em;
      font-size: 2em;
      width: 8em;
      text-align: center;
    }
    table i{
      font-size: 3em;
      padding: 0 .5em;
    }
    button{
      font-size: 2.5em;
      line-height: normal;
      height: 1.5em;
      width: 4em;
      background-color: green;
      border-radius: 0.5em;
      margin: 0.5em;
    }

  </style>
{% endblock css%}

{% block javascript %}
  <script>
    $('i').click(function(){
      $(this).closest('table').find('input').focus();
    });
  </script>
{% endblock javascript %}

{% block header %}
  <div id="base-logo" class='text-center'>
    <ul>
      <li>
        <a href="{% url 'home' %}">
          <img src="{{ STATIC_URL }}images/Anou_logo_80x50.png" alt="Anou logo">
        </a>
      </li>
      {% if request.session.admin_id %}
        <li>
          <a href="{% url 'admin:dashboard' %}">Admin Dashboard</a>
        </li>
      {% endif %}
    </ul>
  </div>
{% endblock header %}
{% block content %}

  {% if form.errors %}
    <p style="color: red;">
      Please correct the error{{ form.errors|pluralize }} below.
    </p>
  {% endif %}

  <form action="{% url 'admin:login' %}" method="post">{% csrf_token %}

    <table><tr>
      <td><i class='symbol-profile'></i></td>
      <td>{{ form.username }}</td>
    </tr></table>

    <table><tr>
      <td><i class='symbol-password'></i></td>
      <td>{{ form.password }}</td>
    </tr></table>

    <button class='symbol-submit white'></button>
  </form>
{% endblock content %}

{% block footer %}
{% endblock footer %}