{% extends "base.html" %}
{% load url from future %}

{% block title %}
  {{ block.super }} Seller
{% endblock title %}

{% block css %}
  <style>
    input{max-width: 150px;}
    ul{list-style: none;}
    form{text-align: center;}
  </style>
{% endblock css%}

{% block header %}
  <div id="base-logo" class='pull-left'>
    <a href="{% url 'home' %}">
      <img src="{{ STATIC_URL }}images/Anou_logo_80x50.png" alt="Anou logo">
    </a>
  </div>
  <div id="base-navigation">
    <ul class='nav nav-pills pull-right'>

      <li class='btn-large'>
        <a href="{% url 'home' %}">Home</a>
      </li>

    </ul>
  </div>
{% endblock header %}
{% block content %}

  {% if form.errors %}
    <p style="color: red;">
      Please correct the error{{ form.errors|pluralize }} below.
    </p>
  {% endif %}

  <form action="{% url 'admin:login' %}" method="post">{% csrf_token %}
    <ul>
      <li>
        <i class='symbol-profile'></i>
        {{ form.username }}
      </li>
      <li>
        <i class='symbol-password'></i>
        {{ form.password }}
      </li>
    </ul>
    <button class='symbol-submit'></button>
  </form>
{% endblock content %}
