{% extends "base.html" %}
{% load url from future %}

{% block title %}
  {{ block.super }} Seller
{% endblock title %}

{% block css %}
  <style>
    body{padding: 10px 0;}
    #header{border-bottom: none;}
    #body{margin-top:100px;}
    @media (max-width: 980px) {
      #body{margin-top:0px;}
    }

    input{max-width: 150px;}
    ul{list-style: none;}
    form{
      text-align: center;
    }

    table{
      margin: 0 auto;
    }
    table td{
      height: 4em;
      vertical-align: middle;
    }
    input{
      width: 8em;
      text-align: center;
    }
    table i{
      font-size: 3em;
      padding: 0 .5em;
    }
    button, .exit-button span{
      font-size: 2.5em;
      line-height: normal;
      height: 1.5em;
      width: 4em;
      background-color: green;
      border: none;
      border-radius: 0.5em;
      margin: 0.5em;
    }
    .exit-button{
      border-left: 1em solid transparent;
    }
    .exit-button span{
      font-size: 1em;
      height: 100%;
      width: 3em;
      opacity: 0.01;
      padding: 0.5em 0em;
    }
    .chg-type-to-text{
      font-size: 0.5em;
      line-height: 4.5em;
      color: white;
      cursor: pointer;
    }
    .error{
      background-color: rgba(245, 0, 0, 0.3);
    }
  </style>
{% endblock css%}

{% block javascript %}
  <script>
    //show login errors
    $(function(){
      if ($('#incorrect').val() === "wrong username"){
        $('#id_username').closest('table').addClass('error');
      }
      if ($('#incorrect').val() === "wrong password"){
        $('#id_password').closest('table').addClass('error');
      }
    });
    //remove errors on input select
    $('#id_username, #id_password').on('click', function(){
      $(this).closest('table').removeClass('error');
    });

    $('i').click(function(){
      $(this).closest('table').find('input').focus();
    });

    //show exit-button when focused on input (mobile)
    $('#id_username, #id_password').on('focus', function(){
      $(this).closest('td').next('td').find('span')
      .css('opacity', '1');
    });
    $('.exit-button span').on('click', function(){
      $('#id_username, #id_password').blur();
      $(this).css('opacity', '0.01');
    });
    $('#id_username, #id_password').on('blur', function(){
      $(this).closest('td').next('td').find('span')
      .css('opacity', '0.01');
    });
    $('.chg-type-to-text').on('click', function(){
      $('input').attr('type', 'text').blur().focus();
      $(this).remove();
    });
  </script>
{% endblock javascript %}

{% block header %}
  <div id="base-logo" class='text-center'>
    <ul>
      <li>
        <a href="{% url 'home' %}">
          <img src="{{ STATIC_URL }}images/Anou_logo_80x50.png" alt="Anou logo">
        </a>
      </li>
      {% if request.session.admin_id %}
        <li>
          <a href="{% url 'admin:dashboard' %}">Admin Dashboard</a>
        </li>
      {% endif %}
      <li>
        <a class='chg-type-to-text visible-phone'>abc</a>
      </li>
    </ul>
  </div>
{% endblock header %}

{% block content %}
  <input id='incorrect' type='hidden' value='{{ incorrect }}'>
  <form action="{% url 'admin:login' %}" method="post">{% csrf_token %}

    <table><tr>
      <td><i class='symbol-phone'></i></td>
      <td>{{ form.username }}</td>
      <td class='exit-button'>
        <span class='symbol-go white hidden-desktop'></span>
      </td>
    </tr></table>

    <table><tr>
      <td><i class='symbol-password'></i></td>
      <td>{{ form.password }}</td>
      <td class='exit-button'>
        <span class='symbol-go white hidden-desktop'></span>
      </td>
    </tr></table>

    <button class='symbol-go white'></button>
  </form>
{% endblock content %}

{% block footer %}
{% endblock footer %}

{% block zopim %}
{% endblock zopim %}
