{% extends "admin_base.html" %}

{% block css %}
  <style>
    form ul li{display: block;}
    form i{font-size: 18pt;}
    #submit-button{font-size: 24pt;}
  </style>
{% endblock css %}

{% block logo %}
  <i class='symbol-reset-password black'></i>
{% endblock logo %}

{% block content %}
  <form action="" method="post">{% csrf_token %}
    <ul>
      <li>
        <h3>{{ account_name|default_if_none:"" }}</h3>
      </li>
      <li class='input-prepend'>
        <i class='symbol-password black add-on'></i>
        {{ form.new_password }}
      </li>

      <li>
        <button id='submit-button'
                class='btn btn-large symbol-go green'
                type='submit' />
      </li>
    </ul>
  </form>
{% endblock content %}
