{% extends "base.html" %}

{% block content %}
  {% load url from future %}
  <ul>
    <li><a href="{% url 'admin:account create' %}">Create New Admin or Seller Account</a></li>
    <li><a href="{% url 'admin:currency' %}">Currency</a></li>
    <li><a href="{% url 'admin:country' %}">Country</a></li>
    <li><a href="{% url 'admin:color' %}">Color</a></li>
    <li><a href="{% url 'admin:category' %}">Category</a></li>
    <li><a href="{% url 'admin:rating_subject' %}">Rating Subject</a></li>
  </ul>
{% endblock content %}
