{% extends "admin_base.html" %}
{% load url from future %}

{% block javascript %}
  <script>

    $('.editable').keyup(function(){
      $('#anou_fee').val('')
      $('#local_price').val('')
      $('#usd_price').val('')
      $('#wepay_fee').val('')
      $('#anou_store_price').val('')
    });

    $('.editable').blur(function(){
      var artisan_price = parseInt($('#artisan_price').val());
      var shipping_cost = parseInt($('#shipping_cost').val());
      var exchange_rate = parseFloat($('#exchange_rate').val());

      if (artisan_price > 0 && shipping_cost > 0 && exchange_rate > 0){

        var anou_fee = artisan_price * (10 / 90)
        var local_price = artisan_price + shipping_cost + anou_fee
        var usd_price = local_price / exchange_rate
        var wepay_fee = 0.3 + ((0.029/(1-0.029))*(usd_price + 0.3))
        var anou_store_price = usd_price + wepay_fee

        $('#anou_fee').val(anou_fee.toFixed(2))
        $('#local_price').val(local_price.toFixed(2))
        $('#usd_price').val(usd_price.toFixed(2))
        $('#wepay_fee').val(wepay_fee.toFixed(2))
        $('#anou_store_price').val(anou_store_price.toFixed(2))
      }
    })

  </script>
{% endblock javascript %}

{% block css %}
  <style>
    #fields li{display: block;}
    #fields i[class*="symbol-"] {font-size: 18pt;}
    #fields td.label-for{
      font-size: 14pt;
      text-align: right;
      padding: 0 15px 0 0;
      white-space: nowrap;
    }
  </style>
{% endblock css %}

{% block logo %}
  <i class='symbol-money-calc black'></i>
{% endblock logo %}

{% block content %}
  <table id='fields' class='unstyled'>

    <tr>
      <td class='label-for'>Artisan Price</td>
      <td class='input-prepend input-append'>
        <i class='add-on symbol-money black' title='username'></i>
        <input id='artisan_price' type='text' class='editable'>
        <i class='add-on' title='username'>Dh</i>
      </td>
    </tr>

    <tr>
      <td class='label-for'>Shipping Cost</td>
      <td class='input-prepend input-append'>
        <i class='add-on symbol-shipping black' title='username'></i>
        <input id='shipping_cost' type='text' class='editable'>
        <i class='add-on' title='username'>Dh</i>
      </td>
    </tr>

    <tr>
      <td class='label-for'>Anou Fee</td>
      <td class='input-prepend input-append'>
        <i class='add-on black' title='username'>%</i>
        <input id='anou_fee' type='text' disabled='disabled'>
        <i class='add-on' title='username'>Dh</i>
      </td>
    </tr>

    <tr>
      <td class='label-for'>Local Price</td>
      <td class='input-prepend input-append'>
        <i class='add-on symbol-money black' title='username'></i>
        <input id='local_price' type='text' disabled='disabled'>Dh
        <i class='add-on' title='username'>Dh</i>
      </td>
    </tr>

    <tr>
      <td class='label-for'>Exchange Rate</td>
      <td class='input-prepend input-append'>
        <i class='add-on symbol-currency-exchange black' title='username'></i>
        <input id='exchange_rate' type='text' value='{{exchange_rate}}' class='editable'>
        <i class='add-on' title='username'>Dh/USD</i>
      </td>
    </tr>

    <tr>
      <td class='label-for'>USD Price</td>
      <td class='input-prepend input-append'>
        <i class='add-on symbol-money black' title='username'></i>
        <input id='usd_price' type='text' disabled='disabled'>
        <i class='add-on' title='username'>USD</i>
      </td>
    </tr>

    <tr>
      <td class='label-for'>Wepay Fee</td>
      <td class='input-prepend input-append'>
        <i class='add-on symbol-money black' title='username'></i>
        <input id='wepay_fee' type='text' disabled='disabled'>
        <i class='add-on' title='username'>USD</i>
      </td>
    </tr>

    <tr>
      <td class='label-for'>Anou Store Price</td>
      <td class='input-prepend input-append'>
        <i class='add-on symbol-money black' title='username'></i>
        <input id='anou_store_price' type='text' disabled='disabled'>
        <i class='add-on' title='username'>USD</i>
      </td>
    </tr>
  </table>
{% endblock content %}
