{% load url from future %}

<tr id='title-row-{{ product.id }}' class='title-row'>
  <td class='name'>
    <h4 class='copy-font'>{{ product.seller.name }}</h4>
    <div class='links' style='white-space: nowrap'>
      <a href="{{ product.get_absolute_url }}" target='_blank'>
        <i class='symbol-profile green'></i>
      </a>
      <i class='black'>{{ product.id }}</i>
      {% if product.in_holding or not product.is_approved %}
        <a href="{% url 'seller:edit product' product.id %}" target='_blank'>
          <i class='symbol-go blue'></i>
        </a>
      {% endif %}
    </div>
  </td>
  </td>

  <td colspan='3'>
    {% for photo in product.photos.all %}
      <img src='{{ photo.pinky_size }}'>
    {% endfor %}
  </td>
</tr>

<tr id='actions-row-{{ product.id }}' class='actions-row highlight'>

  {% if admin_type in "country, master" %}
    <td class='actions'>
      {% if not product.is_approved %}
        <i class='approve-product symbol-check green'
           data-product-id="{{ product.id }}">
        </i>
      {% else %}
        <i class='close-product symbol-check green'
           data-product-id="{{ product.id }}">
        </i>
      {% endif %}
      {% if not product.in_holding %}
      <br>
      <i class='hold-product symbol-hold red'
         data-product-id="{{ product.id }}">
      </i>
      {% endif %}
      {% if product.is_active and not product.approved_at or product.in_holding %}
        <br>
        <i class='delete-product symbol-remove red'
           data-product-id="{{ product.id }}">
        </i>
      {% endif %}
    </td>
  {% endif %}

  <td class='measures'>
    <i class='symbol-money nowrap'> {{ product.price }}</i>
    <br>
    <i class='symbol-weight'> {{ product.weight }}</i>
    <br>
    <i class='symbol-shipping'> {{ product.shipping_cost }}</i>
  </td>

  <td class='ratings' colspan='2'>
    {% for subject in rating_subjects %}
      <div class='rate-group {{ subject }} inline'>
        {% for value in rating_values %}
          <span id='rating-{{subject}}-{{value}}-span'
              class='{% if value == 0 %}active{% endif %}'
          >
            <i class="rate

                {% if subject.name == 'Appeal' %}
                  {% if 0 < value and value < 4 %}symbol-sad{%else%}symbol-happy{%endif%}
                {% elif subject.name = 'Photography' %}symbol-camera
                {% elif subject.name = 'Price' %}symbol-money
                {% endif %}

                color-rating{{value}}
              "
              data-product-id="{{ product.id }}"
              data-subject="{{ subject.name }}"
              data-value="{{ value }}">
            </i>
          </span>
        {% endfor %}
      </div>
    {% endfor %}
  </td>
</tr>
