{% extends "admin_base.html" %}

{% block javascript %}
  <script>
    //auto select-all on click
    $('input,textarea').on('click', function(){
      $(this).select();
    });

    $('#etsy-info-btn').on('click', function(){
      $('#etsy-info').show();
      $('#ebay-info').hide();
    });
    $('#ebay-info-btn').on('click', function(){
      $('#ebay-info').show();
      $('#etsy-info').hide();
    });
  </script>
{% endblock javascript %}

{% block css %}
  <style>
    #etsy-info, #ebay-info{
      display: none;
      width: 100%;
      height: 1000px;
    }
    #etsy-info-btn{}
    #ebay-info-btn{}
  </style>
{% endblock css %}

{% block content %}


  <form method='post' action="{% url 'admin:product lookup' %}">{% csrf_token %}
    <ul class='inline'>
      <li>
        <label for='product_id'>Product ID:</label>
      </li>
      <li>
        <input type='text' class='input-mini'
               id='product_id' name='product_id'
               value='{{ product.id }}'>
      </li>
      <li>
        <button type='submit' class='btn'>Go</button>
      </li>
    </ul>
  </form>

  <h2 style='color:red;'>{{ problem }}</h2>

  <table>
    <tr><td colspan='2' style='width:250px;'></td></tr>
    <tr>
      <td>Anou Store Price:</td>
      <td>$<input class='input-mini' value="{{ product.display_price }}"></td>
    </tr>
    <tr>
      <td>Etsy Price:</td>
      <td>$<input class='input-mini' value="{{ product.etsy_price }}"></td>
    </tr>
    <tr>
      <td>Ebay Price:</td>
      <td>$<input class='input-mini' value="{{ product.ebay_price }}"></td>
    </tr>
  </table>
  <br>
  <br>
{% if product %}

Product Title:
<textarea style="width: 100%;">
  {{ product.title_description }}
</textarea>

Product Description:
<textarea style="width: 100%;">
  {{ product.description }}
</textarea>

Artisan Image:
<textarea style="width: 100%;">
  {{ product.artisan.image.original }}
</textarea>

Product Photos:
{% for photo in product.photos.all %}
<textarea style="width: 100%;">
  {{ photo.original }}
</textarea>
{% endfor %}

Information:
<button id='etsy-info-btn' class='btn'>Etsy</button>
<button id='ebay-info-btn' class='btn'>Ebay</button>

<textarea id='etsy-info'>
This item was crafted in {{ product.seller.city }}, {{ product.seller.country.name }} and posted by the members of {{ product.seller.name }} using Anou's online-mobile platform.


About The Artisan:
{{ product.artisan.name}}
{{ product.artisan.description}}


{% if product.materials%}Materials Used:
{% for material in product.materials %}
  {{ material.name }}
  {{ material.description }}
{% endfor %}{% endif %}

{% if product.tools %}Tools Used:
{% for tool in product.tools %}
  {{ tool.name }}
  {{ tool.description }}
{% endfor %}{% endif %}

Dimensions:
{{ product.english_dimensions }}
or
{{ product.metric_dimensions }}

Shipping Weight:
{{ product.weight }} grams


Shipping And Tracking:
This item will be sent from {{ product.seller.city }}, {{ product.seller.country.name }} and may take 2-4 weeks to arrive. We will provide a tracking number once the item is shipped!

Returns:
We'll issue full refunds for any reason. We'll even cover the return shipping!

Note:
This item was posted by {{ product.seller.name }} in {{ product.seller.city }}, {{ product.seller.country.name }} using Anou's mobile-online platform. To learn more, review our policy page.
</textarea>

<textarea id='ebay-info'>
<div style='text-align: center; margin: auto;'>
  <img src="http://s3.amazonaws.com/anou/images/Anou_logo_80x50.png" title='anou-logo'>

  <h2>Directly Connecting You With Artisans Across Morocco</h2>

  <p>When you buy this item, you will buy directly from {{ product.seller.name }}. This item and the following information was posted for sale by {{ product.seller.name }} in {{ product.seller.city }}, {{ product.seller.country.name }} using Anou's online-mobile platform.</p>

  <div style='text-align: center; margin: auto; max-width: 800px'>
    {% for photo in product.photos.all %}
      <img src='{{ photo.product_size }}'>
    {% endfor %}
  </div>

  <h2 style='padding-top:50px'>
    Dimensions:
  </h2>
  <p>{{ product.english_dimensions }}</p>
  <p>{{ product.metric_dimensions }}</p>
  <h2 style='padding-top:50px'>
    Shipping Weight:
  </h2>
  <p>{{ product.weight }} grams</p>

  <h2 style='padding-top:50px'>
    This {{ product.name }} Was Handmade By:
  </h2>
  <img src='{{ product.artisan.image.headshot }}'>
  <h4>{{ product.artisan.name }}</h4>
  <p>{{ product.artisan.description }}</p>

  <h2 style='padding-top:50px'>
    This {{ product.name }} Was Handmade With:
  </h2>

  {% for material in product.materials %}
    <img src='{{ material.image.peephole }}'>
    <h4>{{ material.name }}</h4>
    <p>{{ material.description }}</p>
  {% endfor %}

  {% for tool in product.tools %}
    <img src='{{ tool.image.peephole }}'>
    <h4>{{ tool.name }}</h4>
    <p>{{ tool.description }}</p>
  {% endfor %}

  <h2 style='padding-top:50px'>
    Learn More About {{ product.artisan.name }}'s Cooperative: {{ product.seller.name }}
  </h2>
  <p>{{ product.seller.bio }}</p>

  <h2 style='padding-top:50px'>
    Anou Has Been Featured By:
  </h2>

  <ul style="list-style-type:none;">

    <li style="display:inline; padding: 20px;">
      <img src="http://res.cloudinary.com/hork5h8x1/image/upload/c_fit,w_170/v1383764158/pc_1_tgowq3.jpg">
    </li>

    <li style="display:inline; padding: 20px;">
      <img src="http://res.cloudinary.com/hork5h8x1/image/upload/c_fit,w_170/v1383764197/ted_dark_200x200_1_mwjzws.jpg">
    </li>

    <li style="display:inline; padding: 20px;">
      <img src="http://res.cloudinary.com/hork5h8x1/image/upload/c_fit,w_170/v1383764222/wamda-2-0-profile_1_nhcnwm.jpg"/>
    </li>
  </ul>

</div>
</textarea>

{% endif %}
{% endblock content %}
