{% extends "base.html" %}

{% load cache %}

{% cache 86400 about %}

{% block title %}
  About Us,
  {{ block.super }}
{% endblock title %}

{% block description %}
  Anou is an artisan community selling their work independently.
  With language-free design for illiterate artisans to engage directly with customers, representing a fundamental shift in fair-trade practices.
{% endblock description %}

{%block open_graph_type%}{%endblock%}
{%block open_graph_url%}http://www.theanou.com/about{%endblock%}
{%block open_graph_title%}About Us and FAQ{%endblock%}
{%block open_graph_description%}{{ block.super }}{%endblock%}
{%block open_graph_image%}{{ block.super }}{%endblock%}

{% block javascript %}
  <script type="text/javascript" src="{{ STATIC_URL }}public/js/about.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}vendor/fitvids/js/jquery.fitvids.js"></script>
{% endblock javascript %}

{% block css %}
  <link href="{{ STATIC_URL }}public/css/about.css?v=1" rel="stylesheet">
{% endblock css %}


{% block header_link_1 %}
  <li><a class='title' href="{% url 'home' %}">Store</a></li>
{% endblock header_link_1 %}

{% block header_link_2 %}
  <li><a class='title' href="http://helloanou.wordpress.com">Blog</a></li>
{% endblock header_link_2 %}

{% block content %}

<!--<div id='facebook' class='text-center hidden-phone'>
  <div class="fb-like"
       data-href="http://www.theanou.com/about"
       data-width="350" data-layout="button_count"
       data-show-faces="true" data-send="true">
  </div>
</div>-->

<div class='row-fluid title section-title'>
  <div class='span12'>About</div>
</div>

<div id='headline' class='row-fluid section'>
  <div class='span6'>
    <h1 class='copy-font'>
      Anou is a community of artisans working together
      to establish equal access to the free market.
    </h1>

    <h2 class='copy-font'>
      Finally, artisans are gaining the freedom to set their own prices and engage directly with you.
    </h2>

    <h2 class='copy-font'>
      <span class='quote'>&ldquo;</span>Anou represents a fundamental shift in the fair-trade industry. Instead of asking how organizations can help, we ask how can we build a resilient community of artisans where outside help and fair-trade organizations are no longer needed.<span class='quote'>&rdquo;</span>
      <br><br>
      <span class='credit'>- Dan Driscoll</span>
      <br>
      <span class='credit'>&nbsp;&nbsp;Anou Founder, RPCV</span>
      </span>
    </h2>

  </div>

  <div class='span6'>
    <div id='video'>
      <iframe src="//player.vimeo.com/video/80725132?title=0&amp;byline=0&amp;color=ffffff" width="585" height="330" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>

    <div id='subscribe' class='section well'>
      <form id='subscribe-form' data-url='{% url 'communication:subscribe' %}'>
        <ul class='inline'>
          <li>
            <h3 class='copy-font'>Sign up for our monthly newsletter</h3>
          </li>
          <li>
            <div class="control-group">
              <div class="controls">

                <input id='subscribe-email' class='input-large required'
                  type='text' name='email'
                  placeholder='email'>

                <p id='email-suggestion' class='caption'>
                  Did you mean <a id='suggested-email'></a>?
                </p>
                <p class="help-inline caption">Please provide your email.</p>
              </div>
            </div>
          </li>
          <li>
            <input id='subscribe-name' class='input-medium'
                   type='text' name='name'
                   placeholder='name (optional)'>
          </li>
          <li id='subscribe-buttons'>
            <button type='button' id='subscribe-submit' class='btn'>Subscribe</button>
            <button type='button' class='btn btn-info disabled'>Saving...</button>
            <button type='button' class='btn btn-success disabled'>Thanks!</button>
            <button type='button' class='btn btn-danger disabled'>Invalid, please try again</button>
          </li>
        </ul>
      </form>
    </div>

  <div id='community'>

  </div>


  </div>
</div>



<div id='community' class='row-fluid section'>
  <div class='span6'>

  </div>

</div>

<div class='row-fluid title section-title'>
  <div class='span12'>Our Process</div>
</div>

<div id='process1' class='row-fluid section'>
  <div class='span4'>
    <ul class='unstyled'>
      <li class='image'>
        <img src="{{ STATIC_URL }}images/about_page/1.jpg">
      </li>
      <li><p>1. Artisan Led</p></li>
      <li>
        <p>
          When a new artisan expresses interest in joining Anou's community, they are connected with and trained by more experienced and successful artisans on how Anou's platform works. This builds the foundation for Anou's artisan led model.
        </p>
      </li>
    </ul>
  </div>

  <div class='span4'>
    <ul class='unstyled'>
      <li class='image'>
        <img src="{{ STATIC_URL }}images/about_page/2.jpg">
      </li>
      <li><p>2. Technology</p></li>
      <li>
        <p>
          Training new members of the Anou artisan community begins by building their custom language-free account. The interface pictured above allows them to (from right to left) add products, manage inventory, and track orders. Using culturally responsive, language-free design, we adapt the user interface to suit first-time technology users.
        </p>
      </li>
    </ul>
  </div>

  <div class='span4'>
    <ul class='unstyled'>
      <li class='image'>
        <img src="{{ STATIC_URL }}images/about_page/3.jpg">
      </li>
      <li><p>3. Training</p></li>
      <li>
        <p>
          All trainings take place at the new artisan's workshop to guarantee their work is authentic, and to address local obstacles to success. For the same reason, the training is conducted using existing technology and infrastructure. With this investment of quality time spent with the artisan, they become contributing members of Anou's greater community.
        </p>
      </li>
    </ul>
  </div>
</div>

<div id='process2' class='row-fluid section'>
  <div class='span4'>
    <ul class='unstyled'>
      <li class='image'>
        <img src="{{ STATIC_URL }}images/about_page/4.jpg">
      </li>
      <li><p>4. Photography</p></li>
      <li>
        <p>
          During each training, artisans practice basic photography skills focused on emphasizing the connection between the product, where it was made, and the person who made it. All pictures on the Anou store are taken and uploaded by the artisan themselves using their own cameras or phones.
        </p>
      </li>
    </ul>
  </div>

  <div class='span4'>
    <ul class='unstyled'>
      <li class='image'>
        <img src="{{ STATIC_URL }}images/about_page/5.jpg">
      </li>
      <li><p>5. Orders</p></li>
      <li>
        <p>
          When a product is purchased, the artisan immediately receives an SMS text message including the shipping address. Artisans then reply back with SMS text messages to confirm shipments and send in tracking numbers. Post office staff assist Anou's illiterate members in writing out address labels.
        </p>
      </li>
    </ul>
  </div>

  <div class='span4'>
    <ul class='unstyled'>
      <li class='image'>
        <img src="{{ STATIC_URL }}images/about_page/6.jpg">
      </li>
      <li><p>6. Community</p></li>
      <li>
        <p>
          A small portion of every sale is set aside to pay Anou's artisan trainers as they support the existing community and train new artisans. This ensures that the cost of Anou's non-profit operations are reinvested back into a thriving artisan community. This practice adds a special beauty to every item that you place in your home.
        </p>
      </li>
    </ul>
  </div>
</div>

<div class='row-fluid title section-title'>
  <div class='span12'>The Anou Story</div>
</div>

<div id='story-image' class='row-fluid section'>
  <div class='span12'>
    <img src="http://res.cloudinary.com/anou/image/upload/c_scale,w_1170/ait_bougamez_dan_pano_mthyxt.jpg"
         alt='Panorama of the Ait Bougamez Valley'>
    <p class='caption'>The Ait Bouguemez Valley, birthplace of Anou.</p>
  </div>
</div>

<div id='story-quote' class='row-fluid section'>
  <div class='span9 text'>
    <p>
      <span class='quote'>&ldquo;</span>The only way the middleman dilemma can be fixed is to create a community of artisans that is able to do the work of selling by themselves.<span class='quote'>&rdquo;</span>
    </p>
    <p class='credit'>
      - Brahim El Mansouri<br>
      &nbsp;&nbsp;Wood Carver, Anou Director
    </p>
  </div>
</div>

<div id='story' class='row-fluid section'>
  <div class='span6'>
    <p>
      Serving as a Peace Corps Volunteer in the Ait Bouguemez Valley of Morocco, Dan Driscoll grew frustrated when he learned that the carvers he worked with remained poor even after selling to fair-trade organizations. While working with the carvers, they showed him that that the only way to grow would be to ensure that they were able to sell their work independently without middlemen.
    </p>
    <p>
      As technology transformed the Ait Bouguemez valley (Dan had internet, but no running water in his mud house), he decided to train the carvers to sell on Etsy and eBay. The carvers had so much success selling online that they poured the excess profits of their sales into the local community.
    </p>
  </div>

  <div class='span6'>
    <p>Today, the carvers continue to self-fund their own solutions to local problems and have built a thriving community in the valley. For Dan, this represented true sustainable development.
    </p>
    <p>
      Etsy and Ebay began as good solutions for the carvers. However, illiteracy, lack of confidence, and geographic isolation prevented the vast majority of Moroccan artisans from being able to benefit from these platforms. As a result, Dan and Brahim El Mansouri, the president of the woodcarving association in Ait Bouguemez, teamed up to begin building the community of Anou.
    </p>
  </div>
</div>

<div class='row-fluid title section-title'>
  <div class='span12'>Team</div>
</div>

<div id='team'>
  <div id='team-quote' class='row-fluid section'>
    <div class='span9 text'>
      <p>
        <span class='quote'>&ldquo;</span>My experience as an Anou trainer has taught me how to better sell and make my own products in order to help the women in my village. I now understand the problems artisans face across Morocco and I believe I can help.<span class='quote'>&rdquo;</span>
      </p>
      <p class='credit'>
        - Rabha Akkaoui<br>
        &nbsp;&nbsp;Weaver, Anou Trainer
      </p>
    </div>
  </div>

  <div id='team1' class='row-fluid section'>
    <div class='span3 headshot'>
      <img title='Brahim' src='http://res.cloudinary.com/hork5h8x1/image/upload/c_scale,r_max,w_250/brahim_tqlpj8.jpg'>
    </div>
    <div class='span3'>
      <ul class='unstyled'>
        <li class='name'>
          <h3>Brahim El Mansouri</h3>
        </li>
        <li class='description'>
          Wood Carver
          <br>
          Anou Director
        </li>
        <li class='contact'>
          <a href="{% url 'store' 5 %}">
            <em>visit Brahim's store</em>
          </a>
        </li>
      </ul>
    </div>

    <div class='span3 headshot'>
      <img title='Rabha' src='http://res.cloudinary.com/hork5h8x1/image/upload/c_scale,r_max,w_250/rabha_umnkw3.jpg'>
    </div>
    <div class='span3'>
      <ul class='unstyled'>
        </li>
        <li class='name'>
          <h3>Rabha Akkaoui</h3>
        </li>
        <li class='description'>
          Weaver
          <br>
          Anou Trainer
        </li>
        <li class='contact'>
          <a href="{% url 'store' 3 %}">
            <em>visit Rabha's store</em>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div id='team2' class='row-fluid section'>
    <div class='span3 headshot'>
      <img title='Mustapha' src='http://res.cloudinary.com/hork5h8x1/image/upload/c_scale,r_max,w_250/mustapha_knjbo1.jpg'>
    </div>
    <div class='span3'>
      <ul class='unstyled'>
        <li class='name'>
          <h3>Mustapha Chaouai</h3>
        </li>
        <li class='description'>
          Metalsmith
          <br>
          Anou Trainer
        </li>
        <li class='contact'>
          <a href="{% url 'store' 9 %}">
            <em>visit Mustapha's store</em>
          </a>
        </li>
      </ul>
    </div>

    <div class='span3 headshot'>
      <img title='Kenza' src='http://res.cloudinary.com/hork5h8x1/image/upload/c_scale,r_max,w_250/kenza_y0idvo.jpg'>
    </div>
    <div class='span3'>
      <ul class='unstyled'>
        <li class='name'>
          <h3>Kenza Oulaghda</h3>
        </li>
        <li class='description'>
          Weaver
          <br>
          Anou Trainer
        </li>
        <li class='contact'>
          <a href="{% url 'store' 13 %}">
            <em>visit Kenza's store</em>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div id='team3' class='row-fluid section'>
    <div class='span3 headshot'>
      <img title='Hicham' src='http://res.cloudinary.com/hork5h8x1/image/upload/c_scale,r_max,w_250/hicham_xolleu.jpg'>
    </div>
    <div class='span3'>
      <ul class='unstyled'>
        <li class='name'>
          <h3>Hicham Kartouchi</h3>
        </li>
        <li class='description'>
          Reed Weaver
          <br>
          Anou Trainer
        </li>
        <li class='contact'>
          <a href="{% url 'store' 4 %}">
            <em>visit Hicham's store</em>
          </a>
        </li>
      </ul>
    </div>

    <div class='span3 headshot'>
      <img title='Dan' src='http://res.cloudinary.com/hork5h8x1/image/upload/c_scale,r_max,w_250/dan_thy5ys.jpg'>
    </div>
    <div class='span3'>
      <ul class='unstyled'>
        <li class='name'>
          <h3>Dan Driscoll</h3>
        </li>
        <li class='description'>
          Anou Founder
        </li>
        <li class='contact'>
          <a href="mailto:dan@theanou.com">
            <em>dan@theanou.com</em>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div id='team4' class='row-fluid section'>
    <div class='span3 headshot'>
      <img title='Tom' src='http://res.cloudinary.com/hork5h8x1/image/upload/c_scale,r_max,w_250/tom_asf996.jpg'>
    </div>
    <div class='span3'>
      <ul class='unstyled'>
        </li>
        <li class='name'>
          <h3>Tom Counsell</h3>
        </li>
        <li class='description'>
          Technical Director
        </li>
        <li class='contact'>
          <a href="mailto:tom@theanou.com">
            <em>tom@theanou.com</em>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class='row-fluid title section-title'>
  <div class='span12'>FAQs</div>
</div>

<div id='faq' class='row-fluid section'>
  <div class='span8'>
    <dl>
      <dt>What is the official status of Anou?</dt>
      <dd>
        Anou is a non-profit registered in the State of California.
      </dd>
    </dl>

    <dl>
      <dt>What does Anou mean?</dt>
      <dd>
        Anou means a well of water in Tashelheet, the language spoken in the Ait Bouguemez valley of Morocco. Water wells serve as the center and source of growth of the communities that populate the valley. We believe that Anou will become a similar center for Morocco's artisan community.
      </dd>
    </dl>

    <dl>
      <dt>How do artisans join Anou?</dt>
      <dd>
        Artisans must reach out to Anou's artisan team (Brahim El Mansouri: 06 73 75 31 63) and express their interest in joining Anou's community. To be considered for training, artisans must 1) be the one who makes the products that he or she sells or be an official member of an artisan association or cooperative, and 2) demonstrate a high level of motivation.
      </dd>
    </dl>

    <dl>
      <dt>Do artisans pay to be trained on Anou?</dt>
      <dd>
        No, Anou provides free trainings for all artisans.
      </dd>
    </dl>

    <dl>
      <dt>Does the Anou store have listing fees?</dt>
      <dd>
        Anou adds a 10% selling fee on top of the artisan price when an item is listed. It is free for artisans to add products on Anou.
      </dd>
    </dl>

    <dl>
      <dt>Who selects the prices?</dt>
      <dd>
        Artisans list their own prices and receive the full amount of their listed price. We provide a basic training on pricing.
      </dd>
    </dl>

    <dl>
      <dt>Where do you ship?</dt>
      <dd>
        We ship to the United States and Europe. If you're outside these areas or in Morocco, just send us a message at <a href="mailto:hello@theanou.com">hello@theanou.com</a> and we'll work it out!
      </dd>
    </dl>

    <dl>
      <dt>What about customs?</dt>
      <dd>
        There are no customs on items sent to the United States and Australia. For customers in the UK, you will be required to pay VAT and a VAT handling fee to Parcel Post (Royal Mail). Other areas may be subject to customs. If you are concerned, just send us a message at <a href="mailto:hello@theanou.com">hello@theanou.com</a> and we can work out the specific details of your home country!
      </dd>
    </dl>

    <dl>
      <dt>How long does it take for items to arrive?</dt>
      <dd>
        On average, orders arrive within 10-20 days from shipment but it can take longer.
      </dd>
    </dl>

    <dl>
      <dt>What happens if my item is lost?</dt>
      <dd>
        We have only lost one order since Anou launched, and the USPS lost it. If your order hasn't arrived in 30 days, please reach out to us at <a href="mailto:hello@theanou.com">hello@theanou.com</a> and we'll review the shipment and track it down. It is more than likely that your order is still on its way.
      </dd>
    </dl>

    <dl>
      <dt>Do you really provide free returns?</dt>
      <dd>
        Yup. Just e-mail us at <a href="mailto:hello@theanou.com">hello@theanou.com</a> if you're unhappy with your order and we'll take care of it.
      </dd>
    </dl>

    <dl>
      <dt>My Product Arrived! What should I do?</dt>
      <dd>
        Yes! Post your product on our <a href="https://www.facebook.com/TheAn0u">Facebook page</a>.
      </dd>
    </dl>

    <dl>
      <dt>Can I request a custom order or request larger quantities?</dt>
      <dd>
        Yes! Just contact us at <a href="mailto:hello@theanou.com">hello@theanou.com</a>. We are currently studying trends and patterns in your custom orders so that we can make it part off our language-free toolset for artisans in the coming months.
      </dd>
    </dl>
  </div>
</div>

<div class='row-fluid title section-title'>
  <div class='span12'>Partners and Supporters</div>
</div>

<div id='thanks' class='section'>

  <ul id="thanks-list" class='text-center unstyled'>
    <li>
      <a href="http://www.peacecorps.gov/about/">
        <img src="http://assets.peacecorps.gov/images/global/peacecorps_logo.png" title="Peace Corps">
      </a>
    </li>

    <li>
      <a href="https://telerivet.com/about">
        <img src="https://telerivet.com/_media/images/logo/TR-logo2.png" title="Telerivet">
      </a>
    </li>

    <li>
      <a href="http://cloudinary.com/invites/lpov9zyyucivvxsnalc5/ui0jnsoknh5q4lnfgoau">
        <img src="http://cloudinary.com/images/logo.png" title="Cloudinary">
      </a>
    </li>

    <li>
      <a href="https://pagekite.net/company/">
        <img src="https://pagekite.net/static/skin/i/pagekite-logo.png" title="pagekite"></a>
    </li>

    <!--<li>
      <a href="http://www.aidtoartisans.org/about-ata/">
        <img src="http://www.aidtoartisans.org/wp-content/themes/blankslate-child/images/header-logo-lg.gif" title="Aid To Artisans">
      </a>
    </li>-->

    <li>
      <a href="http://www.anarouzwomen.com/?page_id=40">
        <img src="http://www.anarouzwomen.com/wp-content/themes/kingsize/images/logo_back.png" title="anarouz">
      </a>
    </li>

    <li>
      <a href="http://cafeclock.com/">
        <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash2/c0.0.180.180/s160x160/1377605_636480693042164_1496777377_a.jpg" title="Cafe Clock">
      </a>
    </li>

    <li>
      <a href="http://www.darroumana.com">
        <img src="http://res.cloudinary.com/hork5h8x1/image/upload/image_bqpwao.png" title="Dar Roumana">
      </a>
    </li>

    <li>
      <a href="http://www.attajalli.com/">
        <img src="http://s3.amazonaws.com/anou/images/blank.gif" title="Dar Attajalli"
             style="background:url(http://cdn.buuteeq.com/upload/2044/dar-attajalli-copy-1.png) 0 0; width:133px; height:110px;">
      </a>
    </li>

    <li>
      <a href="http://www.riad-laaroussa.com/">
        <img src="http://www.riad-laaroussa.com/images/logo.jpg" title="Riad Laaroussa">
      </a>
    </li>

    <li>
      <a href="http://www.ryadmabrouka.com/">
        <img src="http://www.ryadmabrouka.com//images/mabrouka.GIF" title="Riad Mabrouka">
      </a>
    </li>

    <li>
      <a href="http://www.riad9.com/">
        <h3>Riad 9</h3>
      </a>
    </li>
  </ul>
</div>
{% endblock content %}
{% endcache about %}
