{% extends "base.html" %}
{% load url from future %}

{% block title %}
  About {{ block.super }}
{% endblock title %}
{% block description %}
  Anou Team and Founding Story - The idea for Anou was developed by Dan Driscoll during his Peace Corps service in Morocco from 2008-2010.
{% endblock description %}

{%block open_graph_type%}{%endblock%}
{%block open_graph_url%}http://www.theanou.com/about{%endblock%}
{%block open_graph_title%}About Us{%endblock%}
{%block open_graph_description%}{{ block.super }}{%endblock%}
{%block open_graph_image%}{{ block.super }}{%endblock%}

{% block css %}
  <style>
    #thanks-list li{
      padding: 15px;
    }
  </style>
{% endblock css %}


{% block header_link_1 %}
  <li><a class='title' href="{% url 'home' %}">Store</a></li>
{% endblock header_link_1 %}

{% block header_link_2 %}
  <li><a class='title' href="#faq">FAQ</a></li>
{% endblock header_link_2 %}

{% block content %}
<h5 class='text-center'>

  <img id='header_photo'
      src="http://res.cloudinary.com/anou/image/upload/c_scale,w_800/v1375390688/ait_bougamez_dan_pano_mthyxt.jpg"
      alt='Dan overlooking the Ait Bougamez valley'>
  <br>
  <p>Dan overlooking the valley of Ait Bougamez near Brahim's home</p>

</h5>

<div class='well'>
  <h4 class='text-center' style='margin: 0 auto;'>
    <u>Anou</u><br>
    is an artisan-managed <u>platform</u><br>
    that <u>empowers</u> illiterate artisans<br>
    to sell their work with<br>
    <u>independence</u>.
  </h4>
  <br>

  <p class='text-center'>
    Anou gives artisans the tools they need to overcome
    the challenges they face when selling internationally.<br>
    Finally you can buy amazing crafts
    directly from the artisan who made it.
  </p>

  <div id='facebook' class='text-center hidden-phone'>
    <div class="fb-like"
         data-href="http://www.theanou.com/about"
         data-width="350" data-layout="button_count"
         data-show-faces="true" data-send="true">
    </div>
  </div>

<!--  <ul class='text-center inline'>
    <li><a href='#story'>Our Story</a></li>
    <li><a href='#team'>Anou Team</a></li>
    <li><a href='#faq'>FAQ</a></li>
    <li><a href='#thanks'>Special Thanks</a></li>
  </ul>-->

</div>

<h4 id='story'>Our Story</h4>
<p>
  The idea for Anou was developed by Dan Driscoll during his Peace Corps service in Morocco from 2008-2010. When Dan started his service in Morocco he began working with a woodcarving shop that was deemed illegal by the Moroccan government. He opened up negotiations between the carvers and the government and an agreement was made that the carvers would plant a tree for every item they sold.
  <br><br>
  However, this created another problem: the woodcarvers couldn't afford to plant the trees. The carvers had traditionally depended on middlemen and fair-trade organizations to sell their work. But these organizations would not provide the carvers enough profit to cover the cost of planting a $1 tree. The organizations would then resell the items for 400% mark ups.
  <br><br>
  With the Internet just introduced into the valley, Dan focused on training the carvers how to use Etsy.com, an American e-commerce website. After six months, the carvers were independently managing their own store and keeping all of the profit on sales. They also chose to reinvest the income back into their community! It proved that artisans, no matter how rural, could sell their work independently and then thrive because of it.
  <br><br>
  Unfortunately for the carvers, Etsy was not a long-term solution. The site was made for English-speaking, computer-literate users and was simply too difficult for artisans in Morocco to use. As a result, Dan and the carvers decided to build Anou, an entirely new platform, designed specifically for artisans throughout Morocco. Today, Anou is an artisan-led e-commerce platform enabling hundreds of Moroccan artisans to overcome the barriers that have traditionally held them out of the global market place. As a result, they now thrive, independent of the middleman resellers.
</p>

<br id='team'><br><br>
<h4>Our Team</h4>

<div class='row-fluid'>
  <div class='span3'>
    <p>Brahim Mansouri</p>
    <p>Director of Anou</p>
    <p>brahim@theanou.com</p>
  </div>
  <div class='span9'>
    <p>Brahim grew up in the Ait Bougamez valley carving wood and tending his ever growing apple orchards. Brahim, a woodcarver at trade, has always been focused on developing his community and in 2006 founded Association Ighrem, a highly successful Moroccan association, in his home village to address its development needs. View Association Ighrem's shop on Anou here. Over the years, Brahim has evolved into a professionally recognized social innovator and artisan from the rural Ait Bougamez valley in Morocco. Now, Brahim manages the day-to-day operations of Anou. He is married and has two daughters, Raja and Yasmina.</p>
    <p><a href="http://www.theanou.com/store/5">Visit Brahim's Association</a></p>
  </div>
</div>
<br>
<div class='row-fluid'>
  <div class='span3'>
    <p>Rabha Akkoui</p>
    <p>Anou Trainer</p>
  </div>
  <div class='span9'>
    <p>Rabha is the president of Cooperative Chorouk - a weaving cooperative in the Middle Atlas of Morocco (visit Cooperative Chorouk's store here). Rabha and her women were one of Anou's pilot artisans and they have since excelled, becoming one of the top sellers on Anou. Rabha has demonstrated a long history of supporting not just the women in her village, but all artisans across Morocco. She has organized numerous natural dye workshops for cooperatives in Morocco and has also led many other trainings. As a result of her training skill, she has joined Anou as an Anou Trainer and is now the primary trainer for female led cooperatives in Morocco.</p>
    <p><a href="http://www.theanou.com/store/3">Visit Rabha's Cooperative</a></p>
  </div>
</div>
<br>
<div class='row-fluid'>
  <div class='span3'>
    <p>Hoda Mansouri</p>
    <p>Translator</p>
    <p>hoda@theanou.com</p>
    <img>
  </div>
  <div class='span9'>
    <p>Hoda was born in Rich, Morocco, a quiet town on the southern foothills of the High Atlas. Hoda studied English in the imperial city of Meknes. After graduating, she started working as a language and cultural adviser with Peace Corps and is widely known as one of Peace Corps' best language teachers. Hoda is largely responsible for the translation of profile information compiled by Brahim and Rabha.</p>
  </div>
</div>
<br>
<div class='row-fluid'>
  <div class='span3'>
    <p title='Old Snow Beard'>
      <a href='http://www.linkedin.com/in/tomcounsell/' target='_blank'>
        Tom Counsell
      </a>
    </p>
    <p>Technical Director</p>
    <p>tom@theanou.com</p>
    <img>
  </div>
  <div class='span9'>
    <p>Tom is a current Peace Corps volunteer, living in Morocco since March of 2012. Even before completing his Computer Science degree from Purdue University, Tom has excelled at using technology to dream up innovative solutions to unsolved problems. He's also not afraid to get his hands dirty and try anything for a learning opportunity.</p>
  </div>
</div>
<br>
<div class='row-fluid'>
  <div class='span3'>
    <p title='Batman'>
      <a href='http://www.linkedin.com/pub/lawrence-dan-driscoll/23/43b/266' target='_blank'>
        Dan Driscoll
      </a>
    </p>
    <p>Founder of Anou</p>
    <p>dan@theanou.com</p>
    <img>
  </div>
  <div class='span9'>
    <p>Dan served as a Peace Corps Volunteer in Morocco from 2008 to 2010 in the environment sector. Prior to Peace Corps, Dan earned his degree in Environmental Policy at University of California - Irvine where he also ran competitively. After his Peace Corps service, Dan worked as a communications consultant for USAID's Responsive Governance Project in Yemen and also helped contribute to the growth of the National Yemen, a Yemeni newspaper based in Sana'a, Yemen. Dan speaks Classical Arabic, multiple dialects of Amazigh (Berber) and is also fluent in American Sign Language.</p>
  </div>
</div>

<br id='faq'><br><br>
<h4 class="text-center">
  Frequently Asked Questions
</h4>


<br id='thanks'><br><br>
<h4 class="text-center">
  Partners and Supporters
</h4>

<p class="text-center">
  Special thanks to the following for the services and support they provide for artisans on Anou.
</p>

<ul id="thanks-list" class='text-center unstyled'>
  <li>
    <a href="http://www.peacecorps.gov/about/">
      <img src="http://assets.peacecorps.gov/images/global/peacecorps_logo.png" title="Peace Corps">
    </a>
  </li>

  <li>
    <a href="https://telerivet.com/about">
      <img src="https://telerivet.com/_media/images/logo/TR-logo2.png" title="Telerivet">
    </a>
  </li>

  <li>
    <a href="http://cloudinary.com/invites/lpov9zyyucivvxsnalc5/ui0jnsoknh5q4lnfgoau">
      <img src="http://cloudinary.com/images/logo.png" title="Cloudinary">
    </a>
  </li>

  <li>
    <a href="https://pagekite.net/company/">
      <img src="https://pagekite.net/static/skin/i/pagekite-logo.png" title="pagekite"></a>
  </li>

  <!--<li>
    <a href="http://www.aidtoartisans.org/about-ata/">
      <img src="http://www.aidtoartisans.org/wp-content/themes/blankslate-child/images/header-logo-lg.gif" title="Aid To Artisans">
    </a>
  </li>-->

  <li>
    <a href="http://www.anarouzwomen.com/?page_id=40">
      <img src="http://www.anarouzwomen.com/wp-content/themes/kingsize/images/logo_back.png" title="anarouz">
    </a>
  </li>

  <li>
    <a href="http://cafeclock.com/">
      <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash2/c0.0.180.180/s160x160/1377605_636480693042164_1496777377_a.jpg" title="Cafe Clock">
    </a>
  </li>

  <li>
    <a href="http://www.darroumana.com">
      <img src="http://res.cloudinary.com/hork5h8x1/image/upload/v1382714409/image_bqpwao.png" title="Dar Roumana">
    </a>
  </li>

  <li>
    <a href="http://www.attajalli.com/">
      <img src="http://s3.amazonaws.com/anou/images/blank.gif" title="Dar Attajalli"
           style="background:url(http://cdn.buuteeq.com/upload/2044/dar-attajalli-copy-1.png) 0 0; width:133px; height:110px;">
    </a>
  </li>

  <li>
    <a href="http://www.riad-laaroussa.com/">
      <img src="http://www.riad-laaroussa.com/images/logo.jpg" title="Riad Laaroussa">
    </a>
  </li>

  <li>
    <a href="http://www.ryadmabrouka.com/">
      <img src="http://www.ryadmabrouka.com//images/mabrouka.GIF" title="Riad Mabrouka">
    </a>
  </li>

  <li>
    <a href="http://www.riad9.com/">
      <h3>Riad 9</h3>
    </a>
  </li>
</ul>
{% endblock content %}
