{% extends "base.html" %}


{% block title %}
  Common Thread Rug Collection,
  {{ block.super }}
{% endblock title %}

{% block description %}
  A limited edition collection of six rugs, a contemporary take on traditional Amazigh culture. Help Amazigh people keep their traditions and crafts alive.
{% endblock description %}

{%block open_graph_type%}{%endblock%}
{%block open_graph_url%}http://www.theanou.com/commonthread{%endblock%}
{%block open_graph_title%}CommonThread{%endblock%}
{%block open_graph_description%}{{ block.super }}{%endblock%}
{%block open_graph_image%}{{ block.super }}{%endblock%}

{% block javascript %}
  <!--<script type="text/javascript" src="{{ STATIC_URL }}public/js/about.min.js"></script>-->
  <script type="text/javascript" src="{{ STATIC_URL }}vendor/fitvids/js/jquery.fitvids.js"></script>
  <script>
    $(function(){//on page load
      $("#video").fitVids();
    });
  </script>
{% endblock javascript %}

{% block css %}
  <!--<link href="{{ STATIC_URL }}public/css/about.css?v=1" rel="stylesheet">-->
  <style>
    #commonthread{
      background-color: #f6f6f3;
      text-align: center;
    }
    p,h1,a{color: #f15b43;}
    a{text-decoration: underline;}

    .buy{margin: 0 20%;}
    .buy a{text-decoration: none;}
    .buybutton{
      background-color: #f15b43;
      height: 50px;
      padding: 8px 0 0;
    }
    .buybutton p{color: #f6f6f3;}

    #video{margin: 10px 0 40px;}
    .note{margin: 20px 0 15px;}
  </style>
{% endblock css %}


{% block header_link_1 %}
  <li><a class='title' href="{% url 'home' %}">Store</a></li>
{% endblock header_link_1 %}

{% block header_link_2 %}
  <li><a class='title' href="http://helloanou.wordpress.com">Blog</a></li>
{% endblock header_link_2 %}

{% block content %}<div id='commonthread'>

<h1><img src="http://res.cloudinary.com/hork5h8x1/image/upload/c_scale,w_1000/v1410938931/commonthreadlogo_ywk2u0.png" alt="Common Thread"></h1>

<p style='color: #f15b43; margin: 3% 7%;'>
  This limited edition collection of six rugs was designed by Anou artisan leaders during the Common Thread program. All the rugs are for sale and proceeds will go to the artisans who made them and fund future artisan-led trainings to grow the Anou community.
</p>

<div id='links' class='row-fluid'>
  <div class='span6'>
    <a href='http://helloanou.wordpress.com/2014/09/15/come-see-the-common-thread-exhibition-in-london/' style='color: #f15b43; text-decoration: underline;'>Find out more on the Anou Blog</a>
  </div>
  <div class='span6'>
    <a href='https://www.dropbox.com/s/ndux95108vo7ess/Common%20Thread.pdf?dl=1' style='color: #f15b43; text-decoration: underline;'>Download the Common Thread PDF</a>
  </div>
</div>

<div id='video' class='row-fluid'>
  <div id='video'>
    <iframe src="//player.vimeo.com/video/106479121?title=0&amp;byline=0&amp;color=ffffff" width="585" height="330" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
</div>

<h1>The Common Thread Collection</h1>

<div id='products1' class='row-fluid'>
  <div class='span4 product'>
    <img src="http://res.cloudinary.com/hork5h8x1/image/upload/c_scale,bo_10px_solid_rgb:f6f6f3,w_370/seller66_product1887_rank2_time1412778506.jpg">
    <p>
      Assoulef (Opportunity)<br>1.9 x 1.2 metres<br>by Rabha Akkaoui
    </p>
    <div class='buy'>
      <a href="#{# url 'buy commonthread rug' 'opportunity' #}">
        <div class='buybutton'>
          <p>&pound;600<br>SOLD</p>
        </div>
      </a>
    </div>
  </div>

  <div class='span4 product'>
    <img src="http://res.cloudinary.com/hork5h8x1/image/upload/c_scale,bo_10px_solid_rgb:f6f6f3,w_370/seller66_product1882_rank2_time1412778554.jpg">
    <p>
      Ammyili (Coexistence)<br>2.3 x 1.6 metres<br>by Mustapha Chaouai
    </p>
    <div class='buy'>
      <a href="{% url 'buy commonthread rug' 'coexistence' %}">
        <div class='buybutton'>
          <p>$1184<br>BUY THIS RUG</p>
        </div>
      </a>
    </div>
  </div>

  <div class='span4 product'>
    <img src="http://res.cloudinary.com/hork5h8x1/image/upload/c_scale,bo_10px_solid_rgb:f6f6f3,w_370/seller66_product1893_rank2_time1412778383.jpg">
    <p>
      Mma (Mother)<br>1.7 x 1.3 metres<br>by Kenza Oulaghda
    </p>
    <div class='buy'>
      <a href="{% url 'buy commonthread rug' 'mother' %}">
        <div class='buybutton'>
          <p>$594<br>BUY THIS RUG</p>
        </div>
      </a>
    </div>
  </div>

</div>

<p class='note'>
  -- Price include shipping and delivery.
  <a href="mailto:hello@theanou.com" target="blank">Contact Anou for lead times.</a> --
</p>

<div id='products2' class='row-fluid'>
  <div class='span4 product'>
    <img src="http://res.cloudinary.com/hork5h8x1/image/upload/c_scale,bo_10px_solid_rgb:f6f6f3,w_370/seller66_product1877_rank2_time1412778333.jpg">
    <p>
      Tmazight (Motherland)<br>2.0 x 1.2 metres<br>by Fatima Yadiri
    </p>
    <div class='buy'>
      <a href="{% url 'buy commonthread rug' 'motherland' %}">
        <div class='buybutton'>
          <p>$1184<br>BUY THIS RUG</p>
        </div>
      </a>
    </div>
  </div>

  <div class='span4 product'>
    <img src="http://res.cloudinary.com/hork5h8x1/image/upload/c_scale,bo_10px_solid_rgb:f6f6f3,w_370/seller66_product1867_rank2_time1412778071.jpg">
    <p>
      Afouzar (Sacred)<br>2.6 x 1.6 metres<br>by Fatima Ouakhoum
    </p>
    <div class='buy'>
      <a href="{% url 'buy commonthread rug' 'sacred' %}">
        <div class='buybutton'>
          <p>$1421<br>BUY THIS RUG</p>
        </div>
      </a>
    </div>
  </div>

  <div class='span4 product'>
    <img src="http://res.cloudinary.com/hork5h8x1/image/upload/c_scale,bo_10px_solid_rgb:f6f6f3,w_370/seller66_product1865_rank2_time1412777879.jpg">
    <p>
      Amagit (Identity)<br>2.4 x 1.6 metres<br>by Brahim El Mansouri
    </p>
    <div class='buy'>
      <a href="{% url 'buy commonthread rug' 'identity' %}">
        <div class='buybutton'>
          <p>$1421<br>BUY THIS RUG</p>
        </div>
      </a>
    </div>
  </div>

</div>

<p class='note'>
  -- Price include shipping and delivery.
  <a href="mailto:hello@theanou.com" target="blank">Contact Anou for lead times.</a> --
</p>

</div>

{% endblock content %}
