{% extends "base.html" %}
{% load static %}
{% load url from future %}
{% load home_inclusion_tags %}

{% block title %}
  {{ block.super }}
{% endblock title %}

{% block javascript %}
  <script type="text/javascript" src="{{ STATIC_URL}}public/js/home.min.js"></script>
{% endblock javascript %}

{% block css %}
  <link href="{{ STATIC_URL }}public/css/home.css" rel="stylesheet">
  <link href="{{ STATIC_URL }}vendor/fitgrid/css/fitgrid.css" rel="stylesheet">
{% endblock css %}

{% block header %}
  {{ block.super }}
{% endblock header %}

{% block content %}
  <div class='text-center'>
    <img id='video-image'
         src='http://res.cloudinary.com/anou/image/upload/c_fill,g_center,h_300,w_1200/v1375396116/meet_brahim_e1g9op_lezgqo.jpg'
         >

    <iframe id='video'
            width="100%" height="450"
            style="display:none;"
            src="//www.youtube.com/embed/xquR19Ms2R4?rel=0" frameborder="0" allowfullscreen></iframe>
  </div>
  <!--{% search_bar_tag %}-->

  <div id='product-container'>
    {% for product in products %}
      {% cycle "<div class='product-row row-fluid'>" "" "" "" %}

        <div class='span3 product-area {% cycle "pos1" "pos2" "pos3" "pos4" %}'>
          {% product_tag product %}
        </div>

      {% cycle "" "" "" "</div>" %}
    {% endfor %}
  </div>

{% endblock content %}
