{% load home_inclusion_tags %}

<div id='listing-container'>

  <div class='listing-row row-fluid'>
    {% for listing in listings %}

      <div id='listing-{{listing.id}}'
           class='span4 listing'
           data-parent-category='{{ listing.parent_category.plural_name }}'
           data-child-category='{{ listing.category.plural_name }}'
           data-order='{{ forloop.counter0 }}'
           data-listing-id='{{ listing.id }}'>
        {% if forloop.counter0 < 3 %}
          {% listing_tag listing %}
        {% endif %}
      </div>

      {% cycle "" "" "</div><div class='listing-row row-fluid'>" %}
    {% endfor %}
  </div>
</div>
