{% load static %}
{% load url from future %}

{% if full %}
  <div class='row-fluid'>
    <div class='span3'>
{% endif %}
      <div id="logo" class='{% if mini or mobile %}pull-left{% endif %}'>
        <a href="{% url 'home' %}">
          <img src="{% get_static_prefix %}images/Anou_logo_160x100.png" alt="Anou logo">
        </a>
      </div>

      <div id='navigation'
          class='
            {% if full %}left-navigation{% endif %}
            {% if mini or mobile %}top-navigation pull-right{% endif %}
          '
      >
        <ul class='nav nav-pills {% if full %}nav-stacked{% endif %}'>
          <li class='btn-large'>
            <a href="{% url 'home' %}">Home</a>
          </li>
          <li class='btn-large'>
            <a href="{% url 'about' %}">About</a>
          </li>

          {% if 'admin_id' in request.session %}
            <li class='btn-large'>
              <a href="{% url 'admin:home' %}">Admin</a>
            </li>
          {% endif %}

          {% if 'seller_id' in request.session %}
            <li class='btn-large'>
              <a href="{% url 'seller:management home' %}">Seller</a>
            </li>
          {% endif %}

          {% if 'seller_id' not in request.session %}
            <li class='btn-large'>
              <a href="{% url 'admin:login' %}">Login</a>
            </li>
          {% endif %}

          {% if 'username' in request.session %}
            <li class='btn-large'>
              <a href="{% url 'admin:logout' %}">Logout</a>
            </li>
          {% endif %}
        </ul>
      </div>

{% if full %}
    </div>
    <div class='span9'>
{% endif %}

      <div id="anou-carousel" class="carousel slide"
        {% if mini %}style='display: none;'{% endif %}
      >
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <!--<li data-target="#myCarousel" data-slide-to="1"></li>-->
          <!--<li data-target="#myCarousel" data-slide-to="2"></li>-->
        </ol>
        <!-- Carousel items -->
        <div class="carousel-inner">
          <div class="active item">
            <img src="{% get_static_prefix %}images/video.jpg">
            <div class='carousel-caption'>
              <h3>Watch Video</h3>
            </div>
          </div>
          <!--<div class="item"></div>-->
          <!--<div class="item"></div>-->
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left hidden-phone" href="#anou-carousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right hidden-phone" href="#anou-carousel" data-slide="next">&rsaquo;</a>
      </div>

{% if full %}
    </div>
  </div>
{% endif %}
