{% load home_inclusion_tags %}
{% load cycle from future %}

<div id='product-container'>
  <input id='load-products-url' type='hidden' value='{% url 'load products' %}'>

  <div class='product-row row-fluid lazy-load'>
    {% for product in products %}

      <div id='product-div-{{ forloop.counter0 }}'
           class='span4 product-area
              {% if forloop.counter0 < 3 %}
                loaded
              {% else %}
                unloaded
              {% endif %}'
           data-parent-category='{{ product.parent_category.plural_name }}'
           data-child-category='{{ product.category.plural_name }}'
           data-order='{{ forloop.counter0 }}'
           data-product-id='{{ product.id }}'>
        {% if forloop.counter0 < 3 %}
          {% product_tag product %}
        {% endif %}
      </div>

      {% cycle "" "" "</div><div class='product-row row-fluid lazy-load'>" %}
    {% endfor %}
  </div>
</div>
