{% extends "base.html" %}

{% load cache %}
{% load home_inclusion_tags %}

{% cache 172800 home_header %}
{% block title %}{{ block.super }}{% endblock title %}
{% block description %}{{ block.super }}{% endblock description %}

{%block open_graph_type%}{%endblock%}
{%block open_graph_url%}http://www.theanou.com{%endblock%}
{%block open_graph_title%}{{ block.super }}{%endblock%}
{%block open_graph_description%}{{ block.super }}{%endblock%}
{%block open_graph_image%}{{ block.super }}{%endblock%}

{% block javascript %}
  <script type="text/javascript" src="{{ STATIC_URL }}public/js/home.min.js?v=4"></script>
{% endblock javascript %}

{% block css %}
  <link href="{{ STATIC_URL }}public/css/home.css?v=5" rel="stylesheet">
{% endblock css %}
{% endcache home_header %}

{% block header_link_1 %}
  <li><a class='title' href="{% url 'about' %}">About</a></li>
{% endblock header_link_1 %}
{% block header_link_2 %}
  <li><a class='title' href="http://helloanou.wordpress.com">Blog</a></li>
  {% if 'admin_id' in request.session %}
    <li><a href="{% url 'admin:rebuild product rankings' %}">
      <button class='btn'>Rebuild Ranks</button>
    </a></li>
    <li><a href="{% url 'admin:rebuild homepage' %}">
      <button class='btn'>Refresh-Cache</button>
    </a></li>
  {% endif %}
{% endblock header_link_2 %}

{% block content %}
{% cache 864000 home_content %} {# cache for 10 days #}
  <div class='row-fluid'>
    <div id='banner' class='span12'>
      <div class='text'>
        <!--<p class='title'>NO MORE MIDDLEMEN</p>-->
        <p class='verse title-font'>
          <span>
            <span class='hidden-phone'>Throughout August + September 2014,</span>
            Anou artisan leaders collaborated with British designer
            <span class='hidden-phone'>Sabrina Kraus </span>Lopez
            to create the Common Thread <span class='hidden-desktop'>Rug</span>
            Collection.
            <span class='visible-desktop'>
              <br><br>
              Each rug in the limited edition collection is now
              available to order online and will be on display
              at the London Design Festival from September 18-21st
            </span>
          </span>
          <br>
          <a class='button' style='background-color: #f15b43;'
            href="/commonthread"
            event-action='learn more on homepage'
            event-category='homepage'
            event-label='blog'>
            See Collection and Learn More
          </a>
          <br>
          <a class='button shop'
            event-action='shop on homepage'
            event-category='homepage'
            event-label='shop'>Shop Anou</a>
        </p>
      </div>
      <img src="{{ STATIC_URL }}images/commonthreadbanner.jpg" alt='Common Thread Collection banner image' title="Common Thread photography by Simon Mills" />
    </div>
  </div>

  <!--<div>
    <ul class='inline text-center'>
      <li><span class='explore-bar'>&nbsp;</span></li>
      <li class='explore title-font'>explore</li>
      <li><span class='explore-bar'>&nbsp;</span></li>
    </ul>
  </div>-->

  <div id='store'></div>

  {% search_bar_tag %}

  {% homepage_products_tag %}

  <div id='product-sorting-container' class=''></div>
{% endcache home_content %}
{% endblock content %}

{% block footer_content %}
  <ul class='inline'>
    <li>&copy;2013 <a href='http://www.theanou.com'>Anou</a></li>
    <li><a href="https://www.facebook.com/TheAn0u" rel="publisher">Facebook</a></li>
    <li><a href="https://plus.google.com/102930257435864748004" rel="publisher">Google+</a></li>
    <li><a href="http://www.pinterest.com/helloanou/" rel="publisher">Pinterest</a></li>
  </ul>
{% endblock footer_content %}
