{% load home_inclusion_tags %}
{% load url from future %}

<div id='product-container'>
  <input id='load-products-url' type='hidden' value='{% url 'load products' %}'>

  <div class='product-row row-fluid'>
    {% for product in products %}

      <div id='product-div-{{ forloop.counter0 }}'
           class='span4 product-area
              {% if forloop.counter0 >= 6 %}
                load-me-later
              {% endif %}'
           data-category='{{ product.parent_category.name }}'
           data-order='{{ forloop.counter0 }}'
           data-product-id='{{ product.id }}'>
        {% if forloop.counter0 < 6 %}
          {% product_tag product %}
        {% endif %}
      </div>

      {% cycle "" "" "</div><div class='product-row row-fluid'>" %}
    {% endfor %}
  </div>
</div>
