{% load url from future %}
{% load static %}

<div class='product' data-url="{% url 'product' product.id %}">
  <a href='{% url 'product' product.id %}'>

    <div class='title title-photo'>
      <h3 class='name hover-show'>{{ product.name }}</h3>
      {% if product.seller.city %}
        <h4 class='city hover-show'>
          from {{ product.seller.city }},
          {{ product.seller.country.name }}
        </h4>
      {% endif %}
    </div>

    <div class='photo'>
      <img alt='{{ product.long_title }}'
           src='{% get_static_prefix %}images/loader.gif'
           data-src='{{ product.photo.thumb_size }}'
           data-src-retina=''>
    </div>

  </a>
</div>
