
<div id='search-toolbar' class='toolbar'>
  <ul class='inline text-center'>

    <li class='everything category title-font selected'
        data-parent-category='everything'
        data-child-category='everything'>
      Everything
    </li>

    {% for parent, subcategories in categories.items %}
      <li class='parent category title-font'
          data-parent-category='{{ parent }}'
          data-child-category='{{ parent }}'
          >
        {{ parent|title }}
      </li>
    {% endfor %}
  </ul>

  <ul class='inline text-center'>
    {% for parent, subcategories in categories.items %}
      {% for child in subcategories %}
        <li class='child category title-font' style='display: none;'
            data-parent-category='{{ parent }}'
            data-child-category='{{ child }}'
            >
          {{ child|title }}
        </li>
      {% endfor %}
      <li class='child category title-font' style='display: none;'
          data-parent-category='{{ parent }}'
          data-child-category='other'
          >
        Other
      </li>
    {% endfor %}
  </ul>

</div>
