{% extends "admin_base.html" %}
{% load url from future %}

{% block javascript %}
<script>
  $().ready(function(){
  });

  $('.changeable').click(function(){
    var confirm_message
    var url = "{% url 'admin:update order' %}";
    var icon = $(this);

    if ($(this).hasClass("seller_paid")){
      confirm_message = "This seller was paid?";
      data = {'order_id': icon.attr('data-order-id'),
              'action':"seller paid"
              };
    }

    if (confirm(confirm_message)){
      $.ajax({url: url, data: data})
      .done(function(data){
        icon.removeClass('changeable').removeClass('red').addClass('green')
      })
      .fail(function(){
        alert("update failed.")
      });
    }
  });

</script>
{% endblock javascript %}

{% block css %}
<style>

  .changeable{cursor: pointer;}

</style>
{% endblock css %}

{% block content %}

<h3>ORDERS</h3>

<table class='table table-hover table-condensed'>
  <thead>
    <td>ORDER</td>
    <td>DATE&nbsp;TIME</td>
    <td>ITEM</td>
    <td>STATUS</td>
    <td colspan='2'>PAYMENT</td>
  </thead>

  {% for order in orders %}
    <tr class='information-row'>
      <td>
        <a href="{% url 'admin:order' order.id %}">
          <i class='symbol-go blue'></i>
        </a>
      </td>

      <td>{{ order.created_at|date:"m/d  H:i" }}</td>

      <td>
        <a href="{{ order.products.all.0.get_absolute_url }}"
            target='_blank'>
          {{ order.products.all.0.id }}
        </a>
      </td>

      <td style='white-space: nowrap;'>
        <i title='{{ order.seller_confirmed_at }}'
           class='symbol-SMS {% if order.is_seller_confirmed  %}green{% else %}red{% endif %}'
           ></i>

        <i title='{{ order.shipped_at }}'
           class='symbol-SMS-shipping {% if order.is_shipped %}green{% else %}red{% endif %}'
           ></i>

        {% if order.tracking_number %}
          <a href="{{ order.tracking_url }}" target='_blank'>
            <i title='{{ order.tracking_number }}'
               class='symbol-shipping green'
               ></i>
          </a>
        {% else %}
          <i class='symbol-shipping red'></i>
        {% endif %}

        <i title='{{ order.seller_paid_at }}'
           class='symbol-money
              {% if order.is_seller_paid %}green
              {% else %}red changeable seller_paid
              {% endif %}'
           data-order-id='{{order.id}}'
           ></i>
      </td>

      {% if not order.is_seller_paid %}
        <td>
          {{ order.products.all.0.seller.name }}{# todo: make seller a model property #}
          <br>
          {{ order.products.all.0.seller.account.bank_name }}
        </td>
        <td>
          {{ order.seller_paid_amount|floatformat:0 }}
          <small>{{ order.products.all.0.seller.country.currency.code }}</small>
          <br>
          {{ order.products.all.0.seller.account.bank_account }}
        </td>
      {% else %}
        <td colspan='2'></td>
      {% endif %}

    </tr>
  {% endfor %}

</table>

<p class='text-center' style='text-decoration: underline; font-size: 20pt;'>
  see Tom for more
</p>

{% endblock content %}
