{% extends "admin_base.html" %}
{% load url from future %}

{% block javascript %}
  <script>
    $().ready(function(){
    });

    $('.information-row').on('click', function(){
      $(this).toggleClass('highlight');
      $(this).next('.details-row').toggle();
    })

    $('.load-details').on('click', function(){
      $(this).html('coming soon ;-)').addClass('disabled');
    })

  </script>
{% endblock javascript %}

{% block css %}
  <style>

    .information-row{cursor: pointer;}
    .details-row{display: none;}
    .highlight, .details-row{background-color: #f5f5f5;}

  </style>
{% endblock css %}

{% block content %}

<h3>ORDERS</h3>

<table class='table table-hover table-condensed'>
  <thead>
    <td>DATE&nbsp;&nbsp;TIME</td>
    <td>SELLER</td>
    <td>PROD.&nbsp;ID</td>
    <td>TO&nbsp;SELLER</td>
    <td>STATUS</td>
    <td>TRACKING</td>
  </thead>

  {% for order in orders %}
    <tr class='information-row'>

      <td>{{ order.created_at|date:"m/d H:i" }}</td>
      <td>{{ order.products.all.0.seller.name }}</td>

      <td>
        <a href="{% url 'product' order.products.all.0.id %}"
            target='_blank'>
          {{ order.products.all.0.id }}
        </a>
      </td>

      <td>
        {{ order.seller_paid_amount|floatformat:0 }}
        <small>{{ order.products.all.0.seller.currency.code }}</small>
      </td>

      <td style='white-space: nowrap;'>
        <i class='symbol-SMS {% if order.is_seller_confirmed  %}green{% else %}red{% endif %}'></i>
        <i class='symbol-SMS-shipping {% if order.is_shipped %}green{% else %}red{% endif %}'></i>
        <i class='symbol-shipping {% if order.is_received %}green{% else %}red{% endif %}'></i>
        <i class='symbol-money {% if order.is_seller_paid %}green{% else %}red{% endif %}'></i>
      </td>

      <td>
        {% if order.tracking_number %}
          <a href="https://tools.usps.com/go/TrackConfirmAction_input?qtc_tLabels1={{ order.tracking_number }}" target='_blank'>
            {{ order.tracking_number }}
          </a>
        {% endif %}
      </td>

    </tr>

    <tr class='details-row'>

      <td>
        <a href="{% url 'confirmation' %}?checkout_id={{order.cart.checkout_id}}"
            target='_blank'>
          Confirmation<br>
          {{order.cart.checkout_id}}
        </a>
      </td>

      <td>
        {% if order.shipping_address %}{{ order.shipping_address|safe }}{% endif %}
      </td>

      {% if order.cart.notes or order.cart.receipt %}

        <td colspan='2'>
          {% if order.cart.notes %}{{ order.cart.notes }}{% endif %}
        </td>

        <td colspan='2'>
          {% if order.cart.receipt %}{{ order.cart.receipt }}{% endif %}
        </td>

      {% else %}

        <td colspan='4'>
          <div class='WePay-details text-center'>
            <button class='load-details btn btn-info'>
              load details from WePay
            </button>
            <!-- content goes here -->
            <span class='gross'></span>
            <span class='fee'></span>
            <span class='revenue'></span>
            <span class='profit'></span>
          </div>
        </td>

      {% endif %}
    </tr>
  {% endfor %}

</table>

<p class='text-center' style='text-decoration: underline; font-size: 20pt;'>
  see Tom for more
</p>

{% endblock content %}
