{% extends "admin_base.html" %}
{% load url from future %}

{% block title %}
  Order {{ order.id }}
{% endblock title %}

{% block javascript %}
  <script src='{{ STATIC_URL }}vendor/blueimp-file-upload/js/vendor/jquery.ui.widget.min.js'></script>
  <script src='{{ STATIC_URL }}vendor/blueimp-file-upload/js/jquery.iframe-transport.min.js'></script>
  <script src='{{ STATIC_URL }}vendor/blueimp-file-upload/js/jquery.fileupload.min.js'></script>
  <script type="text/javascript" src="{{ STATIC_URL }}admin/js/order.min.js?v=2"></script>
{% endblock javascript %}

{% block css %}
  <link href="{{ STATIC_URL }}admin/css/order.css" rel="stylesheet">
{% endblock css %}

{% block logo %}
  <a href="{% url 'admin:orders range' this_week.year this_week.week %}">
    <i class='symbol-orders gold'></i>
  </a>
  <i>{{ order.id }}</i>
{% endblock logo %}

{% block content %}
<!-- the location to upload photos to -->
<input type='hidden' id='upload-url' value='{{ CLOUDINARY.upload_url }}'>
<!-- to give cloudinary so they can tell our server when upload is complete -->
<input type='hidden' id='upload-complete-url' value="{% url 'seller:complete upload' %}">
<!-- for JS to check upload completion and get thumb_url -->
<input type='hidden' id='upload-check-url' value="{% url 'seller:check image upload' %}">
<input type='hidden' id='update-order-url' value='{% url 'admin:update order' %}'>

<h3 class='copy-font'>
  <a href="{% url 'confirmation' %}?checkout_id={{order.cart.checkout_id}}"
     target='_blank'>
    {{order.cart.checkout_id}}
  </a>
</h3>

<h3 class='copy-font'>
  {{ order.created_at|date:"d-m-Y  H:i" }}
</h3>

<h3 class='copy-font'>

  <i class='symbol-opentag black' title='product id'></i>
  <span class='product-id-number'>{{ order.products.all.0.id }}</span>

  <a href="{{ order.products.all.0.get_absolute_url }}" target='_blank'>
    {{ order.products.all.0.title }}
  </a>
</h3>

<h3 class='copy-font'>
  {{ order.seller.name }},
  <a href="tel:{{ order.seller.account.phone }}"><i class="symbol-phone blue"></i></a>
  {{ order.seller.account.phone }}
</h3>

<table>
  <thead><td style='width:100px;'></td><td></td></thead>
  <tr>
    <td>
      <i class='symbol-SMS {% if order.is_seller_confirmed  %}green{% else %}gray{% endif %}'></i>
    </td>
    <td>
      {% if order.is_seller_confirmed  %}{{ order.seller_confirmed_at|date:"m/d  H:i" }}{% endif %}
    </td>
  </tr>

  <tr>
    <td>
      <i class='symbol-SMS-shipping {% if order.is_shipped %}green{% else %}gray{% endif %}'></i>
    </td>
    <td>
      {% if order.is_shipped %}{{ order.shipped_at|date:"m/d  H:i" }}{% endif %}
    </td>
  </tr>

  <tr>
    <td>
      <i class='symbol-shipping {% if order.tracking_number %}green{% else %}gray{% endif %}'></i>
    </td>
    <td>
      <a href="{{ order.tracking_url }}" target='_blank'>
        {% if order.tracking_number %}{{ order.tracking_number }}{% endif %}
      </a>
    </td>
  </tr>

  <tr>
    <td>
      <i class='symbol-money
        {% if order.is_seller_paid %}green
        {% else %}gray changeable seller_paid
        {% endif %}'
      data-order-id='{{order.id}}'
      ></i>
    </td>
    <td id='seller-paid'>

      <div id='image-{{ order.id }}-upload-div' class='image-upload-div'>

        <div id='image-{{ order.id }}' class='image'>
          <a
            {% if order.seller_paid_receipt %}
              href="{{ order.seller_paid_receipt.original }}"
              target="_blank"
            {% endif %}
            >
            <img src="{{ order.seller_paid_receipt.pinky_size|default_if_none:'' }}"
                 width="100" height="75" />
          </a>
        </div>

        <div id='spinner-{{ order.id }}' class='spinner-div'></div>

        <div id='progress-{{ order.id }}' class="progress progress-striped">
          <div id='progress-bar-{{ order.id }}' class="bar" style="width: 0%;"></div>
        </div>

        <div id='image-forms-{{ order.id }}' class='image-forms'>
          <form id='data-form-{{ order.id }}' class='data-form'
                method='post' action='{% url "admin:image form data" %}'>

            <input type='hidden' name='order_id' class='order-id'
                   id='image-{{ order.id }}-order-id'
                   value='{{ order.id }}'>

          </form>

          <form id='upload-form-{{ order.id }}' class='upload-form' onsubmit='return false;'>
            <span class='file-wrapper'>

              <input type='file' name='file' class='image-input'
                     id='image-input-{{ order.id }}'
                     accept='*'
                     capture='camera'>

              <span class='file-button btn symbol-camera black'></span>
            </span>
          </form>
        </div>
      </div>

      {% if order.is_seller_paid %}
        {{ order.seller_paid_at|date:"d-m-Y  H:i" }}
      {% endif %}

    </td>
  </tr>
</table>
<br>

<p>
  <div style='border: solid 1px black'>
    {% if order.shipping_address %}{{ order.shipping_address|safe }}{% endif %}
  </div>
</p>

<p>
  <div id='notes'
       style='border: solid 1px black'>
    {% if order.cart.notes %}
      {{ order.cart.notes|linebreaks }}<br>
    {% endif %}
    {{ order.notes|default_if_none:""|linebreaks }}
  </div>
</p>

<input id='order-id' type='hidden' value='{{ order.id }}'>
<textarea id='new-note' name='new-note'></textarea>
<button id='add-note' class='btn btn-info'>Add Note</button>

{% if order.cart.receipt %}
  <p>Receipt:<br>
    <div style='border: solid 1px black'>
      {{ order.cart.receipt }}
    </div>
  </p>
{% endif %}

<table>
  <thead><td style='width:100px;'></td><td align='right' style='width:200px;'></td></thead>
  <tr>
    <td>artisan price</td>
    <td>{{ order.products.all.0.price }} MAD</td>
  </tr>

  <tr>
    <td>shipping</td>
    <td style='white-space: nowrap'>
      {{ order.products.all.0.shipping_cost }} MAD
      ({{ order.products.all.0.weight }}g)
    </td>
  </tr>

  <tr>
    <td>Anou fee</td>
    <td>{{ order.products.all.0.anou_fee }} MAD</td>
  </tr>

  <tr>
    <td>total</td>
    <td>{{ order.products.all.0.local_price }} MAD</td>
  </tr>
</table>

<img src="{{ order.products.all.0.photo.product_size }}">

{% endblock content %}
