{% extends "admin_base.html" %}


{% block javascript %}
<script>
  $().ready(function(){
  });

  $('.has-info').click(function(){
    alert($(this).attr('data-info'));
  });
</script>
{% endblock javascript %}

{% block css %}
<style>
  a:hover{text-decoration: none}
  .has-info{cursor: pointer;}
</style>
{% endblock css %}

{% block logo %}
  <ul class="inline">
    <li>
      <i class='symbol-orders black'></i>
    </li>

    {% if this_week %}
      <li>
        <a href="{% url 'admin:orders range' last_week.year last_week.week %}">
          <i class='symbol-down blue'></i>
        </a>
        <a href="{% url 'admin:orders range' next_week.year next_week.week %}">
          <i class='symbol-up {% if next_week %}blue{%else%}gray{%endif%}'></i>
        </a>
      </li>
    {% endif %}
    <li>
      <form method="get" action="{% url 'admin:find order' %}" style="margin: 0;;">
        <input id='search_field' name="some_id" type="text">
        <button type="submit" id='search-button' class='symbol-go'
            style="line-height: 18pt;"></button>
      </form>
    </li>
  </ul>
{% endblock logo %}

{% block content %}

{% if this_week %}
  <span>{{ this_week.date|date:"d-m-Y" }} : {{ next_week.date|date:"d-m-Y" }}</span>
{% endif %}

<table class='table table-hover table-condensed'>
  <!--<thead>
    <td>ORDER</td>
    <td>DATE&nbsp;TIME</td>
    <td>ITEM</td>
    <td>STATUS</td>
    <td colspan='2'>PAYMENT</td>
  </thead>-->

  {% for order in orders %}
    <tr class='information-row'>
      <td>
        <a href="{% url 'admin:order' order.id %}">
          <i class='symbol-go blue'></i>
        </a>
      </td>

      <td>{{ order.created_at|date:"m-d  H:i" }}</td>

      <td>
        <a href="{{ order.product.get_absolute_url }}"
            target='_blank'>
          {{ order.product.id }}
        </a>
      </td>

      <td style='white-space: nowrap;'>
        <i title='{{ order.seller_confirmed_at|date:"m/d  H:i" }}'
           class='symbol-SMS
                  {% if order.is_seller_confirmed  %}green has-info
                  {% else %}gray{% endif %}'
           data-info='{{ order.seller_confirmed_at|date:"m/d  H:i" }}'
           ></i>

        <i title='{{ order.shipped_at|date:"m/d  H:i" }}'
           class='symbol-SMS-shipping
                  {% if order.is_shipped %}green has-info
                  {% else %}gray{% endif %}'
           data-info='{{ order.shipped_at|date:"m/d  H:i" }}'
           ></i>



        <i title='{{ order.tracking_number }}'
           class='symbol-shipping
                  {% if order.tracking_number %}green has-info
                  {% else %}gray{% endif %}'
           data-info='{{ order.tracking_number }}'
           ></i>

        <i title='{{ order.seller_paid_at|date:"m/d  H:i" }}'
           class='symbol-money
              {% if order.is_seller_paid %}green has-info
              {% else %}gray{% endif %}'
           data-info='{{ order.seller_paid_at|date:"m/d  H:i" }}'
           ></i>
      </td>


      <td {% if not order.is_seller_paid %}style='font-weight: 800;'{% endif %}>
        {{ order.seller.name }}
        <br>
        <a href="tel:{{ order.seller.phone }}">{{ order.seller.phone }}</a>
      </td>
      <td {% if not order.is_seller_paid %}style='font-weight: 800;'{% endif %}>
        {{ order.seller_paid_amount|floatformat:0 }}
        <small>{{ order.seller.country.currency.code }}</small>
        {{ order.seller.account.bank_name }}
        <br>
        {{ order.seller.account.bank_account }}
      </td>

    </tr>
  {% endfor %}

</table>

{% endblock content %}
