{% extends "admin_base.html" %}

{% block content %}
  {% load url from future %}

  <form method='post' action="{% url 'admin:price calculator' %}">{% csrf_token %}
    <ul class='inline'>
      <li>
        <label for='product_id'>Product ID:</label>
      </li>
      <li>
        <input type='text' id='product_id' name='product_id'>
      </li>
      <li>
        <button type='submit' class='btn'>Go</button>
      </li>
    </ul>
  </form>

  <table>
    <tr><td colspan='2' style='width: 200px; color: red'>
      {{ problem }}
    </td></tr>
    <tr>
      <td colspan='2'>Product {{ product_id }}</td>
    </tr>
    <tr>
      <td>Anou Store Price:</td>
      <td>${{ anou_price }}</td>
    </tr>
    <tr>
      <td>Etsy Price:</td>
      <td>${{ etsy_price }}</td>
    </tr>
    <tr>
      <td>Ebay Price:</td>
      <td>${{ ebay_price }}</td>
    </tr>
  </table>

{% endblock content %}
