{% extends "base.html" %}
{% block css %}
  <link href='{{ STATIC_URL }}css/seller/product_edit.css' rel='stylesheet'>
{% endblock css%}

{% block javascript %}
  <script src='{{ STATIC_URL }}vendor/blueimp-file-upload/js/vendor/jquery.ui.widget.js'></script>
  <script src='{{ STATIC_URL }}vendor/blueimp-file-upload/js/jquery.iframe-transport.js'></script>
  <script src='{{ STATIC_URL }}vendor/blueimp-file-upload/js/jquery.fileupload.js'></script>
  <script src='{{ STATIC_URL }}js/seller/product_edit.js'></script>
{% endblock javascript%}

{% block content %}
  {% load url from future %}
  {% load inclusion_tags %}

  <div id='product-edit-form'>
    <form action="" method="post">{% csrf_token %}
      <div id='hidden-fields'>
        {{ product_form.product_id }}
        {{ product_form.assets }}
        {{ product_form.images }}
        {{ product_form.color }}
        {{ product_form.shipping_option }}
      </div>

      <ul>
        <li>{% asset_chooser_tag request "product" %}</li>
        <li class='section-divider'><hr></li>

        <li>
          <div id='photos'>
            >>Photo Uploads
            {% for photo_id in photo_ids %}
              {% photo_upload_tag photo_id %}
            {% endfor %}
          </div>
        </li>
        <li class='section-divider'><hr></li>
        <li>{{ product_form.price }} MAD</li>
        <li class='section-divider'><hr></li>
        <li>
          <div class='asset_chooser' id='color_chooser'>
            >>Color Chooser
          </div>
        </li>
        <li class='section-divider'><hr></li>

        <li>{% asset_chooser_tag request "tool" %}</li>
        <li class='section-divider'><hr></li>

        <li>{% asset_chooser_tag request "material" %}</li>
        <li class='section-divider'><hr></li>

        <li>{% asset_chooser_tag request "artisan" %}</li>
        <li class='section-divider'><hr></li>

        <li>{{ product_form.width  }} cm</li>
        <li>{{ product_form.height }} cm</li>
        <li>{{ product_form.length }} cm</li>
        <li>{{ product_form.weight }} gram</li>
        <li class='section-divider'><hr></li>

        <li>>>Shipping Option Chooser{% shipping_option_chooser_tag request %}</li>
        <li class='section-divider'><hr></li>

        <li>
          <div id='summary'>
            >>Summary
            <table>
              <tr>
                <td class='summary-photo'>
                  <img src=''>
                </td>
                <td>
                  <ul>
                    <li>price</li>
                    <li>shipping cost</li>
                    <li id='summary-show-more'>show more</li>
                    <li class='summary-detail'>anou fee</li>
                    <li class='summary-detail'>total customer price</li>
                    <li class='summary-detail'>customer view in USD</li>
                  </ul>
                </td>
                <td class='summary-submit'>
                  <button type="submit">OK!</button>
                </td>
              </tr>
            </table>
          </div>
        </li>
      </ul>
    </form>
  </div>
{% endblock content %}
