{% extends "base.html" %}
{% block css %}
  <link href='{{ STATIC_URL }}css/seller/product_edit.css' rel='stylesheet'>
  <link href='{{ STATIC_URL }}css/seller/photo_upload.css' rel='stylesheet'>
{% endblock css%}

{% block javascript %}
  <script src='{{ STATIC_URL }}vendor/blueimp-file-upload/js/vendor/jquery.ui.widget.js'></script>
  <script src='{{ STATIC_URL }}vendor/blueimp-file-upload/js/jquery.iframe-transport.js'></script>
  <script src='{{ STATIC_URL }}vendor/blueimp-file-upload/js/jquery.fileupload.js'></script>
  <script src='{{ STATIC_URL }}js/seller/product_edit.js'></script>
{% endblock javascript%}

{% block content %}
  {% load url from future %}
  {% load inventory_inclusion_tags %}

  <div id='product-edit-form'>
    <form action="" method="post">{% csrf_token %}
      <div class='hidden-fields'>
        {{ product_form.product_id }}
        {{ product_form.assets }}
        {{ product_form.images }}
        {{ product_form.color }}
        {{ product_form.shipping_option }}
      </div>

      <div id='product-chooser-section' class='section'>
        {% asset_chooser_tag request "product" %}
        <hr>
      </div>

      <div id='photos-section' class='section'>
        <div id='photos'>
          {% for rank in '12' %}
            {% photo_upload_tag photo_form rank photos %}
          {% endfor %}
        </div>
        <hr>
      </div>

      <div id='price-section' class='section'>
        {{ product_form.price }} MAD
        <hr>
      </div>

      <div id='color-chooser-section' class='section'>
        {% color_chooser_tag %}
        <hr>
      </div>

      <div id='tool-chooser-section' class='section'>
        {% asset_chooser_tag request "tool" %}
        <hr>
      </div>

      <div id='material-chooser-section' class='section'>
        {% asset_chooser_tag request "material" %}
        <hr>
      </div>

      <div id='artisan-chooser-section' class='section'>
        {% asset_chooser_tag request "artisan" %}
        <hr>
      </div>

      <div id='measurements-section' class='section'>
        <ul>
          <li>{{ product_form.width  }} cm</li>
          <li>{{ product_form.height }} cm</li>
          <li>{{ product_form.length }} cm</li>
          <li>{{ product_form.weight }} gram</li>
        </ul>
        <hr>
      </div>

      <div id='shipping-option-chooser-section' class='section'>
        {% shipping_option_chooser_tag request %}
        <hr>
      </div>

      <div id='summary-section' class='section'>
        <table>
          <tr>
            <td class='summary-photo'>
              <img src=''>
            </td>
            <td>
              <ul>
                <li>price</li>
                <li>shipping cost</li>
                <li id='summary-show-more'>show more</li>
                <li class='summary-detail'>anou fee</li>
                <li class='summary-detail'>total customer price</li>
                <li class='summary-detail'>customer view in USD</li>
              </ul>
            </td>
            <td class='summary-submit'>
              <button type="submit">OK!</button>
            </td>
          </tr>
        </table>
      </div>

    </form>
  </div>
{% endblock content %}
