<div class='photo-upload-div'>
  <div class='photo'>
    {% if photo_url %}
      <img src="{{ photo_url }}" width="300" />
    {% else %}
      <img data-src="holder.js/300x225" width="300" />
    {% endif %}
  </div>

  <div class="progress">
    <div class="bar" style="width: 0%;"></div>
  </div>

  <div class='photo-form'>
    <form>
      <div class='hidden-fields'>
        {{ photo_form.product }}
        {{ photo_form.rank }}
      </div>
      <span class='file-wrapper'>
        {{ photo_form.original }}
        <span class='file-button'></span>
      </span>
    </form>
  </div>
</div>
