{% extends "seller_base.html" %}
{% load url from future %}

{% block title %}
  {{ block.super }} Products
{% endblock title %}

{% block css %}
  <link href='{{ STATIC_URL }}seller/css/home.css' rel='stylesheet'>
  <link href='{{ STATIC_URL }}vendor/fitgrid/css/fitgrid.css' rel='stylesheet'>
{% endblock css%}

{% block javascript %}
{% endblock javascript%}

{% block header %}
<!-- NO HEADER -->
{% endblock header %}

{% block messages %}
<!-- NO MESSAGES -->
{% endblock messages %}

{% block content %}

  <div id='management-nav'>
    <ul class=''>
      <li class='right-to-left'>
        <a href="{% url 'seller:inventory create' %}"
           class='symbol-product-add green' title='Add Product'></a>
      </li>

      <li class='right-to-left'>
        <a href="{% url 'seller:management products' %}"
           class='symbol-products blue' title='Current Products'></a>
      </li>

      <li class='right-to-left'>
        <a href="{% url 'seller:management orders' %}"
           class='symbol-orders gold' title='Sold Products'></a>
      </li>
    </ul>
  </div>

  <div id='seller-image'>
    <div>
      <img src="{{ seller.image.thumb }}">
    </div>
    <div id='edit-account'>
      <a id='edit-account-button'
         href="{% url 'seller:edit' %}"
         class='symbol-assets green'
         title='edit account'>
      </a>
    </div>
  </div>

  <div id='base-navigation'>
    <div id='base-logo' class='pull-left'>
      <a href="{% url 'home' %}">
        <img src="{{ STATIC_URL }}images/Anou_logo_80x50.png" alt="Anou logo">
      </a>
    </div>
    <div id='nav-links'>
      <ul>
        <li>
          <a href="{% url 'admin:logout' %}"
             class='symbol-logout red' title='logout'>
          </a>
        </li>
      </ul>
    </div>
  </div>

{% endblock content %}
