{% extends "seller_base.html" %}
{% load url from future %}

{% block title %}
  {{ block.super }} Products
{% endblock title %}

{% block css %}
  <style>
    #body{margin: 0 auto; max-width: 800px}
    #primary-nav, #secondary-nav, #footer{text-align: center;}
    a:hover{text-decoration: none;}

    #primary-nav{}
    #orders{float: left;}
    #products{}
    #new-product{float: right;}
    #orders i, #products i, #new-product i{
      font-size: 1200%;
      line-height: normal;
    }

    #secondary-nav{margin-top: 40%;}
    #home{float: left;}
    #edit-account{}
    #logout{float: right;}
    #edit-account i{font-size: 90%}

    @media (max-width: 600px){
      #orders i, #products i, #new-product i{font-size: 600%}
      #secondary-nav{margin-top: 20%;}
    }
    @media (max-width: 300px){
      #orders i, #products i, #new-product i{font-size: 400%}
      #secondary-nav{margin-top: 20%;}
    }

  </style>
{% endblock css%}

{% block javascript %}
{% endblock javascript%}

{% block header %}
<!-- NO HEADER -->
{% endblock header %}

{% block messages %}
<!-- NO MESSAGES -->
{% endblock messages %}

{% block content %}
  <div id='primary-nav'>
    <a id='orders' href="{% url 'seller:management orders' %}">
      <i class='symbol-orders gold' title='Sold Products'></i>
    </a>
    <a id='products' href="{% url 'seller:management products' %}">
      <i class='symbol-products blue' title='Current Products'></i>
    </a>
    <a id='new-product' href="{% url 'seller:inventory create' %}">
      <i class='symbol-product-add green' title='Add Product'></i>
    </a>
  </div>

  <div id='secondary-nav'>
    <a id='home' href="{% url 'home' %}">
      <img src="{{ STATIC_URL }}images/Anou_logo_80x50.png" alt="Anou Homepage">
    </a>
    <a id='edit-account' href="{% url 'seller:edit' %}">
      <i class='symbol-assets green' title='edit account'></i>
    </a>
    <a id='logout' href="{% url 'admin:logout' %}">
      <i class='symbol-logout red' title='logout'></i>
    </a>
  </div>
{% endblock content %}

{% block footer %}
  {% if request.session.admin_id %}
    <a href="{% url 'admin:dashboard' %}">Admin Dashboard</a>
  {% endif %}
{% endblock footer %}
