{% extends "seller_base.html" %}

{% block title %}
  {{ block.super }} Products
{% endblock title %}

{% block css %}
  <link href='{{ STATIC_URL }}seller/css/inventory.css' rel='stylesheet'>
  <link href='{{ STATIC_URL }}vendor/fitgrid/css/fitgrid.css' rel='stylesheet'>
{% endblock css%}

{% block javascript %}
  <script src='{{ STATIC_URL }}seller/js/inventory.min.js'></script>
{% endblock javascript%}

{% block content %}
  {% load url from future %}
  {% load inventory_inclusion_tags %}


  <div id='inventory' class='fitgrid-row'>
    {% for product in products %}
      {% if product.is_complete %}
        <div id='product{{product.id}}' class='product fg4 right-to-left'>
          {% product_detail_tag product %}
        </div>
      {% endif %}
    {% endfor %}
  </div>

{% endblock content %}
