{# data = order #}

{% extends "email_base.html" %}


{% block snippet %}
  Thank you for your purchase at Anou!
{% endblock snippet %}

{% block headline %}
  Item Shipped!
  {% if data.tracking_number %}
    (and with a tracking number!)
  {% endif %}
{% endblock headline %}

{% block tagline %}
  <a href="http://www.theanou.com/checkout/confirmation/{{ data.checkout.public_id }}">
    view order online
  </a>
{% endblock tagline %}

{% block body %}

  Hi {{ data.checkout.name }},<br>
  <br>
  Your order for the
  <a href="http://www.theanou.com{{ data.product.get_absolute_url }}">
    {{ data.product.name }}
    from
    {{ data.product.seller.city }}, Morocco
  </a>
  was just shipped by
  <a href="http://www.theanou.com{{ data.product.seller.get_absolute_url }}">
    {{ data.product.seller.name }}
  </a>.
  Your item should arrive within 3-5 weeks.<br>
  <br>
  {% if data.tracking_number %}
    Your tracking number is
    <a href="{{ data.tracking_url }}">
      {{ data.tracking_number }}
    </a>
    <br>
    It is probably not active at the moment you are receiving this email, but it will show up in the USPS system once it passes through Casablanca.
    If you are not located in the US, please try your local post service website or
    <a href="http://globaltracktrace.ptc.post/gtt.web/" target="_blank">GlobalTrack&Trace</a>
    to track your shipment.<br>
    <br>
  {% endif %}

  You'll get to enjoy your purchase soon!<br>
  <br>

  Item Shipped:<br>
  <table>
      <tr>
        <td>
          <a href="http://www.theanou.com{{ data.product.get_absolute_url }}">
            <img src="{{ data.product.photo.pinky_size }}" width="75" height="75">
          </a>
        </td>
        <td valign="middle">
          <a href="http://www.theanou.com{{ data.product.get_absolute_url }}">
            {{ data.product.name }}
            from
            {{ data.product.seller.city }}, Morocco
          </a>
        </td>
      </tr>
      {{ data.products.0.name }}
  </table>
{% endblock body %}

{% block closing %}
  If you are having anything short of the most satisfying experience,
  please reply to this email or write to us at
  <a href="mailto:hello@theanou.com">hello@theanou.com</a>.
  We would love to hear from you!<br>
  <br>
  Sincerely,<br>
  The Anou Team
{% endblock closing %}
