<!DOCTYPE html>
<html lang="en">
{% load url from future %}
{% load compress %}
<head>
  <meta charset="utf-8">
  <title>{% block title %}Anou{% endblock title %}</title>

  {% block viewport %}
    <!-- prevent pinch/zoom on mobile --->
    <meta id='page-viewport' name="viewport" content="width=device-width" />
  {% endblock viewport %}

  <!--favicon-->
  <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon_old.ico" />

  {% if debug %}
    <link href="{{ STATIC_URL }}vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}vendor/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
  {% else %}
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-responsive.min.css" rel="stylesheet">
  {% endif %}

  {% compress css %}
    <link href="{{ STATIC_URL }}css/base.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/icon-font.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/fonts.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>
    {% block css %}
    {% endblock css %}
  {% endcompress %}

</head>

<body>
  <div id="header" class="container navbar navbar-fixed-top">
    {% block header %}
      <div id="base-logo" class='pull-left'>
        <a href="{% url 'home' %}">
          <img src="{{ STATIC_URL }}images/Anou_logo_80x50.png" alt="Anou logo">
        </a>
      </div>
      <div id="base-navigation">

        <ul class='pull-right'>
          <li>
            <a href="{% url 'cart' %}">
              <span class='symbol-cart' title='cart'></span>
              <span class='hidden-phone title'>Cart</span>
            </a>
          </li>

          {% if 'admin_id' in request.session or 'seller_id' in request.session %}
            <li>
              <a href="{% url 'admin:logout' %}"
                 class='symbol-logout red' title='logout'></a>
            </li>
          {% endif %}

          <li>
            <a href="{% url 'seller:management home' %}"
               class='symbol-go anou-blue' title='artisan account'></a>
            {{ symbol.euro }}
          </li>
        </ul>

        <ul class='pull-left'>
          <li>
            <a class='title' href="{% url 'home' %}">Home</a>
          </li>
          <li>
            <a class='title' href="{% url 'about' %}">About</a>
          </li>
        </ul>

      </div>
    {% endblock header %}

    {% block messages %}
      <!-- MESSAGES -->
      <div id='messages' class='pull-left'>
        {% if messages %}
          <ul>
            {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
    {% endblock messages %}
  </div>

  <div id="body" class="container">
    {% block content %}
      <p>Hello World! It's Anou.</p>
    {% endblock content %}
  </div>

  <footer id="footer">
    {% block footer %}
      <hr id="footer-separator">
      <div class="container">
        {% block footer_content %}
        {% endblock footer_content %}
      </div>
    {% endblock footer %}
  </footer>

  <!--Javascript Placed at the end of the document so the pages load faster -->

  {% if debug %}
    <script src="{{ STATIC_URL }}vendor/jquery/jquery-1.9.1.min.js"></script>
    <script src="{{ STATIC_URL }}vendor/bootstrap/js/bootstrap.min.js"></script>
  {% else %}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/js/bootstrap.min.js"></script>
  {% endif %}

  {% compress js %}
    <script src="{{ STATIC_URL }}vendor/holder/js/holder.js"></script>
    <!--<script type="text/javascript" src="{{ STATIC_URL}}js/base.js"></script>-->
    {% block javascript %}
    {% endblock javascript %}
  {% endcompress %}

  {% if 'admin_id' not in request.session and 'seller_id' not in request.session %}
    {% block zopim %}
      <!--Start of Zopim Live Chat Script-->
      <script type="text/javascript">window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set._.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');$.src='//cdn.zopim.com/?xlmuDH2WUDECb1kjWcaJOoCY6HHe0F2f';z.t=+new Date;$.type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');</script>
      <!--End of Zopim Live Chat Script-->
    {% endblock zopim %}
  {% endif %}

</body>
</html>
