<!DOCTYPE html>
<html lang="en">
{% load url from future %}
<head>
  <meta charset="utf-8">
  <title>{% block tab_title %}Anou{% endblock tab_title %}</title>
  <!-- prevent pinch/zoom on mobile --->
  <meta name="viewport" content="width=device-width" />

  <!--favicon-->
  <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon_old.ico" />

  {% if debug %}
    <link href="{{ STATIC_URL }}vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}vendor/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
  {% else %}
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
  {% endif %}

  <link href="{{ STATIC_URL }}css/base.css" rel="stylesheet">

  {% block css %}
  {% endblock css %}

</head>

<body>
  <div id="header" class="container">
    {% block header %}
      <div id="base-logo" class='pull-left'>
        <a href="{% url 'home' %}">
          <img src="{{ STATIC_URL }}images/Anou_logo_160x100.png" alt="Anou logo">
        </a>
      </div>
      <div id="base-navigation">
        <ul class='nav nav-pills pull-right'>
          <li class='btn-large'>
            <a href="{% url 'home' %}">Home</a>
          </li>
          <li class='btn-large'>
            <a href="{% url 'about' %}">About</a>
          </li>

          {% if 'cart_id' in request.session %}
            <li class='btn-large'>
              <a href="{% url 'cart' %}">
                <i class='symbol cart'>Cart</i>
              </a>
            </li>
          {% endif %}

          <li class='btn-large'>
            <a href="{% url 'seller:management home' %}">
              <i class='symbol blue-arrow'></i>
            </a>
          </li>

        </ul>
      </div>
    {% endblock header %}
    <!--<hr id="header-separator">-->
  </div>

  <div class="errors">
    {% if problem %}<p>problem: {{ problem }}</p>{% endif %}
    {% if exception %}<p>exception: {{ exception }}</p>{% endif %}
  </div>

  <div id="body" class="container">
    {% block content %}
      <p>Hello World! It's Anou.</p>
    {% endblock content %}
  </div>

  <footer id="footer">
    <hr id="footer-separator">
    <div class="container">
      {% block footer %}
      {% endblock footer %}
    </div>
  </footer>

  <!--Javascript Placed at the end of the document so the pages load faster -->
  {% if debug %}
    <script src="{{ STATIC_URL }}vendor/jquery/jquery-1.9.1.min.js"></script>
    <script src="{{ STATIC_URL }}vendor/bootstrap/js/bootstrap.min.js"></script>
  {% else %}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/js/bootstrap.min.js"></script>
  {% endif %}

  <script src="{{ STATIC_URL }}vendor/holder/js/holder.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL}}js/base.js"></script>

  {% block javascript %}
  {% endblock javascript %}
</body>
</html>
