{# data = [list of orders] #}

{% extends "email_base.html" %}
{% load url from future %}

{% block snippet %}
  Thank you for your purchase at Anou!
{% endblock snippet %}

{% block headline %}
  Order Placed
{% endblock headline %}

{% block tagline %}
  <a href="http://www.theanou.com/checkout/confirmation?checkout_id={{ data.0.cart.checkout_id }}">
    view order online
  </a>
{% endblock tagline %}

{% block body %}

  Hi {{ data.0.cart.name }},<br>
  <br>
  The artisan{{ data|length|pluralize}} you purchased from just received an SMS message!
  They will make sure your item{{ data|length|pluralize:" is,s are" }}
  ready to ship and confirm
  {{ data|length|pluralize:"it,each one" }} soon.<br>
  <br>
  Item{{ data|length|pluralize}} Ordered:<br>
  <table>
    {% for order in data %}
      <tr>
        <td>
          <a href="http://www.theanou.com{{ order.product.get_absolute_url }}">
            <img src="{{ order.product.photo.pinky_size }}" width="75" height="75">
          </a>
        </td>
        <td valign="middle">
          <a href="http://www.theanou.com{{ order.product.get_absolute_url }}">
            {{ order.product.name }}
            from
            {{ order.seller.city }}, Morocco
          </a>
        </td>
      </tr>
      {{ order.product.name }}
    {% endfor %}
  </table>
{% endblock body %}

{% block closing %}
  If you are having anything short of the most satisfying experience,
  please reply to this email or write to us at
  <a href="mailto:hello@theanou.com">hello@theanou.com</a>.
  We would love to hear from you!<br>
  <br>
  Sincerely,<br>
  The Anou Team
{% endblock closing %}
