{% extends "base.html" %}
{% load url from future %}
{% load checkout_inclusion_tags %}

{% block title %}
  Shopping Cart
{% endblock title %}

{% block javascript %}
  <script type="text/javascript" src="{{ STATIC_URL }}public/js/cart.min.js?v=1"></script>
{% endblock javascript %}

{% block css %}
  <link href="{{ STATIC_URL }}public/css/cart.css?v=1" rel="stylesheet">
{% endblock css %}

{% block content %}

  <div class='row-fluid'>
    <div id='main-content' class='span8'>

      <div id='cart' class='part1'>
        <h3 id='cart-sentance' class='trim'>
          You have
          {{ cart.count }}
          item{{ cart.count|pluralize }}
          in your Shopping Cart...
          <a href="{% url 'home' %}" class="nowrap">continue shopping</a>
        </h3>

        <div id='items'>
          {% for item in cart %}
            <div id='item_{{ item.id }}' class='thumbnail row-fluid'>
              <div class='photo span4'>
                <a href="{{ item.product.get_absolute_url }}">
                  <img src='{{ item.photo.thumb_size }}' alt='{{ item.product.title }}'>
                </a>
              </div>
              <div class='details span8'>
                <ul>
                  <li class='name'>
                    <a href="{{ item.product.get_absolute_url }}">
                      {{ item.product.name }} by {{ item.product.seller.name }}
                    </a>
                  </li>
                  <li class='price'>${{ item.product.display_price }}</li>
                  <li class='delete'>
                    <a href="{% url 'cart-remove' item.product.id %}">remove</a>
                  </li>
                </ul>
              </div>
            </div>
          {% endfor %}
        </div>

        <div id='summary' class='row-fluid'>
          <div class='span5'>
            <ul>
              <li class='title-font'>Shipping</li>
              <li class='title-font'>Total</li>
            </ul>
          </div>
          <div class='span7'>
            <ul>
              <li class='amount title-font'>0.00</li>
              <li class='amount title-font'>
                $<span id='order-total'>{{ cart.summary }}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>

{#      <div id='cart-shortcut'>#}
{#        <h3 id='cart-paragraph' class='trim '>#}
{#          You have#}
{#          {% for item in cart %}#}
{#            {% if forloop.first %}a#}
{#            {% elif forloop.last %} and a#}
{#            {% else %}, a#}
{#            {% endif %}#}
{#            {{ item.product.name }}#}
{#            for#}
{#            ${{ item.product.display_price }}#}
{#          {% endfor %}#}
{#          in your cart for a total of#}
{#          ${{ cart.summary }}#}
{#        </h3>#}
{#      </div>#}

      {% if cart.count %}
        <div id='customer-info'>

          <div id='checkout-form'>
            <input type='hidden' id='cart-ajax-url' value="{% url 'cart-save' %}">
            <div class='row-fluid'>
              <div class='span6'>

                <div id='address-div' class=''>
                  <h4 class='copy-font'>Shipping Address</h4>
                  {{ cart_form.address_name }}<br>
                  {{ cart_form.address1 }}<br>
                  {{ cart_form.address2 }}<br>
                  {{ cart_form.city }}
                  {{ cart_form.state }}<br>
                  {{ cart_form.postal_code }}
                  {{ cart_form.country }}
                </div>

              </div>
              <div class='span6'>

                <div id='contact-div' class=''>
                  <h4>Contact Info</h4>
                  {{ cart_form.name }}
                  {{ cart_form.email }}
                  <p><span id='email-suggestion'>
                    Did you mean <a id='suggested-email'></a>?
                  </span>&nbsp;</p>
                </div>

                {% if 'admin_id' in request.session %}
                  {% manual_checkout_tag cart %}
                {% else %}

                  <div id="payment-div">
                    <h4>Order Total: ${{ cart.summary }}</h4>
                    <form id="pay-button" action="{%  url 'stripe checkout' %}" method="POST" style="display: none;">
  {#                    http://respondto.it/anou-stripe#}
                      <script
                        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="{{ STRIPE_PUBLIC_KEY }}"
                        data-amount="{% widthratio cart.summary 1 100 %}"
                        data-name="Anou"
                        data-description="{{ cart|length }} item{{ cart|length|pluralize }} (${{ cart.summary }})"
                        data-image="https://res.cloudinary.com/hork5h8x1/image/upload/Anou_logo_square_128_azlqgp.png"
                        data-allow-remember-me="false"
                        data-currency="USD"
                        data-label="Pay with card.">
                      </script>
                    </form>
                  </div>

                {% endif %}

              </div>
            </div>
          </div>

        </div>
      {% endif %}

    </div><!-- end of left side, span8 -->

    <div id='information' class='span4'>
      <div class='well'>
        <h4>How much is Shipping?</h4>
        <p>Shipping is free to the USA, Europe, and Morocco. However, we are exploring the demand for shipping to other countries. Shoot us an email to <a href='mailto:hello@theanou.com'>hello@theanou.com</a> and we'll see what we can do for you!</p>
      </div>
      <div class='well'>
        <h4>What about returns?</h4>
        <p>If you need to return an item for any reason, we will send you a shipping label to cover return shipping and you will receive a full refund. Just email us at <a href='mailto:hello@theanou.com'>hello@theanou.com</a>. As a matter of fact, we haven't even had any returns yet! So we're trusting you on when something needs to be returned.</p>
      </div>
      <div class='well'>
        <h4>Can the shipping and billing address be different?</h4>
        <p>Yes, they can be different. You will have the opportunity to enter them seperately.</p>
      </div>
      <div class='well'>
        <h4>What is your security policy?</h4>
        <p>Our security is the highest possible because we do not handle any of your sensitive personal information. Your payment will be processed by <a href='https://www.wepay.com/security' target='_blank'>WePay</a> through their secure portal. The only information we keep on file is your shipping address so the artisan can mail your order, and your email so we can update you on it's progress.</p>
      </div>
    </div>
  </div>

{% endblock content %}
