{% extends "base.html" %}
{% load url from future %}

{% block title %}
  Shopping Cart
{% endblock title %}

{% block javascript %}
  <script type="text/javascript" src="{{ STATIC_URL}}public/js/checkout.js"></script>
  <!-- WEPAY Script -->
  <script type="text/javascript" src="https://www.wepay.com/min/js/iframe.wepay.js"></script>
  {% if cart.count %}
    <script type="text/javascript">
      WePay.iframe_checkout("wepay-payment", "{{ wepay_checkout_uri }}");
    </script>
  {% endif %}
{% endblock javascript %}

{% block css %}
  <link href="{{ STATIC_URL }}public/css/checkout.css" rel="stylesheet">
{% endblock css %}

{% block content %}

  <div class='row-fluid'>
    <div class='span8'>

      <div id='cart' class='part1'>
        <h3 id='cart-sentance' class='trim'>
          You have
          {{ cart.count }}
          item{{ cart.count|pluralize }}
          in your Shopping Cart.
        </h3>

        <div id='items'>
          {% for item in cart %}
            <div id='item_{{ item.id }}' class='thumbnail row-fluid'>
              <div class='photo span4'>
                <a href="{% url 'product' item.product.id %}">
                  <img src='{{ item.photo.thumb }}' alt='product photo'>
                </a>
              </div>
              <div class='details span8'>
                <ul>
                  <li class='name'>
                    <a href="{% url 'product' item.product.id %}">
                      {{ item.product.name }} by {{ item.product.seller.name }}
                    </a>
                  </li>
                  <li class='price'>${{ item.product.display_price }}</li>
                  <li class='delete'>
                    <a href="{% url 'cart-remove' item.product.id %}">remove</a>
                  </li>
                </ul>
              </div>
            </div>
          {% endfor %}
        </div>

        <div id='summary' class='fluid-row'>
          <div class='span5'>
            <ul>
              <li>Shipping</li>
              <li>Total</li>
              <li><a href="{% url 'home' %}">Continue Shopping</a></li>
            </ul>
          </div>
          <div class='span7'>
            <ul>
              <li class='amount'>0.00</li>
              <li class='amount'>
                $<span id='order-total'>{{ cart.summary }}</span>
              </li>
              <li>
                {% if cart.count %}
                  <button id='checkout-button'
                     class='btn btn-large btn-success'>
                    Secure Checkout
                  </button>
                {% else %}
                  <button id='checkout-button-dummy'
                     class='btn btn-large btn-success disabled'>
                    Secure Checkout
                  </button>
                {% endif %}
              </li>
            </ul>
          </div>
        </div>
      </div><!-- end part1 -->

      <div id='cart-shortcut' class='part2 part3'>
        <h3 id='cart-return-button' class=''>
          <a href='#cart-sentance'>
            <span class='symbol-cart'></span> go back to Cart.
          </a>
        </h3>

        <h3 id='cart-paragraph' class='trim'>
          You have
          {% for item in cart %}
            {% if forloop.first %}a
            {% elif forloop.last %} and a
            {% else %}, a
            {% endif %}
            {{ item.product.name }}
            for
            ${{ item.product.display_price }}
          {% endfor %}
          in your cart for a total of
          ${{ cart.summary }}
        </h3>
      </div>

      <div id='customer-info' class='part2'>
        <div id='checkout-form'>
          <input type='hidden' id='cart-ajax-url' value="{% url 'cart-save' %}">
          <div class='row-fluid'>
            <div class='span6'>
              <fieldset><legend>Contact Info</legend>

                <div class="control-group">
                  <div class="controls">
                    {{ cart_form.name }}
                    <p class="help-inline">Please provide your name.</p>
                  </div>
                </div>

                <div class="control-group">
                  <div class="controls">
                    {{ cart_form.email }}
                    <p id='email-suggestion'>
                      Did you mean <a id='suggested-email'></a>?
                    </p>
                    <p class="help-inline">Please provide your email.</p>
                  </div>
                </div>

              </fieldset>
            </div>
            <div class='span6'>
              <fieldset>
                <legend>Order Total: ${{ cart.summary }}</legend>
                <div class='control-group'>
                  <button id='pay-now-button' class='btn btn-large btn-success'>
                    Pay Now
                  </button>
                </div>
              </fieldset>
              </h3>
            </div>
          </div>
        </div>
      </div>

      <div id='payment' class='part3'>
        <small class='trim text-info'>
          <span class='symbol-lock'></span>
          This container is an SSL (https) encrypted frame secured and hosted by
          <a href='https://www.wepay.com/security' target='_blank'>WePay</a>
          <span class='symbol-lock'></span>
        </small>
        <div id='wepay-payment'></div>
        <small class='trim text-info'>
          <span class='symbol-lock'></span>
          This container is an SSL (https) encrypted frame secured and hosted by
          <a href='https://www.wepay.com/security' target='_blank'>WePay</a>
          <span class='symbol-lock'></span>
        </small>
      </div>

    </div><!-- end of left side, span8 -->

    <div id='information' class='span4'>
      <div class='well'>
        <h4>How much is Shipping?</h4>
        <p>Shipping is free to the USA, Europe, or Morocco. Unfortunately we are not able to ship to any other countries right now.</p>
      </div>
      <div class='well'>
        <h4>What about returns?</h4>
        <p>If you need to return part or all of your order for any reason, we will send you a shipping label to cover return shipping. You will be fully refunded for any returned items. Email us at <a href='mailto:hello@theanou.com'>hello@theanou.com</a>, we are happy to assist you.</p>
      </div>
      <div class='well'>
        <h4>Can the shipping and billing address be different?</h4>
        <p>Yes, they can be different. You will have the opportunity to enter them seperately.</p>
      </div>
      <div class='well'>
        <h4>What is your security policy?</h4>
        <p>Our security is the highest possible because we actually don't touch any of your sensitive personal information. Your payment will be processed by <a href='https://www.wepay.com/security' target='_blank'>WePay</a> on their secure servers. The only information we keep on file is your shipping address so the artisan can mail your order and your email so we can keep you updated on it's progress.</p>
      </div>
    </div>
  </div>

{% endblock content %}
