{% extends "base.html" %}
{% load url from future %}

{% block title %}
  Shopping Cart
{% endblock title %}

{% block javascript %}
  <script type="text/javascript" src="{{ STATIC_URL}}public/js/checkout.js"></script>
  <!-- WEPAY Script -->
  <script type="text/javascript">var WePay = WePay || {};WePay.load_widgets = WePay.load_widgets || function() { };WePay.widgets = WePay.widgets || [];WePay.widgets.push( {object_id: 471978,widget_type: "store_item_buy_now",anchor_id: "wepay_widget_anchor_51b76cfb57ff4",widget_options: {store_id: 715108,show_item_price: true,show_item_images: false,button_text_sold_out: "Sold Out",show_item_custom_options: true,button_text: "Pay Now"}});if (!WePay.script) {WePay.script = document.createElement('script');WePay.script.type = 'text/javascript';WePay.script.async = true;WePay.script.src = 'https://static.wepay.com/min/js/widgets.v2.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(WePay.script, s);} else if (WePay.load_widgets) {WePay.load_widgets();}</script>
{% endblock javascript %}

{% block css %}
  <link href="{{ STATIC_URL }}public/css/checkout.css" rel="stylesheet">
{% endblock css %}

{% block content %}
  <div id='head'>
    <h3 id='cart-sentance'>
      You have
      <span class='badge'><h1>{{ cart.count }}</h1></span>
      item{{ cart.count|pluralize }}
      in your Shopping Cart.
    </h3>

    <h3 id='cart-return' class=''>
      <a href='#cart'><span class='symbol-cart'></span> go back to my Cart.</a>
    </h3>

    <h3 id='cart-paragraph' class=''>
      You have
      {% for item in cart %}
        {% if forloop.first %}a
        {% elif forloop.last %} and a
        {% else %}, a
        {% endif %}
        {{ item.product.name }}
        for
        ${{ item.product.display_price }}
      {% endfor %}
      in your cart for a total of
      ${{ cart.summary }}
    </h3>
  </div>

  <div class='row-fluid'>
    <div id='cart' class='span8'>
      <div id='items'>
        {% for item in cart %}
          <div id='item_{{ item.id }}' class='thumbnail row-fluid'>
            <div class='photo span4'>
              <a href="{% url 'product' item.product.id %}">
                <img src='{{ item.photo.thumb }}' alt='product photo'>
              </a>
            </div>
            <div class='details span8'>
              <ul>
                <li class='name'>
                  <a href="{% url 'product' item.product.id %}">
                    {{ item.product.name }} by {{ item.product.seller.name }}
                  </a>
                </li>
                <li class='price'>${{ item.product.display_price }}</li>
                <li class='remove'>
                  <a href="{% url 'cart-remove' item.product.id %}">remove</a>
                </li>
              </ul>
            </div>
          </div>
        {% endfor %}
      </div>

      <div id='summary' class='fluid-row'>
        <div class='span5'>
          <ul>
            <li>Shipping</li>
            <li>Total</li>
            <li></li>
          </ul>
        </div>
        <div class='span7'>
          <ul>
            <li class='amount'>0.00</li>
            <li class='amount'>
              $<span id='order-total'>{{ cart.summary }}</span>
            </li>
            <li>
              <a href="{% url 'home' %}">Continue Shopping</a>
              or
              <a href='#' id='checkout' class='btn btn-large btn-success'>
                Checkout
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div id='checkout-form' class=''>
        <input type='hidden' id='cart-ajax-url' value="{% url 'cart-save' %}">
        <div class='row-fluid'>

          <div class='span6'>
            <fieldset><legend>Shipping Address</legend>
              {{ cart_form.name }}<br>
              {{ cart_form.address1 }}<br>
              {{ cart_form.address2 }}<br>
              {{ cart_form.city }}
              {{ cart_form.state }}<br>
              {{ cart_form.postal_code }}
              {{ cart_form.country }}
            </fieldset>
          </div>

          <div class='span6'>
            <fieldset><legend>Contact Email</legend>
              {{ cart_form.email }}
              <span id='email-suggestion'>
                Did you mean <a id='suggested-email'></a>?
              </span>
            </fieldset>

            <h3>
              <button id='pay-now' class='btn btn-large btn-success disabled'>
                Pay Now
              </button>
              ${{ cart.summary }}
            </h3>

            <div id='wepay-payment'>
              <a class="wepay-widget-button wepay-green" id="wepay_widget_anchor_51b76cfb57ff4" href="https://www.wepay.com/stores/715108/item/471978">Pay Now</a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div id='information' class='span4'>
      <div class='well'>
        <h4>How much is Shipping?</h4>
        <p>Shipping is free to the USA, Europe, or Morocco. Unfortunately we are not able to ship to any other countries right now.</p>
      </div>
      <div class='well'>
        <h4>Can the shipping and billing address be different?</h4>
        <p>Yes, they can be different. You will have the opportunity to enter them seperately.</p>
      </div>
      <div class='well'>
        <h4>What is your security policy?</h4>
        <p>Our security is the highest possible, because we permanently delete all your sensitive personal information as soon as your payment is processed so that no one (not even us!) can see it. The only information we keep on file is your shipping address so the artisan knows where to send your order and your email so we can keep you updated on it's progress.</p>
      </div>
    </div>
  </div>

{% endblock content %}
