{% extends "base.html" %}
{% load url from future %}

{% block title %}
  Order Confirmation
{% endblock title %}

{% block javascript %}
  <script type="text/javascript" src="{{ STATIC_URL }}public/js/confirmation.min.js"></script>
{% endblock javascript %}

{% block css %}
  <link href="{{ STATIC_URL }}public/css/confirmation.css" rel="stylesheet">
{% endblock css %}

{% block content %}
  <div class='row-fluid'>
    <div class='span8'>

      {% if cart.count %}
        <div id='comfirmation-title'>
          <h1>
            {% if checkout_data.error or checkout_data.problem %}
              {{ checkout_data.error }}
              {{ checkout_data.problem }}
            {% else %}
              Order Complete!
            {% endif %}
          </h1>
          <h3>
            Total Charged:
            <span class='badge'><h3>${{ checkout_data.gross|floatformat:2 }}</h3></span>
            Confirmation Number:
            <span class='badge'><h3>{{ checkout_data.checkout_id }}</h3></span>
          </h3>
        </div>
      {% else %}
        <h3>Oh no, can't find your order!</h3>
      {% endif %}

      <div class='row-fluid'>
        <div id='items' class='span4'>
          <ul>
            {% for item in cart %}
              <li>
                <img src='{{ item.photo.pinky_size }}' alt='product photo'>
                <p>{{ item.product.name }}, ${{ item.product.display_price }}</p>
              </li>
            {% endfor %}
          </ul>
        </div>

        <div id='confirmation-details' class='span8'>
          <fieldset>
            <legend>Contact Information</legend>
            <p>
              {% if checkout_data.name %}
                <span id='subscribe-name'>{{ checkout_data.name}}</span>
              {% else %}
                No name on file.
              {% endif %}
              <br>
              {% if checkout_data.email %}
                <span id='subscribe-email'>{{ checkout_data.email}}</span>
              {% else %}
                No email on file!
              {% endif %}
            </p>
            {% if checkout_data.email %}
              <p id='subscribe' data-url="{% url 'subscribe' %}">
                <button type='button' id='subscribe-submit' class='btn btn-success'>
                  Subscribe
                </button>
                <button type='button' class='btn btn-info disabled'>
                  Saving...
                </button>
                <button type='button' class='btn btn-success disabled'>
                  Thanks!
                </button>
                <span class='before'>to</span>
                <span class='after'>You'll</span>
                receive updates as Anou transforms the world of Fair Trade.
              </p>
            {% endif %}
          </fieldset>

          <fieldset>
            <legend>Shipping Address</legend>
            <p>
              {% if checkout_data.shipping_address %}
                {{ checkout_data.shipping_address.name }}<br>
                {{ checkout_data.shipping_address.address1 }}<br>
                {% if checkout_data.shipping_address.address2 %}
                  {{ checkout_data.shipping_address.address2 }}<br>
                {% endif %}
                {{ checkout_data.shipping_address.city }},
                {{ checkout_data.shipping_address.state }}
                {{ checkout_data.shipping_address.zip }}<br>
                {{ checkout_data.shipping_address.country }}
              {% else %}
                No shipping address on file!
              {% endif %}
            </p>
          </fieldset>

          <p class='text-info'>
            If any of the above contact or shipping information is incorrect or missing, please contact us immediately at <a href='mailto:hello@theanou.com'>hello@theanou.com</a> so we can correct it.
          </p>
        </div>
      </div>

      <div id='followup'>
        <h3>Share Your Exeperience on Social Media</h3>
        <h3>Read the latest blog post by founder, Dan Driscoll</h3>
      </div>

    </div><!-- end of left side, span8 -->

    <div id='information' class='span4'>
      <div class='well'>
        <h4>When will my order arrive?</h4>
        <p>Shipping from rural Morocco can take from 10 to 28 days, but we'll keep you updated on your order's progress by email.</p>
      </div>
      <div class='well'>
        <h4>What about returns?</h4>
        <p>If you need to return part or all of your order for any reason, we will send you a shipping label to cover return shipping. You will be fully refunded for any returned items. Email us at <a href='mailto:hello@theanou.com'>hello@theanou.com</a>, we are happy to assist you.</p>
      </div>
      <div class='well'>
        <h4>How can Anou be improved?</h4>
        <p>We genuinely hope you had a positive buying experience and would love to hear from you. We want to hear about what we did right and where we could make some changes...</p>
      </div>
      <div class='well'>
        <h4>What can I do to help?</h4>
        <p>The "Fair Trade" industry is broken. "Please tell you friends about this show"-AD</p>
      </div>
    </div>
  </div>

  <div id='data' class='hidden'>
    <h1>Wepay Data:</h1>
    <ul>
      {% for key,value in checkout_data.items %}
        <li>{{key}}: {{value}}</li>
      {% endfor %}
    </ul>
  </div>

{% endblock content %}
