{% extends "base.html" %}

{% block title %}
  Order Confirmation
{% endblock title %}

{% block javascript %}
  <script type="text/javascript" src="{{ STATIC_URL }}public/js/confirmation.min.js"></script>
{% endblock javascript %}

{% block css %}
  <link href="{{ STATIC_URL }}public/css/confirmation.css" rel="stylesheet">
{% endblock css %}

{% block content %}
  <div class='row-fluid'>
    <div class='span8'>

      {% if checkout.orders.count %}
        <div id='confirmation-title'>
          <h1>
            {% if problem %}
              {{ problem }}
            {% else %}
              Order Complete!
            {% endif %}
          </h1>
          <h3 class=''>
            {% if checkout.payment_data.gross %}
              Total Charged:
              <span class='badge'><h3 class=''>
                ${{ checkout.payment_data.gross|floatformat:2 }}
              </h3></span>
            {% endif %}
            {% if checkout.payment_data.checkout_id %}
              Confirmation Number:
              <span class='badge'><h3 class=''>
                {{ checkout.payment_data.checkout_id }}
              </h3></span>
            {% endif %}
          </h3>

          {% if checkout.payment_data.refund %}
            <p class="red">Note: You have received a full or partial refund!</p>
          {% endif %}

          {% for order in checkout.orders.all %}
            {% if order.tracking_number %}
              <h3 class=''>
                Track your {{ order.product.name }} at
                <a href="{{ order.tracking_url }}" target='_blank'>
                  {{ order.tracking_number }}
                </a>.
              </h3>
            {% endif %}
          {% endfor %}
        </div>

      {% else %}
        <h3>Oh no, can't find your order!</h3>
      {% endif %}

      <div class='row-fluid'>
        <div id='items' class='span4'>
          <fieldset>
            <legend>Order Items</legend>
            <ul class='unstyled'>
              {% for order in checkout.orders.all %}
                <li>
                  <a href="{{ order.product.get_absolute_url }}">
                    <img class='product-photo'
                         src='{{ order.product.photo.pinky_size }}' alt='{{ order.product.title }}'>
                    <h5 class='product-title'>
                      {{ order.product.name }}
                      <span class=''>${{ order.product.display_price }}</span>
                    </h5>
                  </a>
                </li>
              {% endfor %}
            </ul>
          </fieldset>
        </div>

        <div id='confirmation-details' class='span8'>
          <fieldset>
            <legend>Contact Information</legend>
            <p>
              {% if checkout.name %}
                <span id='subscribe-name'>{{ checkout.name }}</span>
              {% else %}
                No name on file.
              {% endif %}
              <br>
              {% if checkout.email %}
                <span id='subscribe-email'>{{ checkout.email }}</span>
              {% else %}
                No email on file!
              {% endif %}
            </p>
            {% if checkout.email %}
              <p id='subscribe' data-url="{% url 'communication:subscribe' %}">
                <button type='button' id='subscribe-submit' class='btn btn-success'>
                  Subscribe
                </button>
                <button type='button' class='btn btn-info disabled'>
                  Saving...
                </button>
                <button type='button' class='btn btn-success disabled'>
                  Thanks!
                </button>
                <span class='before'>to</span>
                <span class='after'>You'll now</span>
                receive updates<br>
                as Anou transforms the world of Fair Trade!
              </p>
            {% endif %}
          </fieldset>

          <fieldset>
            <legend>Shipping Address</legend>
            <p>
              {% if checkout.shipping_address %}
                {{ checkout.shipping_address|linebreaksbr }}
              {% else %}
                No shipping address on file!
              {% endif %}
            </p>
          </fieldset>

          <p class='text-info'>
            If any of the above contact or shipping information is incorrect or missing, please contact us immediately at <a href='mailto:hello@theanou.com'>hello@theanou.com</a> so we can correct it.
          </p>

          <div id='followup'>
            <h3>
              Read the
              <a href='http://helloanou.wordpress.com'>latest blog post</a>
              by founder, Dan Driscoll
            </h3>
          </div>
        </div>
      </div>
    </div><!-- end of left side, span8 -->

    <div id='information' class='span4'>
      <div class='well'>
        <h4>When will my order arrive ?</h4>
        <p>Shipping from rural Morocco can take from 10 to 28 days, but we'll keep you updated on your order's progress by email.</p>
      </div>
      <div class='well'>
        <h4>What about returns ?</h4>
        <p>If you need to return part or all of your order for any reason, we will send you a shipping label to cover return shipping. You will be fully refunded for any returned items. Email us at <a href='mailto:hello@theanou.com'>hello@theanou.com</a>, we are happy to assist you.</p>
      </div>
      <div class='well'>
        <h4>How can Anou be improved ?</h4>
        <p>We genuinely want you to have a positive buying experience every time and would love to hear from you. Please write to <a href='mailto:hello@theanou.com'>hello@theanou.com</a>. Whether it's praise or criticism, it's like opening a gift when we get to hear from our customers!</p>
      </div>
      <div class='well'>
        <h4>What can I do to help ?</h4>
        <p>When your purchase arrives, pleas send us a picture or post it to our <a href="http://www.facebook.com/TheAn0u">Facebook page</a>. Our artisans always love to see how you are using their products so they can improve their designs.</p>
      </div>
    </div>
  </div>

{% endblock content %}
