{% extends "base.html" %}

{% block title %}
  Order Confirmation
{% endblock title %}

{% block javascript %}
{% endblock javascript %}

{% block css %}
{#  <link href="{{ STATIC_URL }}public/css/confirmation.css" rel="stylesheet">#}
{% endblock css %}

{% block content %}

  <div id='items'>
    {% for item in cart %}
      <div id='item_{{ item.id }}' class='thumbnail row-fluid'>
        <div class='photo span4'>
          <a href="{{ item.product.get_absolute_url }}">
            <img src='{{ item.photo.thumb_size }}' alt='{{ item.product.title }}'>
          </a>
        </div>
        <div class='details span8'>
          <ul>
            <li class='name'>
              <a href="{{ item.product.get_absolute_url }}">
                {{ item.product.name }} by {{ item.product.seller.name }}
              </a>
            </li>
            <li class='price'>${{ item.product.display_price }}</li>
          </ul>
        </div>
      </div>
    {% endfor %}
  </div>

  <div id='checkout-form'>
    <div id='address-div' class=''>
      <h4 class='copy-font'>Payment Information</h4>
      <form action="{% url 'manual checkout save' %}" method="POST">
        <div class="row-fluid">
          <div class="span6">
            <ul class="unstyled">
              <li>
                Invoice Receipt<br>
                {{ checkout_form.receipt }}
              </li>
              <li>
                Transaction Notes<br>
                {{ checkout_form.notes }}
              </li>
            </ul>
          </div>
          <div class="span6">
            <ul class="unstyled">
              <li>Currency<br>{{ checkout_form.currency }}</li>
              <li>Cart Total<br>{{ checkout_form.total_charge }}</li>
              <li>Sum of Discounts<br>{{ checkout_form.total_discount }}</li>
              <li>Sum of Customer Payments<br>{{ checkout_form.total_paid }}</li>
              <li>Sum of Refunds<br>{{ checkout_form.total_refunded }}</li>
              <li><button type="submit">Submit and Complete</button></li>
            </ul>
          </div>
        </div>
      </form>
    </div>
  </div>

{% endblock content %}