{% load url from future %}

<div id='manual-checkout-form'>

  <input type='hidden' id='manual_checkout_url' value="{% url 'admin checkout' %}">

  <div id='notes-div' class=''>
    <h4 class='copy-font'>Notes</h4>
    {{ form.notes }}
    <br>
    <h4 class='copy-font'>Receipt</h4>
    {{ form.receipt }}
  </div>

  <div id='submit-div'>
    <h4 style="color: maroon;">Submit to confirm that customer has paid in full.</h4>
    <button id='admin-checkout-button' class='btn btn-info'>Submit</button>
    <button class='admin-checkout-error btn btn-danger' disabled='disabled'>Error</button>
    <button class='admin-checkout-success btn btn-success' disabled='disabled'>Success</button>
    <br>
    <span class='admin-checkout-error'>
      Did you complete the contact info, shipping address, AND notes and receipt information?
      <br>
      Please refresh the page and try again.
      <br>
      If you are still having problems, call Tom.
    </span>
    <span class='admin-checkout-success'>
      Order is not complete, check email for confirmation link.
    </span>
  </div>

</div>
