<html>
<head>
  <title>Edit Product</title>
</head>
<style>


</style>
<body>
<table id="photos_section">
  {% for i in '12345' %}
    <tr><td>
      <div class="photo-upload">
        <input type="file" id="photo_input_{{ i }}" class="photo-input">
        <button id="photo_button_{{ i }}" class="photo-button">{{ i }}</button>
      </div>
    </td></tr>
  {% endfor %}
</table>

<table id="assets_section">
  {? group assets by ilk %}
  {? for asset in ilk_group %}
    <tr><td>

    </td></tr>
  {? endfor %}
</table>

<table id="attributes_section">
  {% for attribute in ('width', 'height', 'length', 'weight', 'price') %}
    <td><tr>
      {{ attribute }}
    </tr></td>
  {% endfor %}
</table>

<table id="shipping_optoin_section">
  <tr>
    <td>
      shipping optoin 1
    </td>
    <td>
      shipping option 2
    </td>
  </tr>
  <tr>
    <td>
      option 1 cost
    </td>
    <td>
      option 2 cost
    </td>
  </tr>
</table>

<div id="summary">

</div>
</body>
</html>
