{#<form class="form-horizontal">#}

  <!-- Product Details -->
  {% for name, value, editable in product_details %}
    <div class="control-group">
      <label class="control-label" for="{{ name|slugify }}">{{ name|title }}</label>
      <div class="controls">
        <input type="text"
               id="{{ name|slugify }}"
               name="{{ name|slugify }}"
               class="autosave input-small"
               value="{{ value|default:'' }}"
               placeholder=""
               {% if not editable %}disabled{% endif %}
        >
      </div>
    </div>
  {% endfor %}

{#  <!-- Generate Estimates Button -->#}
{#  <div class="control-group">#}
{#    <label class="control-label" for="base-product"></label>#}
{#    <div class="controls">#}
{#      <button id="generate-estimates" class="btn btn-info">Generate Estimates</button>#}
{#    </div>#}
{#  </div>#}

  <!-- Pricing Details -->
  {% for name, value, editable in pricing_details %}
    <div class="control-group">
      <label class="control-label" for="{{ name|slugify }}">{{ name|title }}</label>
      <div class="controls">
        <input type="text"
               id="{{ name|slugify }}"
               name="{{ name|slugify }}"
               class="autosave input-small"
               value="{{ value|default:'' }}"
               placeholder=""
               {% if not editable %}disabled{% endif %}
        > <span class="comment"></span>
      </div>
    </div>
  {% endfor %}

{#  <!-- Send Invoice Button -->#}
{#  <div class="control-group">#}
{#    <label class="control-label" for="base-product"></label>#}
{#    <div class="controls">#}
{#      <button id="generate-estimates" class="btn btn-info">Send Invoice</button>#}
{#    </div>#}
{#  </div>#}

{#</form>#}
