{% extends "admin_base.html" %}
{% load commission_tags %}

{% block title %}
  Commission {{ commission.id }}
{% endblock title %}

{% block javascript %}
  <script src='{{ STATIC_URL }}vendor/blueimp-file-upload/js/vendor/jquery.ui.widget.min.js'></script>
  <script src='{{ STATIC_URL }}vendor/blueimp-file-upload/js/jquery.iframe-transport.min.js'></script>
  <script src='{{ STATIC_URL }}vendor/blueimp-file-upload/js/jquery.fileupload.min.js'></script>
  <script src='{{ STATIC_URL }}vendor/jquery-autosave/js/jquery-autosave.js'></script>
  <script src="{{ STATIC_URL }}admin/js/commission.js?v=0"></script>
{% endblock javascript %}

{% block css %}
{#  <link href="{{ STATIC_URL }}admin/css/commission.css" rel="stylesheet">#}
{% endblock css %}

{% block logo %}
  <ul class="inline">
    <li><a href="{% url 'admin:commissions' %}"><i>C</i></a></li>
    <li><i>{{ commission.public_id }}</i></li>
    {% if commission.base_product %}
      <li>{{ commission.base_product.seller.name }}</li>
    {% else %}
      <li>
        <form method="post" action="{% url 'admin:commission' commission.id %}">
          <input type="tel" class="input-mini"
                 name="base_product_id"
                 width="6">
          <button id="base-product-submit"
                  class="btn btn-success"
                  type="submit"
                  >Assign Base Product</button>
        </form>
    </li>
    {% endif %}
    <li><button id="cancel-commission"
                class="autosave btn btn-danger"
                data-name="cancel"
                data-value="cancel"
                data-event="click"
                data-cancel="cancel"
        >Cancel All</button>
    </li>
  </ul>
{% endblock logo %}

{% block content %}
<!-- the location to upload photos to -->
<input type='hidden' id='upload-url' value='{{ CLOUDINARY.upload_url }}'>
<!-- to give cloudinary so they can tell our server when upload is complete -->
<input type='hidden' id='upload-complete-url' value="{% url 'seller:complete upload' %}">
<!-- for JS to check upload completion and get thumb_url -->
<input type='hidden' id='upload-check-url' value="{% url 'seller:check image upload' %}">
{#<input type='hidden' id='update-commission-url' value='{% url 'admin:update commission' %}'>#}

<!-- for JS to autosave commission details -->
<input type="hidden" id="autosave-url" value="{% url 'admin:commission' commission.id %}">

<form id='commission-{{ commission.id }}-form' class='data-form form-horizontal'>

  <!-- Base Product Photo -->
  {% if commission.base_product %}
    <div class="control-group">
      <label class="control-label" for="base-product">Base Product</label>
      <div class="controls">
        <a href="{{ commission.base_product.get_absolute_url }}">
          <img src="{{ commission.base_product.photo.pinky_size }}">
        </a>
      </div>
    </div>
  {% endif %}

  <!-- Requirement Photos -->
  <div class="control-group">
    <label class="control-label" for="base-product">Requirement Images</label>
    <div class="controls">
      <ul class="inline">
        {% for image in commission.requirement_images.all %}
          <li>
            <a href="{{ image.original }}"><img src="{{ image.thumb_size }}"></a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <!-- Requirement Images Upload -->
  <input type='hidden' name='commission_id' class='commission-id'
         id='image-{{ commission.id }}-commission-id'
         value='{{ commission.id }}'>

  <input type="hidden" name="commission-image-url"
         value="{% url "admin:commission image" %}">

  <div class="control-group">
    <label class="control-label" for="base-product">Upload Requirement Image</label>
    <div class="controls">
      <ul class="inline">
        <li>
          <div id='image-{{ commission.id }}' class='image'>
            <img src="" height="75" />
          </div>
        </li>

        <li id='progress-{{ commission.id }}' class="progress progress-striped">
          <div id='progress-bar-{{ commission.id }}' class="bar" style="width: 0%;"></div>
        </li>

        <li>
          <input type='file' name='file' class='image-input'
                 id='image-input-{{ commission.id }}'
                 accept='*'
                 capture='camera'>
        </li>
      </ul>
    </div>
  </div>
  <!-- End Requirement Images Upload -->

  <!-- commission_details template tag -->
  {% commission_details commission %}

  <!-- Progress Photo Upload -->
  <input type="hidden" name="progress-photo-url"
         value="{% url "admin:commission progress photo" %}">

  <input type='hidden' name='commission_id' class='commission-id'
         id='image-{{ commission.id }}-commission-id'
         value='{{ commission.id }}'>

  <div class="control-group">
    <label class="control-label" for="base-product">Upload Progress Photo</label>
    <div class="controls">



    </div>
  </div>
  <!-- End Progress Photo Upload -->

  <!-- Progress Photos -->
  <div class="control-group">
    <label class="control-label" for="progress-photos">Progress Photos</label>
    <div class="controls">
      <ul id="progress-photos" class="unstyled">
        {% for photo in commission.progress_photos.all %}
          <li>
            <a href="{{ photo.original }}"><img src="{{ photo.thumb_size }}"></a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>


  <!-- Final Product -->
  <div class="control-group">
    <label class="control-label" for="product">Product</label>
    <div class="controls">

      {% if commission.product and commission.is_complete %}
        <a href="{{ commission.product.get_absolute_url }}">
          <img src="{{ commission.product.photo.pinky_size }}">
        </a>

      {% elif commission.product %}
        <a href="{% url 'seller:edit product' commission.product_id %}">
          <i class="symbol-product-add"></i>
        </a>

      {% else %}
        <i class="symbol-product-add"></i>
      {% endif %}

    </div>
  </div>
  <!-- End Final Product -->

</form>
{% endblock content %}
