{% extends "admin_base.html" %}
{% load commission_tags %}

{% block title %}
  Commission {{ commission.id }}
{% endblock title %}

{% block javascript %}
  <script src='{{ STATIC_URL }}vendor/blueimp-file-upload/js/vendor/jquery.ui.widget.min.js'></script>
  <script src='{{ STATIC_URL }}vendor/blueimp-file-upload/js/jquery.iframe-transport.min.js'></script>
  <script src='{{ STATIC_URL }}vendor/blueimp-file-upload/js/jquery.fileupload.min.js'></script>
  <script src="{{ STATIC_URL }}admin/js/commission.min.js?v=0"></script>
{% endblock javascript %}

{% block css %}
  <link href="{{ STATIC_URL }}admin/css/commission.css" rel="stylesheet">
{% endblock css %}

{% block logo %}
  <i>{{ commission.public_id }}</i>
  {{ commission.base_product.seller.name }}
{% endblock logo %}

{% block content %}
<!-- the location to upload photos to -->
<input type='hidden' id='upload-url' value='{{ CLOUDINARY.upload_url }}'>
<!-- to give cloudinary so they can tell our server when upload is complete -->
<input type='hidden' id='upload-complete-url' value="{% url 'seller:complete upload' %}">
<!-- for JS to check upload completion and get thumb_url -->
<input type='hidden' id='upload-check-url' value="{% url 'seller:check image upload' %}">
{#<input type='hidden' id='update-commission-url' value='{% url 'admin:update commission' %}'>#}

<ul class="unstyled">
  <li id="requirement-images">
    requirement images
    <ul class="inline">
      <li>
        {% for image in commission.requirement_images.all %}
          <a href="{{ image.original }}"><img src="{{ image.thumb_size }}"></a>
        {% endfor %}
      </li>
    </ul>

    <div id='image-{{ commission.id }}-upload-div' class='image-upload-div'>

      <div id='image-{{ commission.id }}' class='image'>
        <img src="" width="100" height="75" />
      </div>

      <div id='spinner-{{ commission.id }}' class='spinner-div'></div>

      <div id='progress-{{ commission.id }}' class="progress progress-striped">
        <div id='progress-bar-{{ commission.id }}' class="bar" style="width: 0%;"></div>
      </div>

      <div id='image-forms-{{ commission.id }}' class='image-forms'>
        <form id='data-form-{{ commission.id }}' class='data-form'
              method='post' action='{% url "admin:commission image" %}'>

          <input type='hidden' name='commission_id' class='commission-id'
                 id='image-{{ commission.id }}-commission-id'
                 value='{{ commission.id }}'>

        </form>

        <form id='upload-form-{{ commission.id }}' class='upload-form' onsubmit='return false;'>
          <span class='file-wrapper'>

            <input type='file' name='file' class='image-input'
                   id='image-input-{{ commission.id }}'
                   accept='*'
                   capture='camera'>

            <span class='file-button btn symbol-camera black'></span>
          </span>
        </form>
      </div>
    </div>
  </li>
</ul>


<form class="form-horizontal">

  {% commission_details commission %}

</form>


{% endblock content %}
