{# data = order #}

{% extends "email_base.html" %}
{% load url from future %}

{% block snippet %}
  Thank you for your purchase at Anou!
{% endblock snippet %}

{% block headline %}
  Item Confirmed
{% endblock headline %}

{% block tagline %}
  <a href="http://www.theanou.com/checkout/confirmation/{{ data.checkout.public_id }}">
    view order online
  </a>
{% endblock tagline %}

{% block body %}

  Hi {{ data.checkout.name }},<br>
  <br>
  Your order for the
  <a href="http://www.theanou.com{{ data.product.get_absolute_url }}">
    {{ data.product.name }}
    from
    {{ data.product.seller.city }}, Morocco
  </a>
  was just confirmed by
  <a href="http://www.theanou.com{{ data.product.seller.get_absolute_url }}">
    {{ data.product.seller.name }}
  </a>
  and they are preparing to send it to you.
  We will notify you again when they send it.<br>
  <br>
  That should be soon, barring any banking holidays or family weddings (those can last a couple days). We also hope to provide you with the package tracking number, but not every post office provides them.<br>
  <br>
  Item Confirmed:<br>
  <table>
      <tr>
        <td>
          <a href="http://www.theanou.com{{ data.product.get_absolute_url }}">
            <img src="{{ data.product.photo.pinky_size }}" width="75" height="75">
          </a>
        </td>
        <td valign="middle">
          <a href="http://www.theanou.com{{ data.product.get_absolute_url }}">
            {{ data.product.name }}
            from
            {{ data.product.seller.city }}, Morocco
          </a>
        </td>
      </tr>
      {{ data.products.0.name }}
  </table>
{% endblock body %}

{% block closing %}
  If you are having anything short of the most satisfying experience,
  please reply to this email or write to us at
  <a href="mailto:hello@theanou.com">hello@theanou.com</a>.
  We would love to hear from you!<br>
  <br>
  Sincerely,<br>
  The Anou Team
{% endblock closing %}
