{% extends "old-base.html" %}
{% load url from future %}

{% block title %}
  Admin
{% endblock title %}

{% block header %}
  <div id='base-logo' class='pull-left'>
    {% block logo %}
      <a href="{% url 'home' %}">
        <img src="{{ STATIC_URL }}images/Anou_logo_80x50.png" alt="Anou Homepage">
      </a>
    {% endblock logo %}
  </div>

  {% block admin_nav %}{% endblock admin_nav %}

  <div id='base-navigation'>
    <ul class='pull-right'>

      <li>
        <a href="{% url 'admin:home' %}"
           class='symbol-admin-dashboard anou-blue' title='admin dashboard'></a>
      </li>

      <li>
        <a href="{% url 'logout' %}"
           class='symbol-logout red' title='logout'></a>
      </li>

      <li>
        <a href="{% url 'seller:home' %}"
           class='symbol-go anou-blue' title='artisan account'></a>
      </li>

    </ul>
  </div>
{% endblock header %}

{% block google_analytics_tracking_id %}UA-43146187-5{% endblock %}

