{% extends "admin_base.html" %}

{% block css %}
  <style>
    #dashboard li{
      height: 75px;
    }
    li a[class*="symbol-"] {
      font-size: 40pt;
      height: 50px;
    }

    .googledoc, .googledrive, .googlepres, .googlesheet
    { display: inline-block; background: url("{{ STATIC_URL }}images/buttons/google-sprite.png") no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }

    .googledoc { background-position: -10px -0px; width: 55px; height: 55px; }
    .googledrive { background-position: -75px -0px; width: 55px; height: 55px; }
    .googlepres { background-position: -10px -65px; width: 55px; height: 55px; }
    .googlesheet { background-position: -75px -65px; width: 55px; height: 55px; }
  </style>
{% endblock css %}

{% block content %}

  <div id='dashboard' class='row-fluid'>
    <div class='span12 text-center'>
      <ul class='unstyled pull-left'>
        {% if request.session.admin_type in "translator, trainer, country, master" %}
          <li>
            <a href="{% url 'admin:seller accounts' %}"
               class='symbol-sellers blue'
               title='seller accounts'></a>
          </li>
        {% endif %}

        {% if request.session.admin_type in "trainer, country, master" %}
          <li>
            <a href="{% url 'admin:create seller' %}"
               class='symbol-seller-add green'
               title='create seller'></a>
          </li>
        {% endif %}

        {% if request.session.admin_type in "translator, trainer, country, master" %}
          <li>
            <a href="{% url 'admin:admin accounts' %}"
               class='symbol-admins blue'
               title='admin accounts'></a>
          </li>
        {% endif %}

        {% if request.session.admin_type in "country, master" %}
<!--          <li>
            <a href="{% url 'admin:create admin' %}"
               class='symbol-admin-add green'
               title='create admin'></a>
          </li>-->
        {% endif %}

        {% if request.session.admin_type in "translator, trainer, country, master" %}
          <li>
            <a href="{% url 'admin:edit account' %}"
               class='symbol-profile red'
               title='my account'></a>
          </li>
        {% endif %}
      </ul>

      <ul class='unstyled pull-right'>
        {% if request.session.admin_type in "trainer, country, master" %}
          <li>
            <a href="{% url 'admin:stats' %}"
               class='symbol-chart purple'
               title='statistics'></a>
          </li>

          <li>
            <a href="{% url 'admin:research' %}"
               class='symbol-world purple'
               title='research'></a>
          </li>
        {% endif %}

        {% if request.session.admin_type in "country, master" %}
          <li>
            <a href="{% url 'admin:all sms' %}"
               class='symbol-SMS blue'
               title='SMS'></a>
          </li>

          <li>
            <a href="{% url 'admin:all email' %}"
               class='symbol-email blue'
               title='email'></a>
          </li>

          <li>
            <a href="https://drive.google.com/a/theanou.com/#folders/0B6IClx1EtpNycTI1bXVrVGN1X2s"
               class='googledrive'
               title='sheet'></a>
          </li>

          <li>
            <a href="https://docs.google.com/a/theanou.com/document/d/1lr0k6mm93KCZIZcYx6eeuEBm_m8w95ELCwnsod2Z7Pw/edit"
               class='googledoc'
               title='sheet'></a>
          </li>

          <li>
            <a href="https://docs.google.com/a/theanou.com/spreadsheets/d/1pv9fm-O6H_xghrxgpJLQ85B3Sg7RsXiV_BwlqNTBRF4/edit#gid=0"
               class='googlesheet'
               title='sheet'></a>
          </li>
        {% endif %}
      </ul>

      <ul class='unstyled'>
        {% if request.session.admin_type in "trainer, country, master" %}
          <li>
            <a href="{% url 'admin:review products' %}"
               class='symbol-product-check blue'
               title='review products'></a>
          </li>

          <li>
            <a href="{% url 'admin:price calc' %}"
               class='symbol-money-calc purple'
               title='price calc'></a>
          </li>

          <li>
            <a href="{% url 'admin:orders' %}"
               class='symbol-orders gold'
               title='orders'></a>
          </li>

          <li>
            <a href="{% url 'commission:commissions' %}"
               class='symbol-commissions blue'
               title='custom orders'>C</a>
          </li>
        {% endif %}

        {% if request.session.admin_type in "country, master" %}
          <li>
            <a href=""
               class='symbol-custom-order gold'
               title='custom orders'></a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>

  <div class='row-fluid'>
    <div class='span12'>
      {% if request.session.admin_type in "master" %}
        <h3>Master Tools</h3>
        <ul class='unstyled'>
          <li>
            <a href="{% url 'admin:cache' %}">Cache Management</a>
          </li>
          <li>
            <a href="{% url 'admin:product lookup' %}">Etsy/eBay Product Info</a>
          </li>
          <li>
            <a href="{% url 'admin:unrated products' %}">Rate Products</a>
          </li>
        </ul>
      {% endif %}

      {% if request.session.admin_type in "master" and request.session.username == 'tom' %}
        <h3>Backend Setup</h3>
        <ul class='unstyled'>
          <li>
            <a href="{% url 'admin:currency' %}">Currency</a>
          </li>
          <li>
            <a href="{% url 'admin:country' %}">Country</a>
          </li>
          <li>
            <a href="{% url 'admin:color' %}">Color</a>
          </li>
          <li>
            <a href="{% url 'admin:category' %}">Category</a>
          </li>
          <li>
            <a href="{% url 'admin:shipping option' %}">Morocco Shipping Option</a>
          </li>
          <li>
            <a href="{% url 'admin:image object' %}">Add Image Object</a>
          </li>
        </ul>
      {% endif %}
    </div>
  </div>
{% endblock content %}
