{% extends "admin_base.html" %}

{% block content %}
  {% load url from future %}

  <h3>Accounts</h3>
  <ul>
    <li><a href="{% url 'admin:account create' %}">Create New Account</a></li>
    <li><a href="{% url 'admin:account edit' %}">Edit My Account</a></li>
    <li><a href="{% url 'admin:all accounts' %}">All Accounts</a></li>
  </ul>

  <h3>Products</h3>
  <ul>
    <li><a href="{% url 'admin:review products' %}">Review New Products</a></li>
    <li><a href="{% url 'admin:unrated products' %}">Unrated Products</a></li>
  </ul>

  <h3>Orders</h3>
  <ul>
    <li><a href="{% url 'admin:all orders' %}">Order History</a></li>
  </ul>

  <h3>Communication</h3>
  <ul>
    <li><a href="{% url 'admin:all sms' %}">SMS Messages</a></li>
    <li><a href="{% url 'admin:all email' %}">Email Log</a></li>
  </ul>

  {% if request.session.username == 'tom' %}
    <h3>Global Settings</h3>
    <ul>
      <li><a href="{% url 'admin:currency' %}">Currency</a></li>
      <li><a href="{% url 'admin:country' %}">Country</a></li>
      <li><a href="{% url 'admin:color' %}">Color</a></li>
      <li><a href="{% url 'admin:category' %}">Category</a></li>
      <li><a href="{% url 'admin:rating_subject' %}">Rating Subject</a></li>
      <li><a href="{% url 'admin:shipping_option' %}">Morocco Shipping Option</a></li>
      <li><a href="{% url 'admin:image_object' %}">Add Image Object</a></li>
    </ul>
  {% endif %}

{% endblock content %}
