{% extends "admin_base.html" %}
{% load url from future %}

{% block css %}
  <style>

  </style>
{% endblock css %}

{% block logo %}
  <i class='symbol-world black'></i>
{% endblock logo %}

{% block content %}
  <ul>
    <li>
      <a href="http://www.ebay.com/sch/Rugs-Carpets-/20571/i.html?_from=R40&LH_BIN=1&LH_Sold=1&_nkw=berber+rug" target="_blank">
        Ebay - Rugs
      </a>
    </li>
    <li>
      <a href="http://www.ebay.com/sch/Home-Decor-/10033/i.html?_from=R40&LH_BIN=1&_nkw=moroccan&_dcat=16102&rt=nc&_pppn=r1&LH_Sold=1&LH_Complete=1" target="_blank">
        Ebay - Decor
      </a>
    </li>
    <li>
      <a href="http://www.pinterest.com/apartmentf15/morocco-inspiration/" target="_blank">
        Pinterest - Design
      </a>
    </li>
    <li>
      <a href="http://www.pinterest.com/daveandmalikah/interior-design-moroccan-and-arabic-inspired/" target="_blank">
        Pinterest - Decor
      </a>
    </li>
    <li>
      <a href="http://www.etsy.com/search/handmade/jewelry?q=moroccan&view_type=gallery&ship_to=ZZ" target="_blank">
        Etsy - Jewerly
      </a>
    </li>
    <li>
      <a href="http://www.etsy.com/search/handmade/jewelry?q=berber&view_type=gallery&ship_to=ZZ" target="_blank">
        Etsy - Jewelry
      </a>
    </li>
    <li>
      <a href="http://www.etsy.com/search/handmade/housewares?q=moroccan&view_type=gallery&ship_to=ZZ" target="_blank">
        Etsy - Decor
      </a>
    </li>
  </ul>
{% endblock content %}
