{% extends "admin_base.html" %}
{% load url from future %}

{% block css %}
  <style>
    ul{list-style:none;}
    #google{cursor:pointer;}
    span[class*=symbol]{font-size: 18pt;}
  </style>
{% endblock css %}

{% block javascript %}
  <script>
    $('#google').one('click', function(){
      product_id = $('#product-id').val()
      url = "{% url 'admin:google product' %}" + "?product_id=" + product_id
      window.location.replace(url);
    });
  </script>
{% endblock javascript %}

{% block logo %}
  <i class='symbol-world black'></i>
{% endblock logo %}

{% block content %}

  <ul class='inline'>
    <li>
      <span class='symbol-solidtag'></span>
    </li>
    <li>
      <input type='text' id='product-id' class='input-mini'>
    </li>
    <li>
      <span id='google' class='symbol-go green'></span>
    </li>
  </ul>

  <ul>

    <li>
      <a href="http://translate.google.com/#ar/en/" target="_blank">
        translate.google.com/#ar/en/</a>
    </li>

    <li>
      <a href="http://www.shop.heavenlygiftsstore.com/Round-Thuya-Wood-Pencil-Cup-K-TW-RWPC-BRW.htm" target="_blank">
        www.shop.heavenlygiftsstore.com/Round-Thuya-Wood-Pencil-Cup-K-TW-RWPC-BRW.htm
      </a>
    </li>
    <li>
      <a href="http://www.moroccanbuzz.com" target="_blank">
        www.moroccanbuzz.com
      </a>
    </li>
    <li>
      <a href="http://www.overstock.com/Worldstock-Fair-Trade/Thuya-Wood-Pencil-Cup-Morocco/7920933/product.html" target="_blank">
        www.overstock.com/Worldstock-Fair-Trade/Thuya-Wood-Pencil-Cup-Morocco/7920933/product.html
      </a>
    </li>

    <li>
      <a href="http://soukmorocco.tictail.com/product/sequine-basket" target="_blank">
        soukmorocco.tictail.com/product/sequine-basket
      </a>
    </li>
    <li>
      <a href="https://www.facebook.com/OneEarthKaren" target="_blank">
        www.facebook.com/OneEarthKaren
      </a>
    </li>
    <li>
      <a href="http://kantararugs.com/collections/all" target="_blank">
        kantararugs.com/collections/all
      </a>
    </li>
    <li>
      <a href="http://www.medina-touch.com/moroccan-lamp.htm" target="_blank">
        www.medina-touch.com/moroccan-lamp.htm
      </a>
    </li>
    <li>
      <a href="http://www.moroccanbazaar.co.uk/lighting/table-lamps/Fine-Table-Lamps/FLAME-T75.html" target="_blank">
        www.moroccanbazaar.co.uk/lighting/table-lamps/Fine-Table-Lamps/FLAME-T75.html
      </a>
    </li>
    <li>
      <a href="https://www.etsy.com/shop/pinkrugco?ref=l2-shopheader-name" target="_blank">
        www.etsy.com/shop/pinkrugco?ref=l2-shopheader-name
      </a>
    </li>
    <li>
      <a href="http://www.moroccodesigns.com/morocco-home-decors-products-index.htm" target="_blank">
        www.moroccodesigns.com/morocco-home-decors-products-index.htm
      </a>
    </li>
    <li>
      <a href="https://www.etsy.com/shop/lacasadecoto?ref=l2-shopheader-name" target="_blank">
        www.etsy.com/shop/lacasadecoto?ref=l2-shopheader-name
      </a>
    </li>
    <li>
      <a href="http://www.redthreadsouk.com/blankets" target="_blank">
        www.redthreadsouk.com/blankets
      </a>
    </li>
    <li>
      <a href="http://www.pinterest.com/helloanou/%D8%A7%D9%84%D8%A8%D8%AD%D8%AB/" target="_blank">
        <img src="{{ STATIC_URL }}images/buttons/pinterest-logo.jpg" width="50" height="50">
      </a>
    </li>

    <li>
      <a href="http://www.pantone.com/pages/index.aspx?pg=21129" target="_blank">
        <span style='color:#B163A3; border:2px solid #B163A3;'>2014 color of the year</span>
      </a>
    </li>

    <li>
      <a href="http://www.ebay.com/sch/Rugs-Carpets-/20571/i.html?_from=R40&LH_BIN=1&LH_Sold=1&_nkw=berber+rug" target="_blank">
        Ebay - Rugs
      </a>
    </li>
    <li>
      <a href="http://www.ebay.com/sch/Home-Decor-/10033/i.html?_from=R40&LH_BIN=1&_nkw=moroccan&_dcat=16102&rt=nc&_pppn=r1&LH_Sold=1&LH_Complete=1" target="_blank">
        Ebay - Decor
      </a>
    </li>
    <li>
      <a href="http://www.pinterest.com/apartmentf15/morocco-inspiration/" target="_blank">
        Pinterest - Design
      </a>
    </li>
    <li>
      <a href="http://www.pinterest.com/daveandmalikah/interior-design-moroccan-and-arabic-inspired/" target="_blank">
        Pinterest - Decor
      </a>
    </li>
    <li>
      <a href="http://www.etsy.com/search/handmade/jewelry?q=moroccan&view_type=gallery&ship_to=ZZ" target="_blank">
        Etsy - Jewerly
      </a>
    </li>
    <li>
      <a href="http://www.etsy.com/search/handmade/jewelry?q=berber&view_type=gallery&ship_to=ZZ" target="_blank">
        Etsy - Jewelry
      </a>
    </li>
    <li>
      <a href="http://www.etsy.com/search/handmade/housewares?q=moroccan&view_type=gallery&ship_to=ZZ" target="_blank">
        Etsy - Decor
      </a>
    </li>
  </ul>
{% endblock content %}
