
.left-navigation li {
  padding: 0.2em 1.5em;
}

.top-navigation li {
  padding: 2em .5em;
}

#anou-carousel{

}

#main{

}

#search-toolbar{
  background-color: #999;
  padding: 10px 10px 0;
}

.carousel-caption > a, p, h1, h2, h3, h4, h5, h6{
  color: #BBB;
  text-align: center;
}
