.left-navigation li{
  padding: 0.1em 0;
  max-width: 160px;
}
.left-navigation li a{
  padding: 0.5em 1.5em 0.5em 0;
  font-size: 24pt;
}

.top-navigation li{
  padding: 2em .5em;
}

#anou-carousel{

}

#main{

}

#search-toolbar{
  background-color: rgba(0,0,0,0.3);
  padding: 10px 10px 0;
  margin: 10px 0 20px;
}

.carousel-caption > a, p, h1, h2, h3, h4, h5, h6{
  color: #BBB;
  text-align: center;
}

/* Product Container */
#product-container{
  width: 100%
}
#product-container .product{
}

.right-side, .left-side{
  max-width: 300px;
}

.product .title{
  z-index: 5;
  height: 3em;
  text-align: center;
}
.product .title p{
  padding: 0.5em 0;
  font-size: 16pt;
  color: rgba(0,0,0,0.7);
  background-color: rgba(200,200,200,0.5);
}

.product .photo, .artisan-image{
  z-index: -1;
  position: relative;
  top: -3em;
  margin: 0px;
  padding: 0px;
}

.extra{
  display: none;
}

.product .extra-photos{
  position: relative;
  top: -3em;
  padding: 5px 0;
}

.product .extra-photos div{
  margin: 0;
  padding: 0;
  border: none;
  max-width: 100px;
  width: 33.33%
}

.product .title-artisan{
}

.product .details{
  position: relative;
  top: -3em;
  padding: 0.5em;
  text-align: center;
}
