
#info-left ul{
  list-style: none;
  text-align: center;
}

#artisan-profiles .thumbnail{
  max-width: 300px;
  border: none;
  box-shadow: 0 0 0 0;
  margin: auto;
}
#artisan-profiles .title{
  position: relative;
  top: -3em;
}
#artisan-profiles .description{
  position: relative;
  top: -2em;
}
#info-left #store-bio, .artisan-description{
  text-align: justify;
}

#products .thumbnail{
  max-height: 304px;
  max-width: 300px;
  border: none;
  box-shadow: 0 0 0 0;
  margin: auto;
}
#products .thumbnails li{
  margin-bottom: 0px;
}

.thumbnail .title{
  z-index: 5;
  height: 3em;
  text-align: center;
}
.thumbnail .title p{
  padding: 0.5em 0;
  max-width: 300px;
  font-size: 16pt;
  color: rgba(0,0,0,0.7);
  background-color: rgba(200,200,200,0.5)
}
.thumbnail .photo{
  z-index: -1;
  position: relative;
  top: -3em;
  margin: 0;
  padding: 0;
}

.thumbnail .extra-photos{
  position: relative;
  top: -3em;
}
.extra .pinky{
  margin: 0px;
  max-width: 100px;
  width: 33.333%
}
.extra-photos .first-extra-photo{
  padding: 6px 4px 6px 0px;
}
.extra-photos .second-extra-photo{
  padding: 6px 2px;
}
.extra-photos .third-extra-photo{
  padding: 6px 0px 6px 4px;
}
